[2016-01-27 16:52] ocefpaf commented on #338
You will need the Proj4 plugin that, currently, it is not available on folium.

Take a look at this example for more information on how to do that:

http://www.aoos.org/creating-a-web-based-polar-projected-map/

[2016-01-29 17:42] timster opened #339 "Circle radius units"
The folium documentation for a circle says that the radius parameter is "Circle radius in pixels"

http://folium.readthedocs.org/en/latest/#circle-markers

The live example shows that it's calling L.circle() JavaScript method and passing the radius to that method.

Jumping over to Leaflet documentation, it says that radius is "... radius of a circle. Units are in meters."

http://leafletjs.com/ref

[2016-01-30 19:43] dantasse opened #340 "Plotting text on map?"
Hi! First of all, thanks everyone for Folium. Totally love it.

My question is: is there a plan to support drawing text directly on maps, instead of as a popup? (something like this: [Google Maps JS Map Label](https://github.com/googlemaps/js-map-label))
I'm guessing there isn't because it doesn't look like it's supported in Leaflet either, but just wanted to check. Thanks much!

(also, sorry if t

[2016-01-31 14:18] ocefpaf commented on #340
Thanks!

Plans? No.  But that is definitely a nice feature to have.

I'm guessing there isn't because it doesn't look like it's supported in Leaflet either, but just wanted to check. Thanks much!

Maybe leaflet has something similar.  If you can find it it should not be too hard to implement.

It is.

[2016-01-31 15:00] BibMartin commented on #340
This is something that was supposed to be possible with `DivIcon` ; idea base on #166.

I must admit that DivIcon is not ready today.
But a small hack leads to the result: see http://nbviewer.jupyter.org/gist/BibMartin/ec2a96034043a7d5035b

If one of you two beats me at doing the PR, it'd be great.

[2016-01-31 15:02] ocefpaf commented on #340
Awesome!  I can see a few more uses for that too :wink:

I am away from "fun work" for a while.  My laptop is dead and I am doing only the essential for my day job with a borrowed one :unamused:

[2016-02-03 02:55] agravier opened #341 "Highlight map elements on mouseover/click"
Hi team,

Thank you for developing folium, it's immensely helpful. We're using it to display routes on a map. To declutter some complicated routing maps, I would like to be able to highlight tagged groups of polylines (corresponding to a group of routes) by mouseover/clicking on them. I found some [related leaflet examples](http://leafletjs.com/examples/choropleth.html) online, but I am uncertain

[2016-02-03 17:24] ocefpaf commented on #341
Nice application.

That is not possible right now, but it would be a nice feature to have. Not sure if that is a simple thing to add though...

[2016-02-03 22:43] huevosabio opened #342 "Apostrophe on geojson breaks .geo_json"
I have a geojson that I would like to map, namely [this one](https://raw.githubusercontent.com/codeforamerica/click_that_hood/master/public/data/manhattan.geojson). When I plot it using

[code]
it works; however, if I try to read it into a GeoDataFrame and spit out the geojson string or plainly feed the string from openning the fail it will fail:

[code]

I've narrowed down my main suspect to an a

[2016-02-04 00:34] jilljenn commented on #101
Thanks for this notebook using `create_map`, it helped.

[2016-02-04 01:12] agravier commented on #341
Thanks @ocefpaf. Anything I could do to help with that, given a good knowledge of Python and no knowledge of Javascript? If you gave me an idea on how you would tackle this problem, maybe I could give it a try?

[2016-02-04 06:48] dantasse commented on #340
Hey, neat, thanks! (sorry about the delay, this is "fun work" for me too :) Looks like DivIcon does the trick, really. Like this:

    from folium.features import DivIcon
    m = folium.Map([34.0302, -118.2352], zoom_start=13)
    folium.map.Marker(
        [34.0302, -118.2352],
        icon=DivIcon(
            icon_size=(150,36),
            icon_anchor=(0,0),
            html='<div style="font-

[2016-02-04 09:20] BibMartin commented on #340
@dantasse

Thanks for proposing ; well it's not the funniest part, but it would be great to take the occasion to complete the docstring, and (eventually) provide a test.

[2016-02-04 10:36] BibMartin commented on #341
@agravier

Thanks for your (welcome) help. To give a hint, here is a hack of `folium.GeoJson` template that (almost) do the job.

[code]

Maybe it would worth creating a `highlight_style_function` argument in the same fashion as `style_function` that would write the highlight style in the GeoJson (through `style_data` method). That way,

     {{this.get_name()}}.highlightStyle = ...

would simply

[2016-02-04 14:44] agravier commented on #341
Thank you @BibMartin. Absorbing the info. I'll be back with a PR or with questions (or most likely with both).

[2016-02-04 16:05] agravier commented on #341
Regarding the multi-polygon areas not being reset on mouseout, I'm way out of my depth in the js pool, but comparing the Leaflet example trace to something similar to your hack above, I noticed that in the Folium case, `setAttribute` is not executed. Not sure what that implies. Screenshot below.

<img width="1280" alt="screenshot 2016-02-05 00 02 02" src="https://cloud.githubusercontent.com/assets

[2016-02-04 16:22] btyukodi opened #343 "Creating a globe?"
This is not a bug, just a question (from a newbie).
Apparently this project: http://www.webglearth.org/ has the same API as Leaflet, except that "L." has to be changed to "WE." and then all the maps would be displayed on a 3D globe. I was wondering if there is a simple way to modifiy/add to the source code, something like a GlobeMap object that would work exactly as the Map object, except that the

[2016-02-04 17:56] ocefpaf commented on #343
Interesting.  I knew about Cesium, but had no idea someone wrapped it around Leaflet's API.

In theory yes, but that raises one major concern: saying that  the API is the same (in my experience with software in general) is usually an overstatement. Implementations like that are rarely a drop-in replacement and many unexpected behaviors might arise.

With that said, there is nothing preventing some

[2016-02-04 18:04] ocefpaf commented on #342
@huevosabio I am guessing you are using folium <= v0.1.6, right?  Can you try that with latest master?

[2016-02-04 18:25] ocefpaf commented on #339
You are probably right. I don't recall any conversion in the old API nor in the new one (@Bibmartin). If leaflet says meters it should be meters.  Feel free to send that PR :wink:

[2016-02-04 19:38] BibMartin commented on #339
Beware that Leaflet makes the distinction between `circle` whose radius is in meter, and `circleMarker` whose radius is in pixel (insensitive to zoom).

So this is not only a documentation mistake : we have bound `folium.CircleMarker` onto `leaflet.circle`. (My fault ; sorry) It would worth creating a second object (or an option?) to have both behaviors in folium.

[2016-02-04 19:55] ocefpaf commented on #339
Definitely both ;-)

[2016-02-05 08:21] BibMartin commented on #343
:+1: and I guess this is a reason for not handling this link into folium.

But it is possible to create new `Map3d` and `TileLayer3d` that inherit from folium :

[code]

When using inline notebook representation, i get an `http vs https` issue, but it renders well in a standalone html page.

[2016-02-05 12:45] btyukodi commented on #343
Thanks! Apparently I have an earlier version installed (from pip) but I get the idea. Also, you are right: the API does not support marker clustering for example and that's probably just one of the possible issues.

[2016-02-05 13:10] ocefpaf commented on #343
Are you using firefox?  I could not run your example on firefox, had to change to Chromium to see it.  (Awesome BTW!)

Maybe the problem is that the notebook is related to this:

https://github.com/ocefpaf/python4oceanographers/issues/1#issuecomment-179476087

[2016-02-05 13:43] BibMartin commented on #343
Yes, there's at least a mix-content issue. This is why I've put the lib in https ; but maybe it's not enough.
It would worth trying to download it and serve it oneself.

btw : my default browser is opera ; it makes a third testing env.

[2016-02-05 13:45] ocefpaf commented on #343
And real corner case one :wink:

[2016-02-06 16:38] xiaofeima1990 opened #345 "how to use mapbox"
Dear everyone:
I am sorry for this silly question. But I very really frustrated with the command:
`custom = folium.Map(location=[45.5236, -122.6750], tiles='Mapbox',
                    API_key='wrobstory.map-12345678')`
I can not get any map from my mapbox style. I was wondering what kinds of info should I filling in the **tiles** and **API_key**
Is mapbox **token** and **map id** useful to foliu

[2016-02-06 16:57] xiaofeima1990 commented on #345
I found that when I use
[code]
I got the right picture

[2016-02-07 05:33] Kiminaka opened #346 "Folium Choropleth map marker is not working?"
Hi first of all, thanks for building the cool interactive visualization library :)
Just a question (not a bug report).

I'm a newbie and am trying to follow the blog post from Domino lab, Creating interactive crime maps with Folium(http://blog.dominodatalab.com/creating-interactive-crime-maps-with-folium/). And I found that the code is probably too old to run the Folium's Choropleth map marker. I

[2016-02-07 15:43] ocefpaf commented on #346
I believe that Domino lab used the released version of folium (`v0.1.6`) available at PyPI.  If you are using the `master` branch you'll notice that a lot has changed (and the `choropleth` mechanism was completely re-written).

You will have to dig the new `docstrings` for the new syntax until we get this release out of the door.  If reading docs is not your forte take a look at the example galler

[2016-02-07 15:43] #346 closed

[2016-02-07 15:52] ocefpaf commented on #345
@xiaofeima1990 using your the tile URL + the access token, like you did, is probably your best bet for now.

[2016-02-07 19:33] BibMartin commented on #140
@ocefpaf @themiurgo
I guess we can this issue, based on #329, #334, #337, #344 and #347 ...

Release seems so close !

[2016-02-07 19:36] ocefpaf commented on #140
I'd say that 99% is done.  So let's close it and open new (and more specific) issues with what needs to be done.  (But do not tag them with `v0.2.0`.  We are done with docs that the next release :wink:)

[2016-02-07 19:36] #140 closed

[2016-02-07 19:43] BibMartin commented on #140
:tada:

[2016-02-09 22:22] huevosabio commented on #342
@ocefpaf , yes, I am using folium==v0.1.6,

I'll give it a try with the latest master.

[2016-02-11 03:34] BibMartin opened #349 "Split folium ?"
I'm doing several things mixing folium with crossfilters and nvd3 these days.

As discussed in #300, it may worth externalizing things from folium for it to focus on Leaflet integration.

I would propose to split folium into:

* `folium` = the leaflet part
* `branca` = the `element + colormap` part

(any other name suggestion is welcome ; I think about branca because it means "branch" in latin and

[2016-02-11 11:20] ispmarin opened #350 "Plot lines with start coordinates and end coordinates"
Hi there,

I was wondering if there is a way to plot lines and add to a map using folium. It seems that there is something implemented but not documented:

https://github.com/jwass/folium/commit/865eda47ddcec937ab22fa39503cebb11a754a69#commitcomment-6469995

Any ideas?

[2016-02-11 17:06] ocefpaf commented on #350
Take a look at this example:

http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_lines.ipynb

New docs are coming...

[2016-02-11 17:06] #350 closed

[2016-02-11 19:17] ispmarin opened #351 "Use folium offline"
I'm planning on using folium to plot a few maps but noticed that everytime I replot something folium goes  back to the internet and fetch the map data. Is there a way to configure it to download all map data and use it offline?

[2016-02-11 19:28] ocefpaf commented on #351
Not really.  The whole goal of folium is to leverage the base map using a Web Tile Service (WTS). (And in some cases even more than just the base map is downloaded.)

Maybe someone could implemente a cache system to save a certain area/zoom level, like phones do, to work offline.  A PRs with such functionality would be welcomed :wink:

[2016-02-11 19:28] #351 closed

[2016-02-11 19:30] ocefpaf commented on #349
:+1:

I am fine with that.  I imagine that `branca` would depend only on `Jinja2` and standard library, right?

[2016-02-11 19:51] ocefpaf commented on #351
BTW, if you your goal is to produce static figures, take a look at [cartopy](http://scitools.org.uk/cartopy/).

[2016-02-11 19:54] ispmarin commented on #351
Thanks @ocefpaf. I'm doing an [evaluation](https://github.com/ispmarin/maps) of the mapping options ATM for Python and being interactive is one of my requisites. I'm looking at cartopy but so far there are several problems installing it.

[2016-02-11 19:57] ocefpaf commented on #351
Do you use [`conda`](http://conda.pydata.org/docs/)? If so try:

`conda install -c ioos cartopy`

[2016-02-11 20:11] ispmarin commented on #351
Nope, using standard pip, and it seems that [the problem](https://github.com/SciTools/cartopy/issues/726) is something with the underlying libraries. It installs fine.

[2016-02-12 15:58] ispmarin commented on #349
The geo elements (line, polyline, etc) that are equivalent to OGC geographical operations? Like [shapely](http://toblerity.org/shapely/manual.html#general-attributes-and-methods) operations?

[2016-02-12 18:36] ocefpaf commented on #345
Oops.  I guess we can close this.

[2016-02-12 18:36] #345 closed

[2016-02-12 18:37] ocefpaf commented on #342
My tests cannot confim that.  Closing this.  Please re-open if you cannot make this work with the latest version.

[2016-02-12 18:37] #342 closed

[2016-02-12 18:40] ocefpaf commented on #245
Argh.  This one fell under the cracks.  I guess we should solve this before the release.

@BibMartin What do you think?  I can assign myself and solve this first tomorrow.

[2016-02-12 18:45] ocefpaf commented on #343
I wonder if we should add this in folium or just an a notebook example on how to hack folium?  I don't want to maintain something like that just because it is cool.  But I also think we should show users that it is possible with some small piece of code.

[2016-02-12 18:47] ocefpaf commented on #235
Since this is implemented in the next release I am closing this.  Please reopen if the problem re-surfaces.

[2016-02-12 18:47] #235 closed

[2016-02-12 18:49] ocefpaf commented on #268
Implemented in #355

[2016-02-12 18:49] #268 closed

[2016-02-12 18:52] #314 closed

[2016-02-12 18:53] ocefpaf commented on #314
Not worth the effort now.  I might revisit the idea in the future.

[2016-02-12 18:54] BibMartin commented on #245
I have done a part of the job in creating `add_child` beside `add_children`.
But it's still needed to replace all calls to `add_children` by `add_child`.

[2016-02-12 18:55] ocefpaf commented on #192
Closing this.  If `v0.2.0` still have that problem please re-open.

[2016-02-12 18:55] #192 closed

[2016-02-12 18:56] ocefpaf commented on #245
Saw that, but do we need both?  I guess that, since we never released this API (yet), we can just change it now. Or am I missing something?

[2016-02-12 18:57] BibMartin commented on #343
:+1: This is definitely too instable for being incorporated to Folium. A Notebook example in folium-notebooks would be fine.

[2016-02-12 19:00] BibMartin commented on #245
This will be unpleasant for those who are working on master for months (me).
But maybe it's the best solution. This `add_children` method is nonesense.

[2016-02-12 19:01] ocefpaf commented on #245
Me too :unamused:, but I was going to bite the bullet.  I guess that we (I) delayed `v0.2.0` so much that keeping both and deprecating is probably the way to go...

[2016-02-12 19:02] ocefpaf commented on #245
With that said I will make the release and add this goal to `v0.3.0`.

[2016-02-12 19:04] ocefpaf commented on #343
Done http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/a68a89ae28587e6a9fbb21e7a1bd6042183a11bf/test_3D.ipynb.

(Closing this.)

[2016-02-12 19:04] #343 closed

[2016-02-12 19:05] stleon commented on #268
Cool work) thanks

[2016-02-12 19:07] BibMartin commented on #343
Awesome!

[2016-02-12 19:09] ocefpaf opened #357 "Notebook gallery"
- [ ] transfer https://github.com/ocefpaf/folium_notebooks to `python-visualization` (fix docs link)
- [ ] organize them, add better names, some descriptions, etc
- [ ] re-run them against latest release

[2016-02-12 19:25] btyukodi commented on #343
Excellent! Thank you all!

[2016-02-13 19:05] themiurgo opened #360 "HTML in Popup text"
HTML in popups is not recognised. How do I show fancy bold and italic text? :)

[2016-02-14 15:07] BibMartin opened #361 "Links broken in the docs (quickstart.html)"
In the docs, links inside the quickstart notebook are broken.
For example in the end of the file, we read:

*For more choropleth example, please visit GeoJSON and choropleth.ipynb*

We can fix it in putting a full-url ; or in compiling the other example notebooks in the docs.

[2016-02-14 15:45] ocefpaf commented on #361
OK. That needs to be fixed before uploading the new release to PyPI.  I am on it.

[2016-02-14 19:24] #361 closed

[2016-02-14 20:22] brkygur opened #363 "'module' object has no attribute 'Map'"
Hello all,
I have installed folium through pip install and I've been trying to produce a choropleth map with it. I'm using python (x,y) with spyder IDE and had no problems with opening maps. Today it's been giving this error code.

This is the code I have been using.
[code]
Here is the rest of the error code in case it is also needed.

[code]

Thank you beforehand,
Berkay Gür

[2016-02-14 20:25] ocefpaf commented on #363
Can you give a little more info on how you installed?  Which version?  Are you using any development branch?

[2016-02-14 20:30] brkygur commented on #363
I simply opened the command prompt and typed pip install folium. I reinstalled it today. It is 0.1.6. No I don't think I am using any development branch.

[2016-02-14 20:50] ocefpaf commented on #363
Can you do this,

[code]

from the command line and paste the result here.

[2016-02-14 20:54] brkygur commented on #363
I have just pasted it on the command prompt (admin). Here are the results

[2016-02-14 20:57] ocefpaf commented on #363
OK.  Folium is installed properly and it is working.

I see that you are using spyder, right? That might be clobbering the folium module.  Since I don't use it I cannot help you there.... Sorry.

Please open an issue at the spyder project and let us know what they have to say about this.

[2016-02-14 20:57] #363 closed

[2016-02-14 21:10] brkygur commented on #363
Hello.

I have just tried it with an another compile, namely the Sublime Text 3. The results are still the same.

[2016-02-14 21:25] brkygur opened #365 "AttributeError: 'module' object has no attribute 'Map'"
Hello.
Seriously sorry about flooding with the same problem.
As I have explained before using folium.Map gives the following result.
[code]
I have tried:

With the result:

You have said that it would have something to do with the Spyder IDE that I am using. Upon that I have used Sublime Text 3 and IDLE both giving the same result.

What would you recommend?
If it has something to do with the Pyth

[2016-02-14 21:32] ocefpaf commented on #365
Please don't open new issue.  You can re-open that one.

Probably. I can only guess about your setup and think you have more than one python installation there.

Anaconda/miniconda.  [These](https://github.com/ioos/conda-recipes/wiki/Setting-up-the-IOOS-Python-Environment-for-Win64) instructions might help you set your environment up.

Closing this as it is not a folium issue.  But you can ask for

[2016-02-14 21:32] #365 closed

[2016-02-14 21:35] ocefpaf commented on #365
Here is something that might help you debug this.  Try

[code]

At the command line and in your IDLEs.  Compare the results and see if you are calling the same Python.  If they are different you either have to find a way to install folium in your IDLE Python or call the same Python you have on the command line path.

[2016-02-15 12:21] napjon opened #367 "Request default color instead of KeyError"
For example, If I'm using this code snippet to build choropleth,

[code]

if one of the state missing in the state_data, it will return KeyError. Probably because folium doesn't know what color to fill. What if it just return blank/white color?

[2016-02-15 12:25] ocefpaf commented on #367
Guessing a color is not recommend.  What if white (or the "blank grey") is part of the colormap?

I recommend adding that entry to you data or using the latest `folium` and the `style_function` kw.

See some example at:

http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/GeoJSON%20and%20choropleth.ipynb

[2016-02-15 12:25] #367 closed

[2016-02-15 19:38] brkygur commented on #365
Hello,
First off thank you for your help. The problem is solved. But I have a question.

I'm using folium 0.2.0 with Spyder with the [IOOS](https://github.com/ioos/conda-recipes/wiki/Setting-up-the-IOOS-Python-Environment-for-Win64) environment of Anaconda. I am trying the create a folium choropleth map and have used the given code.

[code]
The .json file is attached as a txt file.
[tr.txt](https:

[2016-02-15 19:52] ocefpaf commented on #365
Glad it is solved.

:+1:

What is the problem? (Bare in mind that the devs here are all volunteer and all the information you can provide will help us. We want to avoid wasting time with copying/pasting/downloading/running code just to check what is going on.)

[2016-02-15 19:58] brkygur commented on #365
God. I was sure I had copied it also. Seems not the case. Anyways here is the error
[code]

[2016-02-15 20:09] ocefpaf commented on #365
That happens because you JSON does not have a `feature.id` structure. Your's is `feature.properties.NAME`.

[2016-02-16 23:13] ocefpaf commented on #360
That one fell under the radar...

The latest changes no longer allow for pushing HTML strings and get them rendered. @BibMartin can comment on the details of the implementation.  The alternative is to wrap the HTML in an IFrame. See https://github.com/python-visualization/folium/pull/294

PS: It would be a good addition to get the old functionality back without changing the current API.  Not sure

[2016-02-16 23:13] #360 closed

[2016-02-17 06:46] raidoz commented on #332
Previously I was using <BR> for new lines, but it does not seem to work anymore in 0.2.0. Is it possible to have a newline in popup text with 0.2.0?

[2016-02-17 10:27] ocefpaf commented on #332
Hi @raidoz. This is duplicated of #360.  Take a look there and see if that answer your question.

[2016-02-17 10:27] #332 closed

[2016-02-17 17:50] themiurgo opened #369 "Upgrade FontAwesome to 1.4.5"

[2016-02-18 18:54] mairsbw opened #370 "Support specifying a page title when saving to an HTML file"
Right now no <TITLE/> attribute is being specified for a saved HTML file. I'd like to specify one so that it's easy to see what dataset I've been plotting.

[2016-02-22 14:58] BibMartin commented on #370
Hi @mairsbw ,
can you give an example or more details, please ?
In fact I cannot understand what you'd like to do.

[2016-02-22 15:31] andrewgiessel commented on #370
I think he just wants to put a <title> tag in the generated html file
On Mon, Feb 22, 2016 at 10:08 Martin Journois <notifications@github.com>
wrote:

[2016-02-22 16:11] BibMartin commented on #370
In that case, you can embed arbitrary HTML in a Figure using for example:

[code]

[2016-02-23 22:26] brwst opened #371 "FeatureGroup name argument ignored?"
Hello everyone,

I am trying to set a ``FeatureGroup`` name for a set of ``PolyLine``s, but the name I give to the ``FeatureGroup`` isn't sticking in the map layer control menu.  Instead, a ``macro_element_...`` is returned.

I've set up an [example Jupyter Notebook](http://nbviewer.jupyter.org/github/brwst/folium/blob/master/FeatureGroup_name.ipynb). (in the style of pull request #242) showing th

[2016-02-24 00:38] BibMartin commented on #371
Hi @brwst. You're true there's a bug here.

This is due to `__init__` method of `FeatureGroup` that starts with

[code]

while it should be

[code]

A short term workaround is to add in your code:

[code]

[2016-02-24 04:40] brwst commented on #371
Thanks for your help @BibMartin -- the workaround works fine on my end.

[2016-02-29 07:53] mattwg opened #375 "Popups on Choropleth Map"
Hi - I love what you have created here - today I manage to get an aggregate query from elastic search displayed on a Folium map in a few hours - it was really easy!

Now I am trying to add popups, but I cannot see any example that shows how to get a popup on a choropleth map - could someone point me in the right direction please.

I would just want to display the value associated with the polygon.

[2016-02-29 11:04] BibMartin commented on #375
Hi @mattwg ,

thanks for your feedback and engagement.
It seems @om-henners is working on this (see #376).

For short term concerns, you can get a first workaround (not perfect though) in http://nbviewer.jupyter.org/gist/BibMartin/4b9784461d2fa0d89353 But this solution is less serious as @om-henners's implementation.

[2016-03-01 12:41] chrisdunley opened #377 "Reuse of custom icons"
This is fantastic - makes visualisation so much easier.

I have been playing with custom icons.  I don't seem to be able to reuse a custom icon - doing so simply shows the default blue icon in the first location and nothing in subsequent ones.

The code I used is as follows:

[code]

With the mk5 lines commented out, this works as expected (though I'm not sure whether it is intended to have to def

[2016-03-01 15:34] BibMartin commented on #377
Thanks @chrisdunley for this detailed issue.

This is a normal behavior: objects `o` and `o2` are defined identically, but they are two distinct objects.

When you do

[code]
 you create a loop in the tree structure : `r` is a child of `mk2` and `mk5` in the same time.

This breaks the logic of folium and in the output file we get javascript objects that are used before being defined.

You have to

[2016-03-01 15:34] #377 closed

[2016-03-01 16:15] mattwg commented on #375
Hi Martin - thanks for the pointers I will take a look - and make sure I
follow #376 <https://github.com/python-visualization/folium/pull/376>.
Matt

On Mon, Feb 29, 2016 at 3:04 AM, Martin Journois <notifications@github.com>
wrote:

[2016-03-01 16:53] chrisdunley commented on #377
Thanks for the speedy response and I understand the position.  It obviously is a different behaviour to leaflet itself which allows reuse. Best for now for me to put the custom icon definition directly inside the marker definition to get round the point.
C

[2016-03-01 20:40] edublancas opened #379 "Adding value to Marker"
Hi, I've using folium for a project and it's great!

I want to visualize a numeric value, so right now I'm passing it as the `popup` parameter in `Marker`. However, I would like to see that value without having to click in the Marker.

The objective of my map is to easily visualize the spatial distribution for that value. Is there any way to do this?

Thanks!

[2016-03-01 21:01] ocefpaf commented on #379
Can you be more specific when you say

I am not sure if you some kind of plot/layer or just the text of the number.  If the latter take a look at:

http://nbviewer.jupyter.org/gist/BibMartin/ec2a96034043a7d5035b

[2016-03-01 21:01] #379 closed

[2016-03-02 01:47] edublancas commented on #379
For every point, I have a score that I want to display. So basically show that number in every marker. Is that possible?

[2016-03-02 07:33] electronjaal commented on #87
I have exact same problem and the your example does not work same as mine.

[2016-03-02 07:49] BibMartin commented on #87
@electronjaal Can you provide more information about your configuration (system, browser, using conda? folium and python version)

[2016-03-02 07:57] electronjaal commented on #87
system: OS X 10 EI Capitan version 10.11.3
browser: safari
I am using anaconda latest version
folium 0.2.0
python 2.7.5

[2016-03-02 17:12] ocefpaf commented on #349
@BibMartin can we close this?

[2016-03-02 17:13] ocefpaf commented on #379
If you do want the marker than that feature is not implemented.  We have an issue for that #210. PRs welcome :wink:

[2016-03-02 17:14] ispmarin commented on #349
Is it decided?

[2016-03-02 17:16] ocefpaf commented on #349
Branca has already started.  Nothing should change to `folium` users though.

[2016-03-02 17:42] edublancas commented on #379
Ok, thanks for the answer! I may have some time to work on that.

[2016-03-02 18:58] #349 closed

[2016-03-03 17:42] ocefpaf commented on #87
@electronjaal write our example in a script.py file and run `python script.py` from that anaconda environment.  Just to be sure that we are calling the right python there.  (Sometimes, when using notebooks, people have more than one kernel that can be pointing to another python installation.)

[2016-03-04 02:30] electronjaal commented on #87
Thank you for reply.

When run python command in my terminal it showed following information.

Python 2.7.11 |Anaconda 2.0.1 (x86_64)| (default, Dec  6 2015, 18:57:58)
[GCC 4.2.1 (Apple Inc. build 5577)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anacond

[2016-03-04 08:13] BibMartin commented on #87
I wonder if it cannot be due to safari rather than the python version (Python 2.7.11 |Anaconda 2.0.1 is a rather classical setup). Can you post the HTML output of the script, please (so that we can check the code produced) ?

[2016-03-04 22:09] mairsbw commented on #370
That's a very complicated way to have to change the title, but since it's possible, I don't see a need to push this issue further.

[2016-03-04 22:09] #370 closed

[2016-03-05 06:05] BibMartin commented on #370
We can imagine having a method `f.title("This is a title")`.
But this will now happen in *branca* ; see https://github.com/python-visualization/branca/issues/10

[2016-03-07 04:57] electronjaal commented on #87
<!DOCTYPE html>
        <head>

            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/boots

[2016-03-07 05:22] BibMartin commented on #87
So this is not Safari ; your outputed geoJSON does not contain styling properties, as if the `style_data` method were not used.

This might be something about your installation of folium.

Can you please make sure you're really pointing to `folium 0.2.0` in posting the output of:

[code]

If everything's normal, can you please print (the beginning of) the output of these two lines (to be appended

[2016-03-07 05:43] electronjaal commented on #87
`print(folium.__version__, folium.__file__)` output is like
('0.2.0.dev', '/Users/...../anaconda/lib/python2.7/site-packages/folium/__init__.pyc') I think this is normal.

`geo = [x for x in states2._children.values() if isinstance(x,folium.GeoJson)][0]
print(geo.style_data())` output is get error this
'GeoJson' object has no attribute 'style_data'

[2016-03-07 05:47] BibMartin commented on #87
You're on `0.2.0.dev` you should upgrade to `0.2.0` and this should solve the problem.

[2016-03-07 05:50] electronjaal commented on #87
Thanks so much, I am very appreciate you looking into it and finding a fix.

[2016-03-07 07:26] BibMartin commented on #87
Happy to help!

[2016-03-11 09:01] mojones opened #381 "Missing legend in Map.cholopleth()"
Hi folks,

First time using Folium and I am blown away by how easy it is to use, fantastic work. I'm trying to create  a cholorpleth map using the function of the same name, and the legend isn't displaying. Looking at the code, I cant see the `legend_name` variable being used anywhere. Is there some other way to attach a description to the legend?

[2016-03-11 09:16] BibMartin commented on #381
Well seen @mojones,
At the end of the `colormap` definition (in `folium.py`), we read:
[code]
and we shall add `caption=legend_name,` like this:
[code]
If you have time to do the PR, I ca

[2016-03-14 08:00] eddies opened #382 "TopoJson.get_bounds() returns [lon,lat] instead of [lat,lon]"
`TopoJson._get_self_bounds()` returns `[[xmin, ymin], [xmax, ymax]]` i.e. a bounding box defined by longitude,latitude points, rather than lat,lon points.

This is contrary to `GeoJson._get_self_bounds()` as well as contrary to the expectations of `FitBounds`:

[2016-03-14 14:09] #382 closed

[2016-03-14 19:15] #371 closed

[2016-03-14 20:07] ocefpaf opened #388 "v0.2.1"
- [X] update `Changelog` on `master` (See #390);
- [X] cherry-pick #391
- [X] cherry-pick #393
- [X] cherry-pick #404
- [X] address #408
- [ ] release!

[2016-03-18 14:48] psychemedia opened #392 "Markers from github problem"
Some of the baked in _leaflet.awesome-markers_ etc links on rawgit are being throttled/blocked, or otherwise broken?

http://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css?ver=4.4.2
http://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js?ver=2.0
http://rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.

[2016-03-18 15:49] BibMartin commented on #392
You're true @psychemedia , I've noticed it almost at the same time.
See fix in #393 .

[2016-03-18 16:31] ocefpaf commented on #392
Fixed in #393

[2016-03-18 16:31] #392 closed

[2016-03-20 07:13] chengjun commented on #35
1. Open the generated html with chrome
2. Print  to save it as pdf,
3. Open the pdf and export it as png or the other formats.

[2016-03-21 04:26] dantasse commented on #340
Hi again! Had a minute to look into this and I can't really figure out what's wrong with the docstring still. And there's a test that makes a DivIcon in tests/test_features.py - seems basic but it works?

If it's helpful for you, you can point me in the right direction about what still needs to be done here, and I can try to make sure all the details are right and create a PR. But I realize this i

[2016-03-21 16:29] montrealks opened #394 "embed map workaround"
All of the guides I have read for getting Folium embedded into an iframe aren't working. I think maybe it was updated but not included into the documentation?

Typically the instruction looks like this:
    `def inline(m, width, height):`
        `"""Returns an embedded iframe of a folium.map."""`
  `  m._build_map()`
    `src = m.HTML.replace('"', '&quot;')`
    `style = "width: {}px; height: {}p

[2016-03-21 16:32] ocefpaf commented on #394
If you are using the latest version, and if you are talking about embedding the map in the notebooks,  that should not be necessary. Just leave the `m` object as the last line of your notebook cell.

[2016-03-21 16:32] #394 closed

[2016-03-21 16:33] montrealks commented on #394
I am talking about embedding the map into a webpage. Not really sure what notebooks is.

[2016-03-22 18:43] YuanxiangFranck opened #397 "Name is not set for folium.FeatureGroup in LayerControl"
Hello,

I used FeatureGroup to create muliple layer for the LayerCopntrole menu
[code]

The solution is to set the name in : feature_group.layer_name
[code]

I think this line should be added in the constructor:
[code]

Tested on folium 0.2.0

Franck

[2016-03-22 18:47] YuanxiangFranck commented on #397
pull request: #397

[2016-03-23 05:00] eddies opened #399 "Adding a colormap to a Layer or FeatureGroup"
Hopefully, this is just a case of I'm-Doing-It-Wrong.

I'd like to be able to associate a colormap with a specific layer (e.g. GeoJson or TopoJson layer), independently of say, another layer of just markers or just a different choropleth layer. This way, if I deselect a layer in the LayerControl, both the GeoJson layer and the associated colormap go away (which also lets me have a separate colorma

[2016-03-23 06:24] eddies commented on #397
I believe this was reported/addressed already: #371 (daf7a44)

[2016-03-23 10:30] ocefpaf commented on #397
Yep. I need to finish the bugfix release to get this out there. Thanks @YuanxiangFranck for reporting this and thanks @eddies for clearing this up!

[2016-03-23 10:30] #397 closed

[2016-03-23 15:50] guillaumedaniel opened #400 "Multiple Vincent graphs in the same Marker Popup"
Add a marker on a map, at the location corresponding to my real sensor location.
By clicking on the marker I would like a popup to appear , and show all data channels delivered by this sensor, typically more than 3 and less than 10…
I feel like using the Vincent/Vega functionalities of folium (e.g. folium.Vega() methods) is the way to go.
(cf. your “Vincent/Vega Markers” example at page https://fo

[2016-03-23 16:49] ocefpaf commented on #400
@guillaumedaniel vincent seems to be unsupported for a while now and I guess you'll have better look with another library. I recommend you take a look at Bokeh, but bare in mind that you can also create static figures and use them as popups.

[2016-03-23 16:49] #400 closed

[2016-03-23 19:59] guillaumedaniel commented on #400
Thank you for your feedback. I will investigate other solutions.

Best.
G.

Guillaume DANIEL, Ph.D., R&D Scientist
Magnitude LLC, A Baker-Hughes/CGG joint venture

On 23 mars 2016, at 17:50, Filipe <notifications@github.com<mailto:notifications@github.com>> wrote:

@guillaumedaniel<https://github.com/guillaumedaniel> vincent seems to be unsupported for a while now and I guess you'll have better lo

[2016-03-24 14:02] montrealks commented on #327
The only html colors I can get working are 'green' 'red' and 'purple'

[2016-03-26 02:32] chengjun opened #401 "Any idea to support curvilinear line of the PolyLine function?"
Folium is very cool for visualizing networks on the map. I wanna to know is there any idea to support curvilinear line of the PolyLine function? The straight line looks a bit dumb in the current form. Thank you.

[2016-03-26 12:22] ocefpaf commented on #401
I am not sure if leaflet PolyLine provides curved lines. Maybe a plugin does. If you can come up with an example we can try to implement that.

[2016-03-28 00:50] raghavchalapathy opened #402 "KeyError: u'0500000US72013' while running example choropleth_counties.py"
Hi
Thanks for this wonderfull tool

Could you please give me some pointers as to why am I getting the error below

I am running  "choropleth_counties.py" present in the examples directory

[code]

[2016-03-28 18:04] lecardozo opened #403 "Custom color scheme for choropleth"
Hi guys,
Thanks for the nice work here!

I'm new here so I'm sorry if I'm missing something. Do we have, in the current version, any way to define specific color schemes for the choropleth, beyond those defined in the docsting of the function (BuGn, BuPu, GnBu, OrRd, PuBu, PuBuGn, PuRd, RdPu, YlGn, YlGnBu, YlOrBr, and YlOrRd)?

[2016-03-28 23:30] ocefpaf commented on #388
@BibMartin can you review and merge

https://github.com/python-visualization/folium/pull/391
https://github.com/python-visualization/folium/pull/404
https://github.com/python-visualization/folium/pull/406
https://github.com/python-visualization/folium/pull/405

[2016-03-29 03:54] eddies commented on #403
Assuming you're using v0.2.0 and the `choropleth` convenience method, you are indeed limited to the `color_brewer` schemes defined in https://github.com/python-visualization/folium/blob/v0.2.0/folium/utilities.py#L104

On the other hand, for maximum flexibility, if you create your choropleth via either the GeoJson or TopoJson classes, you can pass in your own instance of `colormap`.

For examples,

[2016-03-29 14:34] #403 closed

[2016-03-29 14:34] ocefpaf commented on #403
Thanks @eddies!

[2016-03-30 07:21] BibMartin commented on #388
Done. Thanks @ocefpaf for the 4 PRs, and for the (coming soon) release !!

[2016-03-30 12:43] kimiandj opened #407 "Create maps with Bing Maps"
Hi everyone,

I've been using Folium for a week and managed to create very easily cool interactive maps with OSM, MapQuest and MapBox – great tool!
However I wonder if it is possible or not to create interactive maps with Folium using Bing Maps. The Leaflet.js library enables us to do so but I don't know how to achieve this with Folium. Any idea?

[2016-03-30 13:48] ocefpaf commented on #407
Bing is not in the default tiles but you can add it as custom tiles if you know the URL. The syntax is `tiles=http://{s}.custom_tiles.org/{z}/{x}/{y}.png` when creating the map.

[2016-03-30 13:48] #407 closed

[2016-03-30 14:59] ocefpaf opened #408 "Vega popup"
@BibMartin I am trying to run all the notebooks in the collection before preping the next release and I am having trouble with the Vega pop example. Can you take a quick look?

https://gist.github.com/ocefpaf/1dd1bb2f118c37d9362d9df7bf3fd520

[2016-04-02 18:34] BibMartin commented on #408
Sorry @ocefpaf I have few time these days.

It seems you shall replace the line

[code]

by

[code]

for some (probably bad) reason to be investigated later.

[2016-04-02 18:44] ocefpaf commented on #408
No need to be sorry. I guess we can consider that a small bug since vincent is no longer developed. I will prep the release and we can point people here as a reference.

[2016-04-02 18:44] #408 closed

[2016-04-02 18:57] #388 closed

[2016-04-02 19:00] ocefpaf commented on #388
The new release is out https://github.com/python-visualization/folium/releases/tag/v0.2.1

(PyPI and conda packages coming soon...)

[2016-04-05 02:12] bakerbd opened #411 "strange problem with heat map rendering"
I am trying to use the leaflet-heatmap.js plugin I saw was added to folium since the last time I looked at it.  I'm trying to visualize lets say surface pressure from a model output.  I normalize the pressure by the maximum pressure so the values lie between 0 and 1.  I cannot get it to work correctly.

Here is the basics of the code.

[code]

but the map just ends up a red blob

![test](https://c

[2016-04-05 16:38] bakerbd commented on #411
Would it be possible to add the heatcanvas plugin? or quickly show how I can add a plugin?

[2016-04-07 13:00] stavskal opened #412 "Folium / Vincent interaction: 'Element object has no attribute 'html'"
So I'm creating and storing vincent.charts.Area objects in a list and when I pass them to the popup this error occurs at create_map call. Any idea why that might happen?

When I display the vincent in the IPython notebook everything works fine, when I try to create the map it brings up the error

#densities[i][1] holds the vincent object
densities[i][1].to_json('lines'+str(i)+'.json')
map_poi.circ

[2016-04-07 13:11] BibMartin commented on #412
It sounds similar to #408, am I wrong?

[2016-04-07 13:21] ocefpaf commented on #412
@stavskal I am closing as a *won't fix* even if the workaround in #408 does not work for you.

The reason is that  we will drop support for `Vincent` popups in the next version because `vincent` is no longer developed. You can try to create full HTML-like plots with `bokeh` or `mpld3` and embed them as HTML IFrames in `folium`.

[2016-04-07 13:21] #412 closed

[2016-04-07 13:31] stavskal commented on #412
Now the map gets created although clicking the circles does not produce the popup. Any ideas?

[2016-04-07 14:15] bakerbd commented on #412
@ocefpaf can you discuss this a little more.  I understand that Vincent is no longer under development and support cannot continue forever for that but can you explain how to use an iframe within folium a little more

[2016-04-07 14:24] ocefpaf commented on #412
Sorry. Should've sent some links showing you how to do this. I don't have simple and clean examples for `bokeh` and `mpld3`, but [here](http://nbviewer.jupyter.org/github/ocefpaf/sscsw/blob/master/IOOS_data_demo.ipynb) is a notebook that uses `bokeh` plots and `folium`'s `IFrame`. (See `cell [14]`). and [here](http://nbviewer.jupyter.org/github/SECOORA/skill_score/blob/master/notebooks/timeSeries/

[2016-04-07 14:44] bakerbd commented on #412
Ok.  I think that I found out how to do it.  Thank you for sending the link.

I'm going to try to add a few more of the leaflet plugins into folium's "plugins" for some data visualization for work.  I'll most likely have to start a new thread once I start.  Anyhow thanks again!

[2016-04-07 14:46] ocefpaf commented on #412
Writing better example is in my TODO list. I'll ping this thread once I get to it.

That would be awesome!

[2016-04-07 18:28] wbierbower opened #413 "Project images with affine transforms in ImageOverlay plugin"
Hi, first of all, thanks to everyone involved with the folium project for working on such a cool library.

I was looking into the ImageOverlay feature, and I was wondering if there's been any discussion about the feasibility and interest in adding support for projecting images with affine transforms.  Does anyone know?

Thanks!

[2016-04-07 18:34] ocefpaf commented on #413
That should be feasible and there is interest. I Don't have enough experience with `affine` transformations. Do you want to give that a go?

Note that the `affine` must be an optional dependency.

[2016-04-07 18:35] bakerbd commented on #413
I think gdal.py and rasterio should be used to handle things like that

[2016-04-07 21:00] wbierbower commented on #413
@bakerbd I know that rasterio is a great wrapper around GDAL for data processing, but I don't think it has any visualization capabilities

@ocefpaf I don't have too much experience either, but I'd be interested in giving it a shot after some discussion.

Right now the function call is like this:

[code]

My thought is that there could either be a keyword argument in [`Map.image_overlay`](https://g

[2016-04-07 21:12] ocefpaf commented on #413
@wbierbower sounds like a nice idea, but we don't have the time to develop it. (Day jobs are always in the way of fun coding.)

[2016-04-07 21:21] wbierbower commented on #413
@ocefpaf you bet.  If you don't mind, I'll keep this issue open for now to help gauge interest and see if anyone has other ideas.

[2016-04-08 18:54] bakerbd commented on #412
@ocefpaf I'm having a little trouble getting the iframe to work.  Followed your example from the mpld3 notebook but all I see is the html code when the popup is done

`
mapa = folium.Map([35,-80], tiles='stamentoner', zoom_start=4)

iframe = ("<div align='center'> HTML <br><iframe width=\"900\" height=\"800\" frameborder=\"0\" scrolling=\"no\" src=\"https://plot.ly/~bakerbd/375.embed\"></iframe></

[2016-04-08 22:57] qingkaikong opened #414 "Mapscale on the map"
I try to make a map with the scale bar show at the bottom, i.e. a scale for distance on the map. But it seems I can not find functions to add the scale bar? Can you point me to if there's any? Or do you have any plan to add one? Thanks.

[2016-04-08 23:02] qingkaikong commented on #414
Sorry, I found it. By adding a control_bar, the scale will show on the map.

[2016-04-08 23:02] #414 closed

[2016-04-09 20:13] qingkaikong opened #415 "Plot a circle with fixed distance as radius"
Sorry to bother.

If I want to make a circlemarker with fixed distance as radius, say, 10 km. How can I convert the distance to pixel for the radius argument for each zoom in level.  Thanks.

[2016-04-11 03:19] ruoyu0088 opened #416 "Add a script version of MarkerCluster to speedup creating many markers."
For example following code costs 5 seconds to add 1000 markers:

[code]

and the output html contains code for 1000 markers.

I  tried a Javascript version to speedup this:

[code]

and then create the map by

[code]

It only takes 0.3 seconds. All the data are saved in a javascript array, and the for-loop for creating markers occured in web brower.

I suggest to add this kind of Classes for speed

[2016-04-11 08:33] stavskal commented on #412
So if anyone is interested how to add a Vincent here is what worked for me:
(densities[i] has the Vincent object)

map_poi = folium.Map()
vega = folium.Vega(json.loads(densities[i].to_json()), width=350,height=200)
popup = folium.Popup(max_width=350).add_child(vega)
circle = folium.CircleMarker(location=[centers[i,0], centers[i,1]], radius=100, popup =popup)
map_poi.add_children(circle)

[2016-04-11 21:59] ocefpaf commented on #412
@bakerbd see the updated example: http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_png_mpld3_vega_popup.ipynb

[2016-04-11 22:02] ocefpaf commented on #416
@ruoyu0088 thanks for the suggestion! Feel free to send a PR addressing that. Right now we are focusing on fixing bugs and cleaning the code for a new release. Optimizations are not high priority.

[2016-04-12 09:15] eddies commented on #416
@ruoyu0088 that would be brilliant. I only just realized last week when trying to plot > 5000 markers how slow it could be.

[2016-04-13 02:04] linwoodc3 commented on #351
Is this a feature that's coming or has it been dropped?

[2016-04-13 10:03] ocefpaf commented on #351
Folium is a leaflet wrapper. Leaflet render map tiles from a server. Unless you set a local server for your tiles there is no way to display slippy maps without an internet connection and a map server.

[2016-04-13 10:38] BibMartin commented on #416
### generalities

I'm okay with @ocefpaf on:

In fact, folum's goal is to provide a simple way of creating maps. For that, we need to introduce a kind of modularity that often prevent optimisations.

People asking for optimisation have to take the effort of going into javascript, or write their custom class (as you did).

### in that particular case

In the particular case of `MarkerCluster` we've

[2016-04-19 08:34] blauwepiet opened #418 "Continuous colorscale for choropleth"
Hey folium devs, first off, thanks for this awesome and easy to use Leaflet wrapper.

One thing I miss though is a continuous colorscale for Choropleths. Is there a reason why the colorscales have only 6 color values instead of a continuous range? and is there a plan to implement it?

Kind regards,

Casper

[2016-04-20 12:03] BibMartin commented on #418
Good point @blauwepiet !
In fact we have been working on it and have a solution combinig folium and [branca](https://github.com/python-visualization/branca), but it's not released yet.

You can checkout an example [**here**](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/Colormaps.ipynb).

[2016-04-20 12:03] #418 closed

[2016-04-20 12:06] BibMartin commented on #418
Sorry, I am wrong.

In fact you can already use `colormap` with folium `v0.2.1`. See [**here**](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/v0.2.1/examples/Colormaps.ipynb).

[2016-04-20 13:54] blauwepiet commented on #418
ah, excellent, exactly what i needed!

Thanks for the examples!

[2016-04-22 04:49] QuLogic opened #419 "leaflet.awesome.rotate.css fails to load"
If you check the web console (in Firefox), you will see that this file fails to load:
[code]

[2016-04-23 09:47] KonniamChan commented on #402
I ran into the same error as well. Would appreciate any pointers on the issue.

[2016-04-24 13:42] linwoodc3 commented on #351
There is a way to "hack" folium to work offline.  I used what's described below and was able to get `folium.Map()` working and rendering a geojson of a country without being online.

How to do it:
*  You will need to change the `_default_css` and `_default_jss` links (lines 225-257) to hit something stored on you local network.  The lines are in the `element.py` file. You'll need to run a few step

[2016-04-25 10:46] ocefpaf commented on #402
`choropleth_counties.py` uses the old syntax (`geo_json`) instead of the new one (`choropleth`). Still, it seems to be broken for TopoJSON.

I don't have time to look at this right now, so I recommend as a work around to convert the TopoJSON to GeoJSON and use that instead.

@BibMartin can you see any obvious  problems with an easy fix?

[2016-04-26 13:28] chdean commented on #415
You actually don't need to convert the distance to pixels.  folium.CircleMarker() takes a radius in meters.

See the example in the quickstart docs: https://folium.readthedocs.org/en/latest/quickstart.html

[2016-04-26 16:38] lecardozo commented on #403
Nice! Thanks @eddies!

[2016-04-26 18:32] qingkaikong commented on #415
Ok, now I see, it seems CircleMaker is bounding to leaflet.circle which radius is in unit of meters right now, see issue #339

[2016-04-29 11:47] gnanam336 opened #421 "Layer Groups and Layer Control Functionality"
Is "Layer Groups and Layer Control" functionality present in leaflet.js available in folium?

If not kindly implement.

[2016-04-29 12:12] BibMartin commented on #421
yes: in `folium.map`, you have `FeatureGroup` to binds to [leaflet's feature group](http://leafletjs.com/reference.html#featuregroup) and `LayerControl` for Layer Control.

[2016-04-29 12:12] #421 closed

[2016-04-30 22:48] vectorien opened #422 "Possible to save data in separate file, apart from html file?"
dito above..

[2016-05-01 15:59] deelaka opened #423 "Remove the embedded IFrame's ugly border"
For [example ](http://nbviewer.jupyter.org/github/bibmartin/folium/blob/issue288/examples/Popups.ipynb#Fancy-HTML-popup) when opening a popup with html, There is a ugly border around the html wrapped in the IFrame. How to remove this for the time being?

In the meantime I suggest a method to add styling to the `IFrame` element. Furthermore in my opinion, custom html should not even be wrapped in a

[2016-05-03 11:07] FloSugar opened #425 "Choropleth + GeoJson = 'NoneType' object has no attribute 'get'"
GeoJSON Format is like below :
[code]
Pandas DataFrame :
[code]
Here is my code (snippet from [this notebook](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/GeoJSON%20and%20choropleth.ipynb))

[code]

I'm stilling getting this error again and again :

[code]

I tried playing with ```key_on='feature.geometry.properties.insee'``` without any success.

[2016-05-03 14:05] wfbradley opened #426 "Map rotation?"
Is it possible to specify a map rotation to get something like, e.g., [this](http://openlayers.org/en/v3.1.0/examples/rotation.html)?

If not, may I request this as a future feature?

[2016-05-03 15:05] ocefpaf commented on #426
Interesting. We do not support that, but PRs are welcomed :wink:

[2016-05-03 17:18] FloSugar commented on #425
There were 2 problems :

1 - The correct access to 'insee' parameters is : ```key_on='feature.properties.insee'```

2-  My DataFrame did not contain all the available 'insee' keys, so it was raising a ``KeyError``

After these 2 problems solved, it worked like a charm!

[2016-05-03 18:41] ocefpaf commented on #425
Safe to close then :wink:

[2016-05-03 18:41] #425 closed

[2016-05-11 15:05] JamesGardiner opened #427 "Choropleth slivers at low zoom levels"
When using the `Map.choropleth` method my output has slivers present between features. See http://nbviewer.jupyter.org/gist/anonymous/1b85bccb47ea6a418591ef27c3f2bc5e for an example.

I've put this down to Leaflet applying a smoothing algorithm to the features as per http://gis.stackexchange.com/questions/143449/geojson-rendering-in-leaflet.

Adding `{smoothFactor: 0}` (a `PolyLine` option) to `L.

[2016-05-11 15:45] ocefpaf commented on #427
That can probably be added as an extra option in the `GeoJson` method. Are you interested in sending a PR for that?

[2016-05-12 09:03] JamesGardiner commented on #427
@ocefpaf yep, happy to look into it; I'll send a PR across when I get chance.

[2016-05-17 16:12] mrichar1 opened #429 "Nested Feature Groups"
I'm currently investigating whether or not it would be possible to create nested feature groups, for example to place markers on a map divided by year, and then divided again by month.

I've tried experimenting with something like:

[code]

But this doesn't seem to work - you only get the year on the layer control, though it does contain the marker associated with the month.

Is there a different

[2016-05-18 09:59] JoshuaC3 opened #430 "CircleMarker line_color not recognised"
It seems since the change from a the function (circlemarker) to a class def (CircleMarker) it has dropped the line_color attribute.

[2016-05-19 21:48] JamesGardiner commented on #416
@ruoyu0088 your class was incredibly useful for plotting 25,000+ points globally http://nbviewer.jupyter.org/gist/anonymous/33f38b09ad3bfa277e2d9c06e4bb588c

[2016-05-20 02:05] mccarthyryanc opened #431 "Adding legend to ImageOverlay"
Is there a way to add a legend to an ImageOverlay?

[2016-05-20 03:43] qingkaikong opened #432 "Plot matplotlib object on folium"
Is there any way I can plot matplotlib object on folium. The problem is, I usually plot objects on Basemap, since now I am using more and more folium, I am wandering if there's an easy way I can plot that on folium. An example is from [Here](http://docs.obspy.org/tutorial/code_snippets/basemap_plot_with_beachballs.html), the beachball is the circle with shade on some part of it, I can save them fi

[2016-05-20 12:30] ocefpaf commented on #432
You can try `mplleaflet` to convert the `matplotlib` objects to `JSON` or `SVG`. Note that `mplleaft` already generate a slippy map for you, but you can save the object in the middle and use it in `folium` too.

Here is an example: https://ocefpaf.github.io/python4oceanographers/blog/2015/11/16/folium_quiver/

[2016-05-20 12:37] #432 closed

[2016-05-20 17:15] mccarthyryanc opened #433 "ImageOverlay moves with higher zoom level"
At a really high zoom level, the image with change position. Behavior is visible in examples:
http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_image_overlay_gulf_stream.ipynb

Easiest to see the behavior when zooming into the coastline in the first map.

[2016-05-21 18:12] sanga opened #434 "timestamped_geojson won't work in chrome"
I get this:

`Refused to execute script from 'https://raw.githubusercontent.com/nezasa/iso8601-js-period/master/iso8601.min.js' because its MIME type ('text/plain') is not executable, and strict MIME type checking is enabled.`

Which seems kinda reasonable to me. Would it not be safer to vendor the minified js into folium?

[2016-05-21 19:54] ocefpaf commented on #434
Thanks for the report. I will take a look at some alternatives.

[2016-05-21 19:57] ocefpaf commented on #433
I am not sure there is anything we can do to solve that. Ideally we should re-project new image at every-level, like the tiles, but that is unfeasible for such a simple method.  Thanks for the report but I am, sadly, closing this as a won't fix.

[2016-05-21 19:57] #433 closed

[2016-05-21 20:23] ocefpaf commented on #416
Cool use case @JamesGardiner. If @ruoyu0088 does not mind maybe you could send the `FastMarkerCluster` PR suggested in https://github.com/python-visualization/folium/issues/416#issuecomment-209361066. (With the proper credits to @ruoyu0088 of course!)

[2016-05-21 20:39] sanga commented on #434
I haven't tested, but I'm guessing that "chrome" probably means any modern browser, as, from what I read, github is now passing a header that causes modern browsers to not load a file with mimetype text as js.

[2016-05-21 21:56] ocefpaf commented on #429
Sorry. No ideas on how to work around to implement this.

[2016-05-21 21:56] #429 closed

[2016-05-21 23:25] qingkaikong commented on #432
Great, thanks for the tips!

[2016-05-22 07:48] sanga opened #435 "undeclared dependency on branca?"
I cloned master to fix a bug but installing a local version of folium didn't work for me. It rather complained that branca wasn't installed. And actually I can't see where the dependency on branca is declared...

I'd have expected branca to appear in either setup.py or requirements.txt, but I don't see it there. Having said that installing from pypi works. What's going on here?

[2016-05-22 11:02] ocefpaf commented on #435
Master is a dev version and PyPI a stable release. So things like that are expected to happen in master, but if they happen on a release it is a must-fix-right-away bug :wink:

We don't even have a branca official release BTW. (Ping/nudge @BibMartin :grin:)

[2016-05-22 11:02] #435 closed

[2016-05-22 11:14] sanga commented on #435
Perhaps I misunderstand but there is a branca release right?

https://pypi.python.org/pypi/branca/0.1.1

The thing that seems to be missing to me, is that folium master doesn't say it depends on branca

[2016-05-22 11:25] ocefpaf commented on #435
Yeah. I forgot that one. Still, we don't have an official release of folium that uses that. If you wish to run master you will run into this sort of issues. Your best bet us to check our travis config to figure out the best way to run master. (or send A PR updating the req file ;-)

[2016-05-23 20:05] mccarthyryanc commented on #433
Understood. I am new to Leaflet/folium and after some reading I completely agree. However, if anyone manages to stumble onto this issue, I managed to get what I wanted by using the [Leaflet.ImageOverlay.Rotated](https://github.com/IvanSanchez/Leaflet.ImageOverlay.Rotated) plugin. It might be a bit overkill as I didn't need the rotation feature, but it worked.

[2016-05-23 20:10] ocefpaf commented on #433
Cool. Are you interested in add that plugin to `folium` :wink: ? Take a look at some of the [current](https://github.com/python-visualization/folium/blob/master/folium/plugins/terminator.py) plugins as a starter point.

[2016-05-24 10:07] ocefpaf commented on #427
Closed by #428

[2016-05-24 10:07] #427 closed

[2016-05-24 19:08] michaeljs1990 commented on #435
What is an official release? I am using your 0.2.1 tag and still have this issue. Do your tagged releases not represent stable versions?

[2016-05-24 19:50] ocefpaf commented on #435
All those that are versioned.

Let's see.

[code]

Nope. I cannot see any use of branca in that release. Can you point me to
what branch you are using?

They do.

[2016-05-24 19:51] ocefpaf commented on #435
OK. I guess Michael Schuett deleted the original message. Maybe the issue was resolved while I wrote the answer :smile:

[2016-05-24 20:13] michaeljs1990 commented on #435
Yeah it was just my confusion when I was running the software. I thought I had a tag checked out when I didn't. Sorry about that.

[2016-05-30 12:13] cgarciaf commented on #210
Can you pls show some code line ass un example i need to use this feature....

[2016-05-30 12:14] cgarciaf commented on #379
Any code example i can use to implement this with folium? seem fixed.

[2016-05-30 16:21] yeffel opened #438 "MarkerCluster with Layers"
I wanted to see if someone had an example of leaflet markers that are Clustered and also layered.

For example.  A map with 1000 points clusters, but a layer to turn on and off a FeatureGroup.

So I guess asked another way can one Cluster a Feature Group?

[2016-05-30 17:04] ocefpaf commented on #210
@cgarciaf take a look at the plugins folder in `folium`.

[2016-05-30 17:06] ocefpaf commented on #438
@yeffel take a look at this example: https://ocefpaf.github.io/python4oceanographers/blog/2015/12/14/geopandas_folium/

[2016-05-30 17:06] #438 closed

[2016-05-30 17:10] cgarciaf commented on #210
Could you pls drive me a bit more i looked into plugin but i am lost...

[2016-05-30 17:28] yeffel commented on #438
Great this did the trick.

My follow up question, and sorry if this is not the correct forum to ask.

I'm using a Mapbox map.  And the LayerControl includes the long URL to my Mapbox tileset.

I looked at the LayerControl code: and wanted to see if there is a way to change the long URL to just mapbox?

 {% macro script(this,kwargs) %}
            var {{this.get_name()}} = {
                base_la

[2016-05-30 18:34] ocefpaf commented on #438
:+1:

It is. We don't really have a forum/mailing list (and we are slow to respond), but GitHub and [gitter](https://gitter.im/python-visualization/folium) are the right places to ask.

Not sure what you mean by tileset... Is that the layer name? We can certainly improve that part of the code. (I believe we have a standing bug on changing the layer name BTW that needs to be addressed. Are you inte

[2016-05-30 18:40] ocefpaf commented on #210
Sorry, but not right now. Folium is maintained by  the efforts of brave volunteers with demanding day jobs :crying_cat_face:

As soon as I get some free time I will put a skeleton PR together and ping you.

[2016-05-30 18:43] cgarciaf commented on #210
You all have me recognition that before hand. Looking fwrd that skeleton, i am lost on the usage.. Thanks
C

[2016-05-30 23:15] qingkaikong opened #439 "PolyLine problem when take the longitude negative"
I try to plot the tectonic plate boundary on the folium map using the PolyLine, but it seems folium doesn't handle the longitude well at -180 degree and 180 degree, see the following examples, it plot a direct line across the whole map.

<img width="852" alt="example" src="https://cloud.githubusercontent.com/assets/1621324/15659552/59a8404c-2681-11e6-95c1-2551344bf5d5.png">

[2016-05-30 23:18] ocefpaf commented on #439
That is a leaflet issue that folium does not fix. There are a few tricks to prepare your data before plotting to avoid it. See http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_lines.ipynb

PS: If you can find an elegant and simple way to circumvent that problem please send a PR our way :wink:

[2016-05-31 01:07] qingkaikong commented on #439
Yeah, it is a problem, but seems Cartopy handles this problem very well:
![plate_boundary](https://cloud.githubusercontent.com/assets/1621324/15660434/51d41f7a-2691-11e6-8aa1-9ff9db1e4fe6.png)

import cartopy.crs as ccrs
import cartopy.feature as cfeature

fig, ax = plt.subplots(figsize=(10, 8), subplot_kw=dict(projection=ccrs.Robinson()))
ax.set_global()
ax.coastlines(resolution='110m', color='k'

[2016-06-02 13:06] FlorianHoevelmann opened #441 "Heatmap with Time Dimension"
Hey,

I'm currently trying to create a Heatmap with a time dimension as shown in this [example](http://apps.socib.es/Leaflet.TimeDimension/examples/example12.html).
I managed to create a Heatmap with different Layers for each day as a workaround but it would be awesome to have a time bar rather than selecting each day manually.
I know that you already implemented the TimestampedGeoJson function bu

[2016-06-02 13:18] ocefpaf commented on #441
@FlorianHoevelmann folium needs a lot of work to wrap of the functionalities in `Leaflet.TimeDimension`. I don't think what you want to do is possible yet. I will leave this issue open in case someone wants to implement this.

[2016-06-02 19:03] sanga commented on #434
https://github.com/python-visualization/folium/pull/440 Fixed this

[2016-06-02 19:03] #434 closed

[2016-06-06 19:32] LuiCotias opened #443 "Problem rendering IFrame on popups"
Hi guys! Thank you so much for Folium! It's amazing! I'm trying the HTML Popup example from Popup notebook on master examples, but all that i get is an empty popup.
![popup_example](https://cloud.githubusercontent.com/assets/5043220/15834477/10ac046a-2c02-11e6-83a9-3b0e2bcf4b7b.png)

<code>branca.__version__</code>
           '0.1.1'

Any idea? I already tried the downgrade to Folium 0.2.0, as in

[2016-06-08 20:33] xhx509 opened #444 "Could you add a time slider function on Folium"
Hi:
I am considering Folium for a while. I hope to show tracks on the map with time slider, so I can figure out where I am at specified time.

That is very important to me. Could you add a time slider function to  Folium?

Thanks a lot!

Xavier

[2016-06-08 20:36] ocefpaf commented on #444
A time slider would be an awesome addition. Unfortunately all of our devs are volunteers who try to improve folium during their spare time, so don't hold your breath waiting for it. (Unless you want to send a PR :wink:)

[2016-06-08 20:53] ocefpaf commented on #443
`folium 0.2.1` (which is the latest one available at PyPI) does not use `branca`! Branca will be used in `folium 0.3` (which is no released).

See a working version of your example [here](http://nbviewer.jupyter.org/gist/ocefpaf/cc24553055569783c9c813ced6b93018).

[2016-06-08 20:54] #443 closed

[2016-06-09 10:43] tomderuijter opened #445 "Feature request: add simple markers to map"
Folium is one of the best libraries out there for no-nonsense plotting of geospatial data in Python. A feature my colleagues and I are currently missing very much is the option to plot a simple coloured marker on a map. Example:

[<img src="http://s33.postimg.org/nwwe9rfnz/Screen_Shot_2016_06_09_at_12_42_36.png">](http://www.gpsvisualizer.com/examples/hawaii_earthquakes_20061015.html)

The current

[2016-06-09 13:25] ocefpaf commented on #445
There is no direct support for that in `folium` b/c `folium` tries to be a `leaflet` wrapper. You have to options:

1) find a `leaflet` plugin that does that and implement it on `folium`
2) create a GeoJSON with that as a feature and plot in `folium`

To create the GeoJSON you can use `mplleaflet` and, if the scatter plot is all you want, you don't even need `folium`, but if you need some extra fe

[2016-06-09 13:25] #445 closed

[2016-06-10 12:47] BibMartin commented on #445
@tomderuijter Here is an [example on how to do it.](http://nbviewer.jupyter.org/github/bibmartin/folium_notebooks/blob/feature%2Fscatter_plot/test_scatter_plot.ipynb)

If you find something to simplify, please feel free to suggest an improvement.

[2016-06-10 12:47] ocefpaf commented on #445
Ah ha! Forgot about CircleMarker!! Awesome example @BibMartin!!!

[2016-06-10 14:30] tomderuijter commented on #445
Thanks all. I didn't directly link scatter plots to map markers.

On Fri, Jun 10, 2016 at 2:47 PM, Filipe <notifications@github.com> wrote:

[2016-06-11 12:00] #339 closed

[2016-06-14 10:32] JamesGardiner commented on #419
@ocefpaf this was causing me issues with strict mime type checking enabled, but should be closed by #448.

[2016-06-14 11:07] ocefpaf commented on #419
We need a new release. I believe that was fixed in latest master. (I'll
check that as soon as I get back on office.)
Em 14/06/2016 07:32, "James Gardiner" <notifications@github.com> escreveu:

[2016-06-15 15:54] koldunovn opened #450 "Is there a way to add colormap to LayerControl?"
First of all incredible progress from the last time I have checked folium, my respect to the team!

I am trying to use some examples from Colormaps.ipynb and it seems like the colormap is not recognised by the LayerControl as one of the layers. My question have two parts:

- Is there a way to make LayerControl aware of the colormap?
- Most importantly is there a way to combine the layer created, s

[2016-06-15 16:40] BibMartin commented on #450
In fact a `Colormap` is not a `Layer` in Leaflet's sense. So it's not trivial to add it to a `LayerControl`.
But it may be possible to do that in using [**LayersControlEvent**](http://leafletjs.com/reference.html#events) and writing explicit code that hides/show the colormap.

[2016-06-15 17:05] koldunovn commented on #450
@BibMartin Thanks for the reply! I certainly will not be able to implement it, since my Java Script knowledge is zero. I just found similar question here http://gis.stackexchange.com/questions/68941/how-to-add-remove-legend-with-leaflet-layers-control with an answer. Maybe it will help.

Anyway I think this issue now can be turned to feature quest I guess :)

[2016-06-15 17:10] BibMartin commented on #450
True. And that would be a useful feature btw.

Thanks for the idea and for the link :wink:

[2016-06-15 17:13] ocefpaf commented on #450
Just to be fair `team` == @BibMartin lately :wink:

[2016-06-15 19:14] BibMartin commented on #450
Thanks to your link @koldunovn , I finally found a way of doing it. See [**here**](http://nbviewer.jupyter.org/gist/BibMartin/f153aa957ddc5fadc64929abdee9ff2e).

But I don't know where it should be put:
* As a method in `branca.colormap.Colormap`
* As a method in `folium.map.Layer`
* As a third object as shown in the example notebook
* As a child of one of the two objects

Well this is open to dis

[2016-06-15 19:34] koldunovn commented on #450
@BibMartin This is just amasing! Exactly what I need!
From the user perspective I think it is logical to create two separate objects and then bind them together (similar to FeatureGroup, I guess)?

[2016-06-16 00:44] erccarls commented on #423
Seconded.... This looks terrible, but the rest looks soooo good!

[2016-06-21 18:05] omrihar opened #453 "Add FeatureGroups to LayerControl without adding to map / remove elements"
First of all, I'd like to say I really really like what you're doing with `folium`. It really feels like magic, especially when working with it in Jupyter.
What I didn't really find a way to do is the following: I'm adding multiple Markers (actually Circles) to a map which correspond to different times. I want to have an easy way of only showing one layer at a time. What I currently do is add a la

[2016-06-21 19:35] BibMartin commented on #453
In fact `folium` lets you create a web page (HTML+CSS+JS) based on python ; but you cannot interact with that webpage through python. You have to do Javascript to make your map interactive.

At the moment, there a two track I can suggest to you:

* [**TimestampedGeoJson**](http://nbviewer.jupyter.org/gist/BibMartin/df0e61615e9dec1e55c9b1eff9bcb1a4) that is a (buggy) plugin of folium, but can give

[2016-06-21 19:35] #453 closed

[2016-06-23 00:08] lalessan opened #454 "Legend for categorical data"
Hi,

Thank you a lot for your work.
I am working with categorical data and I created a choropleth using a self-defined style-function. Is there a way to have a colorbar (or an other type of legend) where ticks are not floats but strings?

Thank you,
Laura

[2016-06-23 09:54] omrihar commented on #453
Thanks! I was actually thinking quite a lot about using `crossfilter` with python projects, especially together with `dc.js`. Your `crossfolium` does indeed look very nice!
I have been trying to implement the time dependence of my map layers in javascript within Jupyter (using `%%javascript` cells and `require.js` to load `d3` and `leaflet`) but came across some bugs (one of the map tiles in leafl

[2016-06-23 14:02] ocefpaf commented on #454
I am afraid there is no easy way to do that right now. (Glad to be proven wrong with a PR :wink:)

[2016-06-23 14:38] simogeo commented on #454
I have no time to work on that, but would be happy to contribute in a way with the tiny geostats library I coded : https://github.com/simogeo/geostats/

Samples available on : http://www.intermezzo-coop.eu/mapping/geostats/

[2016-06-24 15:16] kitman0804 opened #455 "Map not displaying"
The map does not display in the browser, instead it return

`<folium.folium.Map object at 0x000002556A104080>`

To display the map, I need to save and open it manually. Is it normal?

[2016-06-24 15:53] ocefpaf commented on #455
Hi @kitman0804 that is the object as expected, if you are in a Jupyter Notebook you should see the map via its rich display. If you are not on Jupyter you need to save the HTML and serve it to browser the map.

[2016-06-24 15:53] #455 closed

[2016-06-24 15:55] rohanp commented on #402
I am also getting the same error

[2016-06-26 18:05] BibMartin commented on #402
This is mainly due to data : the join between counties data and counties topojson does not fit perfectly.
See changes in #456.

Note that with new choropleth default behavior, the output map has few interest (almost every county is in yellow) ; it would worth providing a `threshold_scale` in the example.

[2016-06-27 23:25] lalessan commented on #454
Thank you. I'll try that!

[2016-06-28 13:39] ocefpaf commented on #402
Fixed in #456

[2016-06-28 13:39] #402 closed

[2016-07-03 16:45] ardit700 opened #458 "Adding geojson properties to popup"
I have the following code which uses this [geojson ](https://www.dropbox.com/s/jzs2yoiesf017hn/volcanoes_json.geojson?dl=0)file as input.

[code]
 As you see the code is simply displaying a static string. Is there a way to put marker properties values contained in the json file in the popup method?

[2016-07-03 17:09] ocefpaf commented on #458
That is a common request and there are ways to accomplish that. It will depended how that information is coded in your JSON file. You have to loop your JSON and get the keys to construct the popups manually for now. Something like:

[code]

[2016-07-03 20:26] ardit700 commented on #458
Thanks. Would myjson_properties be a pandas dataframe here?

[2016-07-03 23:06] ocefpaf commented on #458
Depends on how you read them :smile:

[2016-07-04 08:30] ardit700 commented on #458
I am having troubles integrating your code into mine. I tried this:
[code]

but that displays the last item of the loop in all marker popups.

Then I tried a list comprehension:

`gj.add_child(folium.Popup( [row['features']['properties']['NAME'] for name,row in df.iterrows()]))
`
but that brings an empty popup.

What am I missing here?

[2016-07-04 12:38] ocefpaf commented on #458
Try something alone those lines:

http://nbviewer.jupyter.org/gist/ocefpaf/1e6e23fa12dfa01d4134c37907bf46d2

[2016-07-04 12:38] #458 closed

[2016-07-04 12:58] ardit700 commented on #458
Thanks, but that brings us to the other issue of not being able to have a layer control for the markers. That's why I was looking at the GeoJson() function in the first place.
I was trying to have points with popups and be able to toggle that layer on and off.
Putting Marker() in a loop won't allow to have it as a layer in the layer control panel if I am not wrong?

[2016-07-04 13:11] ocefpaf commented on #458
Take a look at the `MarkerCluster` and `FeatureGroup` classes. See also an example here:

https://ocefpaf.github.io/python4oceanographers/blog/2015/12/14/geopandas_folium/

[2016-07-04 14:13] ardit700 commented on #458
Thanks a lot for your help.

FeatureGroup worked well. The map now has popups and a layer control. Here is the code for future reference:

[code]

[2016-07-08 09:46] ardit700 opened #459 "Legend for Markers and GeoJson"
The folium.Marker() and folium.GeoJson() methods don't seem to have a parameter for a legend. Is there a way to add a legend for such layers?

[2016-07-08 15:25] ocefpaf commented on #459
Easily? No. PRs are welcome :smile:

[2016-07-08 15:25] ocefpaf commented on #459
Closing this as it is a feature already requested in many places.

[2016-07-08 15:25] #459 closed

[2016-07-09 06:54] Seraf69 opened #460 "Can I display multiple basemaps with folium.LayerControl().add_to()?"
_(first, my apologies if doing it wrong, as this is my first ever github issue, but I have been encouraged by FPAF himself :-)_

In Leaflet there is a way to show multiple basemaps to chose from (as radio buttons) using the code below. I cannot get this to work with folium.LayerControl().add_to(map) because it only takes one parameter (map)

**javascript Code:**
[code]

[2016-07-10 18:59] ResidentMario opened #461 "Adding a marker with NaN coordinates causes all other markers added afterwards to silently fail."
For example, suppose I have a list of geometries with x and y attributes.

The following will work as expected:

[code]

The following will not:

[code]

[2016-07-11 03:59] Seraf69 commented on #460
Sorry, the answer in folium is much simpler than I thought and I spotter it here:
`http://deparkes.co.uk/2016/06/10/folium-map-tiles/`
It is simply a matter of first defining the map e.g. my_map
then switching on the layer control with
folium.LayerControl().add_to(my_map)
then adding any number of out-of-the-box folium tiles e.g.
[code]
They will all appear as radio-buttons, with one one available

[2016-07-11 03:59] #460 closed

[2016-07-11 09:54] Seraf69 opened #462 "Add {collapsed:false} from Leaflet to folium.LayerControl()"
Hopefully, this one has escaped me?
I cannot find out how to switch on the equivalent of Leaflet's  {collapsed:false}
 in folium.LayerControl() so as to show all the layers unpacked by default (rather than having to hover/click on the layer control icon (top right)
Thanks.

[2016-07-13 12:32] sarajcev opened #463 "MapQuest Open tiles discontinued"
If I understood correctly, as of July 11, 2016. MapQuest has discontinued direct tile access (http://goo.gl/xB0xXt). This broke folium maps which have used MapQuest Open tiles. Is there a workaround to this problem? Do you recommend using MapQuest with folium? Thanks in advance.

[2016-07-13 13:07] ocefpaf commented on #463
You are correct. I haven't look into alternatives yet

I usually go for the open street maps, but there are many other sources for tiles builtin in `folium`. You can also add any external source via a URL.

[2016-07-13 15:00] BibMartin commented on #463
Note that there's [**this awesome website**](http://leaflet-extras.github.io/leaflet-providers/preview/) for choosing your tiles.

[2016-07-13 15:02] ocefpaf commented on #463
We could add that to the docs.

[2016-07-14 03:02] sangyh commented on #414
can you explain how you solved this?

[2016-07-14 03:48] qingkaikong commented on #414
When you create the map, just set the control_scale = True, then you will have the simple map scale at the bottom. It is not perfect, but enough for my need.

Example:
map_1 = folium.Map(location=[lat, lon], zoom_start=8,control_scale = True)

[2016-07-14 23:21] sangyh commented on #414
Great. thanks. Do you know if I could also add a search box? There's that option for leaflet but havent found anything for Folium.

[2016-07-14 23:26] ocefpaf commented on #414
Can you open a separated issue for that feature request? There is no search box yet, but that is possible. (BTW PRs are welcomed :wink: )

[2016-07-15 02:53] sangyh commented on #414
Okay will do. Sorry, I am a new member on here, and just beginning to learn programming.

[2016-07-15 02:54] sangyh opened #464 "Add Search Box on Folium map"
Can anybody point me towards how to add a Search box on Folium?
I know Leaflet has this functionality but couldn't find any documentation on Folium.
Thanks in advance.

[2016-07-15 02:55] sangyh commented on #462
I have been trying to do this too. Will follow this thread and update if I find anything.

[2016-07-16 19:12] qingkaikong opened #466 "Can not load Vincent plot in the popup"
The Vincent/Vega Markers example in the folium_examples.ipynb in the examples folder have trouble to load the Vincent plot. I got the error on Chrome on a mac:
**An embedded page on this webpage says:
[Vega Err] [object XMLHttpRequest]**

This seems a browser protocol issue, may need take care in the future.

[2016-07-16 19:41] ocefpaf commented on #466
@BibMartin I saw this with @qingkaikong here on a OS X machine using safari. Chrome works, but I haven't test firefox yet.

[2016-07-16 19:49] qingkaikong commented on #466
Actually on my mac, it is not working on Chrome, Safari, and firefox. But Chrome and Safari gave me the popup error message, firefox didn't give me any error message.

[2016-07-16 20:48] ocefpaf commented on #466
Good to know. We need to track down if we still are loading something from an `http` endpoint.

[2016-07-17 04:27] #415 closed

[2016-07-17 21:59] ocefpaf commented on #461
We could do some data "sanity" checks. I will look into it.

[2016-07-18 20:08] xhx509 opened #469 "Could you tell me how to make a newline on Marker Popup"
Hi

I tried to put "\n" and "br<>" to make a newline on Marker Popup. But they are not working. The letters are still in one line.
Could you tell me how to make a newline?

Thank you

[2016-07-21 04:14] qingkaikong commented on #469
If put popup = 'First Line <br> Second Line', it seems folium convert the text to First Line &lt;br&gt; Second Line, and pass it to leaflet. Therefore the leaflet can not recognize it. (leaflet do recognize <br> as newline).

A simple walk around for now: after you generate the html file, find the line of this popup text, and change the &lt;br&gt; to <br>, this should work to separate the lines in

[2016-07-21 05:11] qingkaikong commented on #469
It does seem there's a better solution discussed before in #332, using IFrame.

You can check out the following notebook made by @BibMartin:
http://nbviewer.jupyter.org/github/bibmartin/folium/blob/issue288/examples/Popups.ipynb

[2016-07-21 06:20] hkjournalist opened #470 "why I can't set more than two markers in map"
Dear author ：Please forgive my poorly english ability.
I want to know why I can't set more than two ‘Marker' in 'map' when I set popup = 'sth'

[code]

[2016-07-21 13:31] xhx509 commented on #469
Hi Qingkai:

Your help are very useful to me, I would like to make a Html as @BibMartin
<https://github.com/BibMartin>:'s example.

My issue is solved

Thanks a lot .

Sincerely
Huanxin(Xavier)

On Thu, Jul 21, 2016 at 1:11 AM, Qingkai Kong <notifications@github.com>
wrote:

[2016-07-21 13:32] #469 closed

[2016-07-21 13:58] ocefpaf commented on #469
Thanks @qingkaikong!

[2016-07-21 14:03] ocefpaf commented on #470
That is never a problem in GitHub issue :smile:

I just tested your code and it seems fine:

http://nbviewer.jupyter.org/gist/ocefpaf/0c34a265627c758aa9e27ffc6786fcb7

Note that your points are really close together, so you will need to zoom in to tell them apart.

[2016-07-21 14:03] #470 closed

[2016-07-21 15:28] qingkaikong commented on #469
You are welcome, and glad to help!

[2016-07-21 18:58] kcnwogu opened #472 "How to measure distance?"
Is there a way to enable the measure feature of Leaflet with Folium?
![image](https://cloud.githubusercontent.com/assets/7269633/17035067/1ad68ef8-4f4b-11e6-9cb9-e10640982107.png)

[2016-07-23 03:36] qingkaikong commented on #462
Ok, let me try to add this option into the LayerControl, wait for my update.

[2016-07-23 04:33] qingkaikong commented on #462
Ok, I just create a pull request with all the new options: {position, collapsed, autoZIndex}, once it get merged, you can use these options.

[2016-07-25 23:08] disarticulate commented on #469
Although iFrame solves this problem, the lack of HTML formatting for a popup is annoying. An iframe can't to relative source linking, AFAIK. Here's a solution someone could add to folium if they cared:

[code]
If someone takes this up, they should also add a class variable which store the raw string put into the jinja2 Template function

[2016-07-25 23:11] ocefpaf commented on #469
We all care. However, `folium` is maintained by volunteers on their spare time, day jobs are always keeping us away from fun coding :wink:

Would you care to send a PR yourself?

[2016-07-25 23:29] ocefpaf commented on #462
@Seraf69 thanks to @qingkaikong that option was added in `folium`. I try to get a new release out in the next few weeks or so.

[2016-07-25 23:29] #462 closed

[2016-07-26 00:20] disarticulate commented on #469
@ocefpaf I appreciate all the work here. But you've closed all the issues mentioned here, which suggests these arn't problems. When I review the organization of this library, I don't find anything comfortable enough to suggest anything other than overrides and workarounds. I left the above so that anyone else google searching finds a more satisfying option than an iframe.

As the code I posited si

[2016-07-26 00:27] ocefpaf commented on #469
Only if you expect it to be `HTML` :wink:

The author of that code designed it to be raw strings, and the use of `HTML` via the `IFrame`. Hence the closed issue. I understand that it is convenient to add `HTML` directly, but I believe @BibMartin had a reason to do it this way.

Again, if you send a PR, we ca review and check how that goes with the rest of the functionality.

[2016-07-29 03:42] joshuacano commented on #341
I would love to work on this. Is anyone doing so at the moment?

[2016-07-29 04:33] agravier commented on #341
I'm not doing anything @joshuacano. Looking forward to your work!

[2016-07-31 00:34] pjandrews opened #475 "Add sub-layers to layer control"
Here is an example of what I mean by sub-layers. Let's say that I was trying to track a group of dogs and a group of cats like this:

Dogs
-Fido
-Spot
-Rex

Cats
-Wiskers
-Garfield
-Tom

On the top layer I could select all the dogs or all the cats. In the sub-layer I could select any of the individual dogs or cats.

[2016-08-01 06:47] lightening0907 opened #476 "min width and max height in popup"
HI everyone,
 Is there any way to adjust the min width and max height for the pop up window? I put two image in the html iframe for the popup, without adjusting the min width and max height of the pop up window, the popup will not function properly (height exceed the browser, popup will not show). I saw in http://leafletjs.com/reference.html#popup-minwidth, it support these options, is it possible

[2016-08-01 18:27] kcnwogu opened #477 "folium Icon"
Do you know why some icons are not displayed? An example is "fa-bicycle"

[code]

[2016-08-01 18:50] ocefpaf commented on #477
@kcnwogu I haven't kept the pace with the `fa` fonts updates. We are using https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css and maybe that the bicycle is not available in this version.

We should make it more flexible so people can use the icon and change the URL though. PRs welcomed :grimacing:

[2016-08-01 18:54] kcnwogu commented on #477
@ocefpaf thanks for the update.

[2016-08-01 18:56] ocefpaf commented on #477
BTW let me know which version of `fa` you are using and maybe we can try to update it in `folium` before the next release.

[2016-08-01 18:58] kcnwogu commented on #477
I am using version 4.3.

[2016-08-01 19:25] ocefpaf commented on #477
Alright. This one was easy enough to get me from my laziness and send a PR :stuck_out_tongue_winking_eye:

Here is the result: http://nbviewer.jupyter.org/gist/ocefpaf/e2b828a773c6588a02614a274803daec

[2016-08-01 19:32] kcnwogu commented on #477
Right on! Thanks a lot.

[2016-08-02 07:17] tlinhart opened #479 "HTML popup - Unicode"
Hi,

when using the HTML popup for markers, Unicode characters are not shown correctly. Consider this sample code with Czech characters:

<pre>map = folium.Map(location=(50, 14))

html = u'<b>Text:</b> {0}'.format(u'ěščřžýáíé')
iframe = folium.element.IFrame(html=html, width=200, height=100)
popup = folium.Popup(iframe)
folium.Marker((50, 14), popup=popup).add_to(map)

map</pre>

I'm using Folium

[2016-08-02 07:45] peporiz0r commented on #476
Here's an example of the popups with vega graphs:
`folium.RegularPolygonMarker(
    [47.3489, -124.708],
    fill_color='#43d9de',
    radius=12,
    popup=folium.Popup(max_width=450).add_child(
        folium.Vega(json.load(open('vis1.json')), width=450, height=250))
    ).add_to(buoy_map)
`
does this help you? I had problems with the popup size too.

[2016-08-02 07:52] peporiz0r opened #480 "Vega graphs with Altair - Vincent discontinued"
Hi, is there a way to create the graphs for the popups with altair, since vincent won't be continued? I tried to implement it, but failed. I couldn't find a `.to_json()`method in altair. Is it a problem that altair uses vega-lite?I'm obviously not an expert ;)

[2016-08-02 08:50] ocefpaf commented on #480
@peporiz0r switching from `vincent` to `altair` is in the cards, but I haven't looked into `altair` yet and it may take some time.

Note that you can always save a `PNG` and display in the popup as a workaround:

http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_png_mpld3_vega_popup.ipynb

[2016-08-03 10:07] ocefpaf commented on #479
@tlinhart this was fixed in `branca`. See https://github.com/python-visualization/branca/pull/14#issuecomment-237171417 and will be part of `folium`'s next release.

[2016-08-03 10:07] #479 closed

[2016-08-03 10:28] AlexArcPy opened #481 "Impossible to draw GeoJSON that has crs other than 4326"
I have two GeoJSON files that are identical in their structure except one has

`Islands3857.geojson`

`{"crs": {"type": "name", "properties": {"name": "EPSG:3857"}}`

and another has

`Islands4326.geojson`

`{"crs": {"type": "name", "properties": {"name": "EPSG:4326"}}`

I am able to draw on the map only GeoJSON file with coordinates defined in 4326 (decimal degrees).

Is there support for GeoJSON

[2016-08-03 10:48] tlinhart commented on #479
Great, thanks a lot.

[2016-08-03 11:00] ocefpaf commented on #481
`Geopandas` has the notion of `crs` but, as far I can remember, we never implemented much functionality towards better support for projections.

@BibMartin did implement a nice support for [`geopandas`](https://github.com/python-visualization/folium/blob/7d8e7c5f74e0c23c08c428b6daabe7f7478ecffa/folium/features.py#L321) though that may help as it uses `geopandas` to re-project before drawing.

[2016-08-03 11:00] #481 closed

[2016-08-03 13:01] AlexArcPy commented on #481
@ocefpaf , ok, thank you. Did I understand right that if I have a geojson file with coordinates defined and stored not in WGS84 (epsg 4326) decimal degrees, I won't be able to draw the geojson directly? In other words, I do need to reproject the coordinates before I will be able to draw them with folium?

[2016-08-03 13:18] peporiz0r opened #482 "endless/continuous map"
is there a parameter for setting the map to be continuous?
so that i can come back to my starting point on the map just by "walking" in the same direction.

the reason for that is the following: I placed a marker with a popup on Japan. Since I can't move any more to right, the handling of popup can get really ugly and it partly disappears.

[2016-08-03 13:23] ocefpaf commented on #481
I haven't test this yet but if you provide the a `geopandas` `GeoDataFrame` or `GeoSeries` the re-projection should be done automatic for you:

[code]

PS: the `GeoJson` does not mention this in the `docstring` and that is a doc bug we need to fix!

[2016-08-03 14:17] AlexArcPy commented on #481
@ocefpaf , no worries. I am casting the `GeoDataFrame` into another crs like this:
[code]

I just wanted to understand if this was necessary. If not doing this, providing a `GeoDataFrame` or geoJSON in another crs than 4326 would not draw. Not a big deal to use the `geopandas to_crs()`, I am OK with that :)

[2016-08-05 15:37] ocefpaf commented on #482
@peporiz0r the problem is the automatic settings of `maxBounds` in `folium`. In theory the default map is already "endless." You can probably see that when trying to navigate, but it goes back to the bounds once you release the mouse.

I will see a nice way to circumvent that.

[2016-08-05 16:54] ocefpaf commented on #482
@peporiz0r I have a prototype ready: http://nbviewer.jupyter.org/gist/ocefpaf/e47845727e92088757b4d0c77ed90046

Let me know if that is what you have in mind. I am polishing it to prepare a PR.

[2016-08-05 17:01] thatneat commented on #482
I was just running in to this same issue. Your solution works quite well, though maybe there should be a way to maintain the 'bounce' functionality in the North/South direction? As it is, it's easy to scroll off the top or bottom and get lost.

[2016-08-05 21:13] ocefpaf commented on #423
The `IFrame` is part of [branca](https://github.com/python-visualization/branca) now. You should open an issue there.

Or better yet open a PR to fix it :smile:

I believe [this](https://github.com/python-visualization/branca/blob/1096b917755ddbfa1e0a379217fa63c5bb0e8b52/branca/element.py#L314-L330) is the relevant code part.

[2016-08-05 21:13] #423 closed

[2016-08-05 23:38] pjandrews commented on #371
I just installed folium today (8/5) and am seeing this issue.

Here is the version I'm using:

'0.2.1'

[2016-08-06 00:16] brwst commented on #371
Hello @pjandrews

I'm not able to replicate your problem -- folium 0.2.1 seems to fix this issue for me.  Do you still see the `FeatureGroup` naming issue when using [this example notebook](https://nbviewer.jupyter.org/github/brwst/folium/blob/master/FeatureGroup_name-0.2.1.ipynb)?

[2016-08-06 07:26] peporiz0r commented on #482
Yes @ocefpaf , that's what i was looking for. And i agree with @thatneat , an upper bound would be useful. But that bound should start a little above or below the map, so that popup can still be displayed on the top/bottom of the map.
Your solution also leads sometimes to strange behavior while "crossing the line", e.g. jumping on the map. But other than that, it's great

[2016-08-06 08:22] antiquechrono opened #483 "All Base maps loading at the same time"
I'm not sure If this is a bug in Leaflet or Folium, but if you add a bunch of tile layers and use a layer control it will cause every tile layer to be active at the same time and download tiles for every layer. As soon as you select a new layer it starts loading tiles from only that layer like it should.

[code]

[2016-08-06 11:07] ocefpaf commented on #482
That is a leaflet "feature."

You have control over the bounds with `min_`/`max_` `lon`/`lat` already. The only issue was that the bounds were set by default.

[2016-08-07 16:32] peporiz0r commented on #482
Great, thanks!

[2016-08-07 16:35] wAuner opened #484 "Distances / Routes"
Is there a way to create paths with distances or measuring distances between points?
This project has so much potential, I really like it.
Wish it would be easier to involve charts/image on the map though.

[2016-08-08 11:27] ocefpaf commented on #484
There is no convenient way to do it. If you find a `leaflet` plugin with such functionality we can try to wrap like into a `folium` plugin.

Take at the image overlay plugin:

http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/ImageOverlay.ipynb

[2016-08-08 11:28] ocefpaf commented on #482
@peporiz0r I will leave this opened until we merge the functionality otherwise I will forget it. (I haven't even send the PR yet :flushed:)

[2016-08-10 17:16] alexshires opened #485 "typo in choropleth?"
https://github.com/python-visualization/folium/blob/master/folium/folium.py#L676

should this be 'opacity'?

Alex

[2016-08-15 21:11] ocefpaf commented on #483
I am pretty sure it is `folium`. I even reported this myself somewhere but I guess I closed it. I will look into it as soon as possible.

[2016-08-15 21:14] ocefpaf commented on #371
I cannot reproduce it either :confused:

[2016-08-17 17:20] pjandrews commented on #371
@brwst, I don't see the issue when I use the example notebook you provided.

The strange thing is that I have two computers, both with 0.2.1 and when I run the same code the error is happening on one, but not the other. Here is my code if it helps...

def LDM(df,adb):
    global map_

    #create a DataFrame
    df_ldm = df_ld[(df_ld['Lat'] > -200)&(df_ld['Lat'] < 200)&(df_ld['Lat'] != -1)]

    #

[2016-08-17 18:44] achourasia commented on #100
Popup does not work in 0.2.1 release

[2016-08-17 18:47] achourasia opened #486 "Broken again: Geojson popup content not showing up"
For release 0.2.1 the popup content is broken again
Original issue
https://github.com/python-visualization/folium/issues/100

[2016-08-18 05:00] cloud05 commented on #486
Same here. Pop ups are not showing even with 'popupContent' in my geojson 'properties'.

[2016-08-18 10:38] ocefpaf commented on #486
Closing this as it is duplicate of https://github.com/python-visualization/folium/issues/198

[2016-08-18 10:38] #486 closed

[2016-08-18 14:53] rornor opened #488 "Vega-lite?"
I'm trying to pass vega-lite dict (from altair) to `folium.Vega()` but it does not render.
Is vega-lite supported, or do you know some easy way to transform vega-lite to vega?

[2016-08-19 00:37] #477 closed

[2016-08-19 00:51] rornor opened #489 "IFrame support for IE and Edge"
IE and Edge does not support IFrame with data uri as src attribute. Instead both support only explicit paths for src attribute.

So folium IFrames does not show on Windows browsers.

[2016-08-19 01:03] ocefpaf commented on #489
This statement if not true. Many people use `folium` in Windows browser. However, I do understand that it would be nice to support more browsers like IE and Edge. PRs welcome :smile:

[2016-08-19 01:11] rornor commented on #489
Only option I see is to serve IFrame content is separate file(s).
Although it works - I can see it in IE/Edge I don't like this option very much :(

[2016-08-19 20:04] ocefpaf commented on #489
Neither do I. I'll research a little bit about this to see if we can do better.

To be honest I would like to support more browsers but as long as firefox and chromium/chrome are OK I am happy.

[2016-08-20 00:26] rornor commented on #489
Sure, I use Chrome and Edge in parallel and I believe Firefox wont give much in future, but if you want to deliver leaflet to Windows guy w/o insisting for specific browsers it would be great.

[2016-08-21 21:43] joshuacano commented on #341
Just finishing the initial pass on this, Should this be the default behavior? Or should we pass in an option or flag to activate this?

[2016-08-24 18:01] rornor opened #491 "CircleMarker pixel size"
If I add CircleMarker, it has fixed size (in geo units). Zooming it makes it too large, while zooming out makes it too small. This does not make sense to me for a Map Marker.

Is there anything I can do to make it in fixed pixel size?

[2016-08-24 19:12] rornor commented on #491
This exists in master - Circle and CircleMarker are separated.
It works as expected.

[2016-08-24 19:12] #491 closed

[2016-08-24 19:16] ocefpaf commented on #491
Thanks following on this @rornor!

[2016-08-24 19:59] ocefpaf commented on #488
The `Vega` pluging wrapps only `vincent` plot and that will be deprecated soon.

It would be nice to get `Vega-lite` support via `altair`. Are you interested in send a PR?

[2016-08-24 20:09] ocefpaf commented on #341
Awesome PR @joshuacano! Sorry for the delay to review it. (Day job keeping me away from fun work :smile:)

Optional flag for sure. I believe you already have that in your PR, right?

[2016-08-24 20:19] rornor commented on #488
Sure, np, I'll try in the next couple of days, and report back.

[2016-08-24 20:27] ocefpaf commented on #488
BTW here is the altair project that may help: https://github.com/ellisonbg/altair

[2016-08-24 23:29] klonuo opened #492 "Add legend to map"
This is easy in leaflet JS, but for me impossible to frustration with folium.

I created DIV element as expected legend by leaflet, then tried to add it into map through `folium.map.Html` - nothing shows. Browsing the repo does not reveal anything related to legend except 'legend_name' argument to choropleth map.

I then looked at `branca` but found nothing except iframe, which of course did nothi

[2016-08-25 01:36] klonuo commented on #492
Well, I'm still interested in this and would let you close the issue.

In the meantime I generated DIV element and I put it in the script section of generated map. It works nice. I probably can automate this insertion, but I'm sure that there is (or should be) better way to add legend to a map.

[2016-08-25 11:03] ocefpaf commented on #492
@klonuo a PR would be most welcomed. We do not have the man power to implement this.

That is a fair strategy for prototyping (and I recommend you sending that to the SO question) but for folium it would be nice to have that implemented as a plugin.

[2016-08-26 14:44] prcastro opened #493 "Choropleth: no way to change the name in the LayerControl"
How can change the name of a choropleth name in the LayerControl? Also, the return value indicated by the choropleth documentation is wrong.

[2016-08-29 17:35] afidegnum opened #494 "How do i customize my own jinja template?"
by default only plain maps are generated, i would like to create a custom jinja template on which the map will be rendered.

any idea?

[2016-08-31 18:38] adamkgoldfarb opened #495 "Adding Colormap to a map yields an assertion error"
Hi! Great work all. I love this package.

After creating and implementing a colormap, when I do:

`m.add_children(colormap)`

I'm getting the same error as is displayed at the end of [this folium example notebook.](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/Colormaps.ipynb)

`AssertionError: You cannot render this Element if it's not in a Figure.`

Not sure

[2016-08-31 19:05] achourasia opened #496 "heat map plugin creating incorrect output"
The heat map plugin is not generating correct output, to test I have added 6 points with a weight and color gradient. The expected output should have these points at different colors

Any ideas what may be going wrong? I suspect underlying js works on count and ignore weights

`import folium
from folium import plugins

m = folium.Map(location=[43.46811941, -90.04569087], zoom_start=5)
data = [[42.

[2016-09-02 22:11] achourasia commented on #496
This is a bug in underlying heat_map.js implementation
Fiddle with incorrect output using heat_map.js: https://jsfiddle.net/y20js9nm/13/
Fiddle with correct output using heatmap.js: https://jsfiddle.net/pz4usuLe/40/

I have filed a bug report https://github.com/Leaflet/Leaflet.heat/issues/70
Closing this issue it is not a folium bug.

[2016-09-02 22:11] #496 closed

[2016-09-03 00:00] ocefpaf commented on #496
Thanks for tracking this down @achourasia!

[2016-09-03 00:11] achourasia commented on #496
We should add another template for heatmap.js which does the right thing and has a plugin for leaflet. Note the current library and the one I mention have similar names heat_map.js (creates incorrect output) vs heatmap.js (creates correct output)

Here are the links
Heatmap.js: https://github.com/pa7/heatmap.js
Leaflet plugin: https://github.com/pa7/heatmap.js/tree/master/plugins

[2016-09-05 10:03] rornor commented on #488
Hi,

I quickly browsed through the code. So it seems to me you have template for rendering `vega` json data, and you expect passed Python data to have `.to_json()` method. However, `altair` objects have `.to_dict()` method, and creating `.to_json()` from there seems trivial. OTOH, we can use current `vega` renderer, as `vega-lite` package seems to provide "compiler" to deduce `vega` spec from `veg

[2016-09-05 10:57] ocefpaf commented on #488
To be honest I need to think and test this too to suggest a route. I also have not played with `altair` yet.

In general terms I would:

- kill the `vincent` plugin
- test what would take to parse a `vega-lite` `JSON` without worrying about how we are going to create that `JSON` yet
- if that seems doable than we should create a `plugin` that may (or may not) use `altair` to easy the `JSON` creati

[2016-09-05 18:08] rornor commented on #488
Ok. I'm not sure what role Vincent plays in Folium, as I would guess that it just gives object with `.to_json()` method that results in valid Vega object, which is then rendered through Vega js?

From what I can see it seems that creating Vegalite class (similarly to Vega class in `features.py`) would be much the same as creating a separate plugin. Again I didn't study Folium code, so maybe I talk

[2016-09-06 00:30] xmnlab opened #497 "click event for polygon elements"
I have started recently to work with folium.

Has folium any way to set a callback function or just a popup when the user clicks on the polygon area?

I saw some issues maybe about that .. but I'm not sure if this functionality is implemented or not .

thanks for your attention
my best regards

[2016-09-06 14:44] psychemedia opened #498 "Choropleth - data key missing in source data"
I've noticed that if a key exists in the geojson features list but it is missing in the source dataset used to colour regions in a choropleth map, an error is thrown, as described here: https://github.com/python-visualization/folium/pull/456#issuecomment-244945704 .

It would be useful if we could define a "missing_color" attribute that eg colours areas of the map with an optionally specified defa

[2016-09-06 15:40] ocefpaf commented on #497
@xmnlab it is not implemented yet. PR https://github.com/python-visualization/folium/pull/490 is the first one to go in that direction but implements a specific call back (highlight).

[2016-09-06 15:43] ocefpaf commented on #498
@psychemedia can you share the JSON file with a [sscce](http://sscce.org/) that shows the issue?

[2016-09-06 15:50] xmnlab commented on #497
@ocefpaf thank you a lot for the explanation.

[2016-09-07 15:28] jeffcjohnson commented on #498
I was running into this too and then found this gist with all the pieces to show how to do it properly but it too is now failing so I think this is a regression.

https://gist.github.com/wrobstory/5609889#file-choro-py

Download and unzip the gist zip.

[code]

[code]

[code]

[2016-09-07 16:00] joshuacano commented on #498
I've experienced this problem as well and would be glad to work on it, once I complete my last pr.

[2016-09-07 17:20] ocefpaf commented on #498
That was fixed in latest master. See https://github.com/python-visualization/folium/pull/456 and http://nbviewer.jupyter.org/gist/ocefpaf/24f18048a7718efa76e9f9d3999bd98b

(I need to get a new release out ASAP!)

[2016-09-07 17:20] #498 closed

[2016-09-09 09:27] psychemedia opened #499 "Using geopandas DataFrames in Choropleth Maps"
In passing, I noted that it's possible use geopandas in the context of `.choropleth()` by calling something like:

[code]

which may feel more natural to some users.

If this is a widely used way of calling `.choropleth()`, adding a `geo_df` attribute to allow `geo_df = geodata` could make sense, but if it's an edge case it runs the risk of overcomplicating the interface to `.choropleth()` unneces

[2016-09-09 11:50] ocefpaf commented on #499
The `GeoJson` class can take a geopandas object. See http://nbviewer.jupyter.org/github/python-visualization/folium/blob/e7f9c831b5df20918ee5c58aaccabc56a5bff163/examples/GeoPandas.ipynb

So it is a matter of passing the geopandas object directly in https://github.com/python-visualization/folium/blob/f6c2d9fff9ca95d2eaee715b39dd058a584afd2a/folium/folium.py#L689-L690

[2016-09-09 16:13] psychemedia commented on #499
@ocefpaf GeoJson can but `.choropleth()` doesn't.

[2016-09-09 16:14] ocefpaf commented on #499
That is why I said:

Do you want to try sending a PR to add that functionality?

[2016-09-09 18:49] psychemedia commented on #499
As I mentioned in original post, I'm not sure if something like a `geo_df` attribute adds too much clutter to the API, not least because it's too focused on `geopandas`, or whether the geopandas `.to_json()` route into `geo_str` is just something that should be documented?

If adding a `geo_df` attribute *is* a sensible way forward, how should it be handled? Simply as a conversion using `.to_json(

[2016-09-09 19:16] ocefpaf commented on #499
The `.to_json()` should definitely be documented as that would work virtually with any object that has a `to_json` like method.

In fact nothing should change in the `choropleth` call. We should only update the docs mentioning that it can take a `GeoDataFrame` and then add a if-clause that passes this object to `GeoJson`. `GeoJson` will do the work later on. (I am not reading the code while I writ

[2016-09-16 12:05] YasminFathy opened #500 "Python 3.4: AttributeError: 'Series' object has no attribute 'levels'"
The line: **ws_binned = pd.value_counts(cuts).reindex(cuts.levels)**
in (folium/examples/folium_vincent_markers.py) has an error which is "AttributeError: 'Series' object has no attribute 'levels'".

This has been tested in python 3.4

To solve it, the line has to be replaced by:
**ws_binned = pd.value_counts(cuts).reindex(cuts.values.levels)**

[2016-09-16 14:07] YasminFathy opened #501 "Python 3.4: AttributeError: 'Element' object has no attribute 'html'"
This has been tested in python 3.4

The line: **buoy_map.save(outfile='NOAA_buoys.html')**
in (folium/examples/folium_vincent_markers.py) causes an error which is "AttributeError: 'Element' object has no attribute 'html'". I tried to debug; it seems that the line: **root.render(**kwargs)**
in save method (in element.py) causes the error. However, replacing the line:  **buoy_map.save(outfile='NOAA_

[2016-09-16 14:18] ocefpaf commented on #500
Thanks for the report @YasminFathy! There is a chance that the Vincent plugin will be remove in the next release. Still, if you want to send a pull request fixing that example it would be very welcomed!

[2016-09-16 14:20] ocefpaf commented on #501
@YasminFathy haven't update the examples in the last few releases (and we are moving towards notebook examples). Do you want to send a PR fixing that? Maybe even convert that one to notebook altogether?

[2016-09-16 15:05] YasminFathy commented on #500
@ocefpaf I will send request to fix it. Another comment. If the line is replaced by:
**ws_binned = pd.value_counts(cuts).reindex(cuts.values.levels)**

There will be a warning which is **" FutureWarning: Accessing 'levels' is deprecated, use 'categories' ws_binned = pd.value_counts(cuts).reindex(cuts.values.levels)"**

Replacing levels by categories solves this warning:
**ws_binned = pd.value_coun

[2016-09-16 18:34] YasminFathy commented on #501
@ocefpaf I have figured out the problem. The line **buoy_map.save(outfile='NOAA_buoys.html')** is correct. However, the problem is that **polygon_marker** should be replaced by **folium.RegularPolygonMarker** popup should be folium.Popup (similar to this example http://github.com/python-visualization/folium#vincentvega-markers). Please check pull request #502 for more details.

[2016-09-16 19:05] ocefpaf commented on #501
Yeah. We changed the syntax but never updated the examples. Thanks for tackling that!

[2016-09-16 21:35] adamkgoldfarb commented on #495
Hello,

Happy to try to fix this in a PR if someone could point me to a way to bind a colormap Element to a figure beyond the add_children method.

Thanks,

Adam

[2016-09-21 21:28] HFulcher commented on #416
Relating to this issue I have approx 147k points I want to add to a map. I realise this is a very large amount but it would be useful if I could have an update on whether there is an efficient way of placing these markers on the map as clusters. Currently the standard way takes a long time (understandably). Thanks

[2016-09-21 21:48] ryanbaumann commented on #416
@hamesgardiner the geojson-vt utility in Mapbox gl-js is pretty powerful.  I'm starting work to add Folium support for GL maps - in the meantime have a look at the Mapbox GL JS SDK!

[2016-09-22 14:23] ocefpaf commented on #419
This was fixed in #448. But the rotation is no longer working. Maybe we got blacklisted ?

[2016-09-22 14:23] #419 closed

[2016-09-22 14:50] ocefpaf opened #505 "Rotate icon symbol is not work working properly."
I can see the https://github.com/python-visualization/folium/blob/master/folium/templates/leaflet.awesome.rotate.css loaded in firefox's web-console the symbols are no longer getting the correct rotation.

See http://nbviewer.jupyter.org/gist/ocefpaf/c38266c54194466bf02f0d15a7cbadc5

[2016-09-22 17:30] ocefpaf opened #507 "Convert python script to notebook examples"
Some are probably already notebooks and are due to be removed. It any that is not a notebook already we should provably convert it then.

See https://github.com/python-visualization/folium/tree/master/examples

@YasminFathy and @qingkaikong let me know if any of you are are interested in tackling this issue.

---

Edit: After #515 the remaining examples to be converted are: `fullscreen_plugin_exam

[2016-09-22 18:54] #341 closed

[2016-09-22 20:07] #482 closed

[2016-09-22 20:16] qingkaikong commented on #507
Hi Filipe,

Sure, I can work on that. I am recently quite busy with my project, I will
try to do it this weekend or early next week.

Best
Qingkai
On Sep 22, 2016 10:30 AM, "Filipe" <notifications@github.com> wrote:

[2016-09-22 20:21] ocefpaf commented on #507
Your project is always first priority :smile:

I only pinged you b/c you showed interested in this before. Do not feel obligate to do anything!

[2016-09-22 20:24] qingkaikong commented on #507
No worries, yes, I can do it. I should do that way more earlier ^)^ I am
happy to contribute to Folium!

best
Qingkai

On Thu, Sep 22, 2016 at 1:21 PM, Filipe <notifications@github.com> wrote:

--
Qingkai KONG
Ph.D Candidate
Seismological Lab
289 McCone Hall
University of California, Berkeley
http://seismo.berkeley.edu/qingkaikong

[2016-09-22 23:41] QuLogic commented on #419
Still don't know why it can't use a version-specific URL? Leaflet.js and pretty much all others are linked to a specific release already.

[2016-09-22 23:48] ocefpaf commented on #419
No one said we cannot. PRs are welcomed!

[2016-09-23 13:46] ocefpaf commented on #501
This was fixed in #502. Closing it.

Thanks @YasminFathy!

[2016-09-23 13:46] #501 closed

[2016-09-23 13:47] ocefpaf commented on #500
Fixed in #502.

Thanks @YasminFathy!

[2016-09-23 13:47] #500 closed

[2016-09-23 13:50] ocefpaf commented on #279
Done in the notebooks tests.

[2016-09-23 13:50] #279 closed

[2016-09-23 13:51] ocefpaf commented on #272
We have a nice setup now that tests the notebooks as py.test and even check for PEP8 compliance.

One last thing would be to convert them to HTML and publish them for visual inspection. But I am leaving this for another issue.

Thanks @BibMartin for doing most of the work!

[2016-09-23 13:51] #272 closed

[2016-09-23 13:53] ocefpaf commented on #120
We never found a champion for this implementation and I am biased to leave `folium` as-is. It is relatively simple for someone to create `style_function` that parses the `simplestyle`.

[2016-09-23 13:53] #120 closed

[2016-09-23 13:58] ocefpaf commented on #171
I believe most of this is already done. Either way we would need a new and refreshed issue to track what if someone was left out.

[2016-09-23 13:58] #171 closed

[2016-09-23 14:08] ocefpaf commented on #198
Closing this as we never found a champion to write the simple style.

[2016-09-23 14:08] #198 closed

[2016-09-23 14:32] ocefpaf commented on #232
This can be done with branca leaving `folium` only for single maps and `branca` for other rich visualizations like cross-filter and sync maps. Here is an example:

http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/Features.ipynb

(Although syncing is not enabled there.)

[2016-09-23 14:32] #232 closed

[2016-09-23 14:34] ocefpaf commented on #245
I think we replaced all the calls. Closing this but feel free to re-open if I missed anything.

[2016-09-23 14:34] #245 closed

[2016-09-23 14:38] ocefpaf commented on #284
I just killed all the backward compatible functions that were deprecated. So it is time to re-visit this.

[2016-09-23 14:40] ocefpaf commented on #320
@BibMartin now that we have `branca` as a dependency I believe this is complete. Please correct me if I am wrong and re-open it.

[2016-09-23 14:40] #320 closed

[2016-09-23 14:41] ocefpaf commented on #335
Done in #424. Thanks @sgvandijk!

[2016-09-23 14:41] #335 closed

[2016-09-23 14:43] ocefpaf commented on #369
Time flies! We are using `4.6.3` for a while now :smile:

[2016-09-23 14:43] #369 closed

[2016-09-23 14:54] PBrockmann commented on #232
Ok thanks for the link on branca project.
My target was to provide synchronous slippy maps. But also how to produce tiles and get a Web Map Service from a direct calculation made in previous cells.
I have worked following this idea and reach something to a functionnal script based on gunicorn for the python WSGI server and pyferret for the graphic and calculs engine. Have a look to https://github.

[2016-09-23 15:15] ocefpaf commented on #232
That looks really cool! Thanks for sharing. I will take a look as soon as the dust settle in my day job.

Pinging @BibMartin who might also be interested.

[2016-09-23 16:13] ocefpaf commented on #485
@alexshires I lost track of this one and where it was fixed. But I no longer see the typo. Thanks for the report!

[2016-09-23 16:13] #485 closed

[2016-09-23 16:15] ocefpaf commented on #480
Let's move this discussion to #488

[2016-09-23 16:15] #480 closed

[2016-09-23 16:18] ocefpaf commented on #466
We are abandoning `Vincent`/`Vega` a possible alternative is under discussion in #488.

[2016-09-23 16:18] #466 closed

[2016-09-23 16:25] ocefpaf commented on #357
Done in #516

[2016-09-23 16:25] #357 closed

[2016-09-24 22:04] zhang01GA opened #517 "Can Folium overlay geotiff images on a base map? It would be nice."
overly a satellite image on to base maps?

[2016-09-24 23:34] ryanbaumann commented on #517
@zhang01GA Lot's of options, but the first one that comes to mind is to create a [Mapbox style with your geoTiff](https://www.mapbox.com/help/import-imagery/), and add your Mapbox style as your Folium raster base map.

[2016-09-25 02:38] qingkaikong commented on #507
@ocefpaf, I just converted the rest of the non-notebook examples either to the existing notebook or new notebook.

[2016-09-26 14:14] ocefpaf commented on #507
Done in #518

Thanks @qingkaikong!

[2016-09-26 14:14] #507 closed

[2016-09-26 14:18] ocefpaf commented on #517
@zhang01GA what @ryanbaumann said above is one way. Another one is to use the `ImageOverlay` plugin in `folium`. Check the examples below.

http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/ImageOverlay.ipynb

http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_image_overlay_gulf_stream.ipynb

[2016-09-26 14:18] #517 closed

[2016-09-26 16:48] qingkaikong commented on #507
You are welcome @ocefpaf!

[2016-09-26 18:55] ocefpaf commented on #495
@adamkgoldfarb I could not reproduce that problem with latest `master` so maybe this is fixed or it is another problem I cannot reproduce here. Can you try it with the `dev` version and re-open this if the problem still exists?

I am working on a new release soon btw.

[2016-09-26 18:55] #495 closed

[2016-09-27 13:29] b7j opened #520 "return lat long from mouse click"
Is it possible to return the lat and long from a mouse click over a map in folium, I have tested via latlong popover method and can see the events added as children to the map, however unable to find the actual lat long values within each child object.

[2016-09-27 13:38] BibMartin commented on #520
You've got two objects for this:

    features.ClickForMarker
    features.LatLngPopup

I hope one of these will help you. Otherwise, can you give more precisions on the behavior you expect, please ?

[2016-09-28 00:16] b7j commented on #520
okay, i have the following:

map_3 = folium.Map(location=[46.1991, -122.1889], tiles='Stamen Terrain',
                   zoom_start=13)
folium.LatLngPopup().add_to(map_3)

How do i get the actual lat and long values from the children once i have clicked on the map. I am trying to use them to start another process in notebook.

Tks

[2016-09-28 20:24] ocefpaf opened #521 "Move to leaflet 1.0"
http://leafletjs.com/2016/09/27/leaflet-1.0-final.html

[2016-10-05 20:18] existeundelta opened #522 "Include AntPath plugin"
https://github.com/rubenspgcavalcante/leaflet-ant-path/issues/19#issuecomment-251670236

[2016-10-06 09:24] olibchr opened #523 "Multi Option Polyline"
Dear Folium Developers,
I love your work. It makes my life so much easier. I was wondering though if theres a possibility to us polylines with a color parameter, based on another value (like altitude or similar). Is there anything to do that? I found this leaflet example to make clear what I mean: http://hgoebl.github.io/Leaflet.MultiOptionsPolyline/demo/ based on https://github.com/hgoebl/Leaflet

[2016-10-06 15:33] Etiennepi commented on #523
I'm not a folium Developper, but i've done something similar to what you're looking for in a project. Basically, if you know the points, you can create such a line yourself with something like this using 0.3's ColorLine class, assuming your coordinates are in an ordered list like mine were:

`
for k in range(len(coordinates)-1):
  line = ColorLine(
    [coordinates[k], coordinates[k+1],
    colors

[2016-10-09 14:56] olibchr commented on #523
Hi yeah Ive done a very similar implementation. Thats definitely the way to go right now. And matplotlib provides nice colorfunction which work great in combination.

Here is my implementation:

def get_color(altitude):
    norm = mpl.colors.Normalize(vmin=0, vmax=3000)
    cmap = cm.nipy_spectral
    m = cm.ScalarMappable(norm=norm, cmap=cmap)
    return m.to_rgba(altitude)

i = 0
last_pos = all_

[2016-10-09 14:57] ocefpaf commented on #523
@Etiennepi and @olibchr it would be nice if you could send notebooks examples to our gallery: https://github.com/python-visualization/folium/tree/master/examples :smile:

[2016-10-09 15:03] olibchr commented on #523
Sure! I use my own data tho. Would you add the data to the repo or prefer to have an implementation for your data?

[2016-10-09 15:05] olibchr commented on #523
Another thing I was wondering: When using a lot of points (like more than 10k) the rendering takes a lot of time. Any suggestions to improve that? I just have a lot of data and would like to bring it all on one map. Is it faster to safe it to an HTML and than serve that?

[2016-10-09 15:26] ocefpaf commented on #523
Ideally we should auto-generate some fake data so it is self-contained. But do whatever is easier for you.

[2016-10-09 15:46] olibchr commented on #523
Doesnt matter to me. In this case its nice to have some "real" data as it gives the visualization context. But Ill publish it anyways. So, your choice.. For the purpose of an example, maybe your right!

[2016-10-09 16:19] ocefpaf commented on #523
As long as it is free data that we can publish (an open license would be good) go head. I love cool examples with context :smile:

[2016-10-09 17:30] olibchr commented on #523
Yeah its data from openstreetmap and openskynet, so no probs :-). Itll take me some more time to finish tho. Ill let you know

[2016-10-09 17:35] Etiennepi commented on #523
The implementation I made is dependent on copying the Colorline class from the unreleased version into a notebook (at least until 0.3 is released), so I think @olibchr 's solution would be better for the time being as an example.

[2016-10-09 19:31] ocefpaf commented on #523
Awesome. Thanks you both.

PS: @Etiennepi I am working on a new release ASAP. But be aware that the `Colormap` class will probably leave in [`branca`](https://github.com/python-visualization/branca/blob/44eddd0cc7b8a2bc697606d33c77d78d13d1fd1b/branca/colormap.py) and not `folium`.

[2016-10-11 16:12] carderne opened #524 "Additional parameters for CircleMarker"
I just started using Folium and it's blowing me away. I spent ages googling looking for Python mapping packages, but don't know JS at all so avoided that end and somehow never found this project.

I have quite a strange use-case, that is plotting hundreds of circles on an even grid. How they look is then quite important. How easy is it to add some further parameters for CircleMarker? For my applic

[2016-10-11 16:52] Overdrivr opened #525 "Create closed contour"
Thanks for the awesome lib

I was wondering if there is an option for polylines to create closed contours and specify fill colors for the contour.

Regards

[2016-10-12 10:39] Khris777 opened #526 "Feature request: Option to handle missing keys in choropleth()"
Lets say I want to fill a full world map with data. I'm using a geo json with the full world map data including iso country codes.

Now I have my data which consists of a pandas dataframe with iso country codes and numbers. However not every country code in the world map data is also in my data.

Doing this

    wMap.choropleth(geo_path=geoFile,data=df,key_on='feature.properties.iso_a3',columns=['

[2016-10-14 12:05] Overdrivr commented on #525
Not sure, but it's most likely a feature request for adding Polygon from Leaflet.
Do you accept PRs ?

[2016-10-14 18:03] ocefpaf commented on #525
Always :smile:

[2016-10-17 14:31] ElmWer opened #528 "How can I add a legend to a folium map?"
The position of the legend should be in "window coordinates", similar to mpl.legend(loc='upper left)

[2016-10-18 16:08] Overdrivr commented on #525
Wait, this is already implemented by PolygonMarker no ?

[code]

[2016-10-18 20:12] pjandrews commented on #475
Are there any plans to implement this feature?

[2016-10-18 20:14] ocefpaf commented on #475
Plans? Yes. Manpower to do so? No.

[2016-10-19 15:30] aricl86 opened #529 "Trying to "freeze" a script with folium"
Hi,
I've written a wx GUI script in Python 2.7 with folium 0.2.1 as its mapping module.
I'm using cx_freeze, and everything compiles, except for folium - which throws the following message when I'm trying to open the .exe file (attached as an image).

Any ideas?

Regards,
![error_cx_freeze](https://cloud.githubusercontent.com/assets/22939511/19525571/136f282a-962a-11e6-835d-494eb961da25.jpg)

[2016-10-20 14:39] #505 closed

[2016-10-20 14:47] ocefpaf commented on #529
I am unfamiliar with `cx_freeze`. Can you check if the file `folium/templates/color_scale.js` is in your distribution? How are you installing `folium`? I can see that file in the `PyPI` source btw.

Note that the next version of `folium` will use [`branca`](https://github.com/python-visualization/branca) and the `colormap` functionally lives there. So, unless you want to send a bugfix PR to the `v

[2016-10-20 14:47] #529 closed

[2016-10-20 14:58] ocefpaf commented on #528
We only have a built-in legend for the `choropleth` but that logic could be re-factored to be more generic. See the [`fullscreen.py`](https://github.com/python-visualization/folium/blob/master/folium/plugins/fullscreen.py) plugin as an example, since legends will be using Leaflet's L.`control`, in case you want to send a PR.

[2016-10-20 15:02] ocefpaf commented on #526
@Khris777 it seems that the pre-processing to use the current implementation is not too bad and, assuming something for the missing key, would lead to changes in the `docs`, discussion on what should be the default, etc.

If you want to send a PR I will gladly review it but that is not something I want to leave it here hanging as a feature request since I am +0.45 to supporting this.

[2016-10-20 15:02] #526 closed

[2016-10-20 18:43] ocefpaf opened #532 "Image order"
When adding images to teh HTML canvas, like the one used in the `ScrollZoomToggler` plugin, sometimes the map has a higher `z-index` and the image is hidden behind the map. It would be nice to either pass a `z-index` or hard-code a high value to ensure the image is on top of the map.

[2016-10-20 19:13] ocefpaf opened #533 "Clean ups"
Revise the files in `folium/templates`.

[2016-10-20 19:38] ocefpaf opened #534 "multiPolyline and multiPolygon were removed from latest leaflet"
We need to check and update `folium` accordingly. Check with `Features.ipynb`.

[2016-10-21 12:47] #521 closed

[2016-10-22 11:37] ocefpaf commented on #319
Implemented in #537

[2016-10-22 11:37] #319 closed

[2016-10-23 23:48] LiamHe opened #538 "color legend example breaks in examples/GeoJSON_and_choropleth.ipynb"
In a cell which contains

    colormap.caption = 'Unemployment color scale'
    colormap.add_to(m)
    m

whenever I try to evaluate it,  there will be an assertion error:

AssertionError                            Traceback (most recent call last)
/usr/local/lib/python3.5/site-packages/IPython/core/formatters.py in __call__(self, obj)
    341             method = _safe_get_formatter_method(obj, s

[2016-10-24 00:03] LiamHe commented on #538
Problem solved when I update to new version via source.

[2016-10-24 00:03] #538 closed

[2016-10-24 08:30] carolinux commented on #35
This is how I did it within python (ie calling subprocess):
[code]
To save anybody else reading this some time: It wouldn't work if I passed the url as 'tmp.html', it needs to be a full path with file in front.

[2016-10-24 10:27] ocefpaf commented on #538
Thanks for reporting this @LiamHe! Bare in mind that latest `master` is unstable and you may find more trouble, like #534, down the road. I hope do issue a new release soon.

[2016-10-24 11:14] ocefpaf opened #539 "Add the lines >180 example"
http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_lines.ipynb

[2016-10-24 11:16] ocefpaf opened #540 "Add cartopy overlay example"
http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_image_overlay_geodetic.ipynb

[2016-10-24 11:16] ocefpaf opened #541 "Add mplleaflet hack example"
http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_mplleaflet.ipynb

[2016-10-24 11:18] ocefpaf opened #542 "Add image overlay hacks/examples"
http://nbviewer.jupyter.org/github/ocefpaf/folium_notebooks/blob/master/test_image_overlay_gulf_stream.ipynb

[2016-10-24 11:22] cloud05 opened #543 "Programmatic layer display in folium"
Good day! I would like to ask whether the feature to show/hide specific layers is already in folium? Here's a link to have an idea of what I'm talking about. Thank you for everybody's hard work! [http://rstudio.github.io/leaflet/showhide.html](url)

[2016-10-24 11:26] ocefpaf commented on #543
Check the `FeatureGroup` example:

http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/FeatureGroup.ipynb

Feel free to improve it to use layers, lines, and JSONs like the one you posted above :smile:

[2016-10-24 11:26] #543 closed

[2016-10-24 11:56] ocefpaf opened #545 "Publish results from the notebooks test"
Maybe we should always override those every PR... Not sure yet.

[2016-10-24 15:01] #539 closed

[2016-10-24 15:28] #541 closed

[2016-10-24 15:28] #540 closed

[2016-10-24 15:33] #542 closed

[2016-10-25 19:58] #534 closed

[2016-10-25 21:04] easherma commented on #528
Legend creation would be great!

[2016-10-26 18:59] ocefpaf opened #556 "Add tiles notebook example/test"
https://github.com/ocefpaf/folium_notebooks/blob/master/test_tiles.ipynb

[2016-10-26 18:59] ocefpaf opened #557 "Add heatmap notebook"
https://github.com/ocefpaf/folium_notebooks/blob/master/test_heatmap.ipynb

[2016-10-26 19:08] HashCode55 commented on #556
Do I like just need to port that file in this repository or am I getting it wrong?

[2016-10-26 19:39] ocefpaf commented on #556
Kind of. Make sure the notebook runs and the tiles are properly display. Feel free to improve the text too :smile:

I believe that MapQuest tiles needs addressing to. Not sure if there is a similar source for it or if we need to just remove it from the list.

[2016-10-26 19:40] jsignell commented on #556
What functionality was MapQuest supposed to provide that was different or better than OpenStreetMap

[2016-10-26 19:42] ocefpaf commented on #556
No functionality just a different "look." Some people liked it I guess... I actually never used it!

[2016-10-26 19:43] ocefpaf commented on #557
Donein #558.

[2016-10-26 19:43] #557 closed

[2016-10-26 19:44] ocefpaf opened #559 "Removed MapQuest"
MapQuest tiles are no longer available. We should remove them from `folium`.

[2016-10-26 19:45] ocefpaf commented on #556
Now that I think about it let's just remove the `MapQuest` options/code everywhere. See https://github.com/python-visualization/folium/issues/559

[2016-10-26 20:09] ocefpaf commented on #556
Done in #560.

@HashCode55 #559 is a low hanging fruit. Do you want to try that one?

[2016-10-26 20:09] #556 closed

[2016-10-26 20:22] HashCode55 commented on #556
yeah I'll take that one

[2016-10-26 20:34] ocefpaf commented on #559
@HashCode55  here is the gist of the changes needed:

Remove folder:
- https://github.com/python-visualization/folium/tree/master/folium/templates/tiles/mapquestopenaerial
- https://github.com/python-visualization/folium/tree/master/folium/templates/tiles/mapquestopen

Remove MapQuest references:
- https://github.com/python-visualization/folium/blob/master/folium/folium.py#L27-L28
- https://github

[2016-10-26 20:39] HashCode55 commented on #559
I already removed them :). Just one thing though... should I just replace the tile used for testing in `test_folium.py` with any arbitary tile?

[2016-10-26 20:42] ocefpaf commented on #559
Awesome!

Let's use `OpenStreetMaps` as that is probably more stable.

[2016-10-26 21:01] #559 closed

[2016-10-27 08:24] Padarn commented on #441
@ocefpaf I'd be interested in helping to add this, partly because I want it, and partly because I want to learn the library better. Is there someone on the team I could get in contact with to get an outline of what needs doing so I have a bit of direction as I dig in?

[2016-10-27 09:50] ocefpaf commented on #441
Awesome!

The best guy would be @BibMartin, but he is quite busy with his day job.

I would start by reading the docs and examples from https://github.com/socib/Leaflet.TimeDimension

We usually do the inverse approach. First we set a minimum HTML example and then code the Python part that produces it.

[2016-10-27 10:00] Padarn commented on #441
Thanks. I've been digging around the code/docs already, but it is always good to have some goal in mind too :-)

You mean directly using Leaflet right? This seems sensible, do you have any examples of 'minimum HTML' you've used in the past? (just as a guide to complexity)

[2016-10-27 13:57] BibMartin commented on #441
Great ! Thanks @Padarn for future efforts.

I have tried to work with `Leaflet.Timesdimension` and must admit it's not that easy.
I'll try to investigate also on how we could do this.

A few hints:

* We have a plugin (almost working) to draw features with timedimension : [timestamped_geo_json plugin](https://github.com/python-visualization/folium/blob/master/folium/plugins/timestamped_geo_json.py

[2016-10-27 17:36] Padarn commented on #441
Thanks for the tips @BibMartin. Hopefully I haven't bitten off more than I can chew for a first go, but I'll see where I get to.

[2016-10-27 18:19] adamkgoldfarb opened #563 "Support for Leaflet VectorGrid"
Hello! This is more of a question or feature request than an issue, but are there plans to eventually support [VectorGrid](https://github.com/Leaflet/Leaflet.VectorGrid)?

I'm happy to work on an implementation if @BibMartin or @ocefpaf have suggestions for where to start.

Thanks!

[2016-10-27 18:37] ocefpaf commented on #563
There are no plans but that would be an awesome addition!

Take a look at the plugins and `GeoJSON` implementations. I will investigate this further next week to give you more than just that :grimacing:

[2016-10-27 19:10] adamkgoldfarb commented on #563
Thanks, will do!

[2016-10-27 19:26] #463 closed

[2016-10-27 22:44] ocefpaf opened #565 "Auto publish docs"
I implemented a HTML gallery auto-publish for the notebooks. They are run and every map HTML is saved and published. See https://github.com/python-visualization/folium/tree/gh-pages/gallery

However, I haven't created an `index.html` for a gallery like browsing yet, nor I am updating the docs.

So someone should navigate to http://python-visualization.github.io/folium/gallery/Polyline_text_path.ht

[2016-10-27 22:49] ocefpaf commented on #565
Note to self: we could use https://github.com/python-visualization/folium/issues/35#issuecomment-164784086 to get images for the gallery thumbnails and use https://github.com/ioos/notebooks_demos/blob/master/webpage/make_index.py to create the `index.html`.

[2016-10-28 09:41] olibchr commented on #523
Cool! I finished my project and made a few more implementations which might be interesting to you or others. I implemented:
- a multicolor polyline. the color is based on a colorfunction
- circlemarkers with onclick events and hover events
- a custom legend to display text and graphics in on of the corners

I am more than happy to share my code. Feel free to alter it ( you probably have to, as its

[2016-10-28 10:08] ocefpaf commented on #523
@olibchr do you want to open a PR with https://github.com/python-visualization/folium/issues/523#issuecomment-256879471 ?

[2016-10-28 13:52] BibMartin commented on #441
Hi @Padarn

I finally found a way to use Timedimension offline, in a way that seem to be *foliumizable*.

Here is the [gist](https://gist.github.com/BibMartin/2c042c777e4bcd3f3445225f0257e901) and here is the [demo](http://bl.ocks.org/bibmartin/raw/2c042c777e4bcd3f3445225f0257e901/)

Do you want to go on creating the plugin that binds this code into python ?

[2016-10-28 15:23] kirtanp commented on #495
Might be useful for others. I had the precisely the same problem. I was importing colormap from branca. Once I  imported colormap from folium instead, it worked.

[2016-10-28 15:25] BibMartin commented on #528
According to [this page](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/Colormaps.ipynb)'s latest example, you just need to:

[code]

But :
* the position is fixed to 'topright'
* there is no white background color
* the final div (`colormap_24798749.legend._container`) has to be of class `leaflet-bar` so that we get the nice shadow around it.

I'll try to PR t

[2016-10-28 15:26] BibMartin commented on #528
BTW: we could have a method in `folium.Map` taht helps the creation of the legend.

[2016-10-28 15:46] ocefpaf commented on #528
BTW we are using a using a language for `colorbar` and `legend` as if they are the same same. Even though the implementation is/could be similar we need to make a distinction. Colorbars are already supported and easy to create. The limitations @BibMartin mentioned above are not pressing issues (but any PR improving that is welcomed.)

Legends can be complex, like those with a callback that when cl

[2016-10-28 17:52] BibMartin commented on #472
It seem easy to do with https://github.com/jtreml/leaflet.measure

Any volunteer to create a plugin ?

[2016-10-28 17:55] ocefpaf commented on #472
Does it work with leaflet `1.x`? It seems that the latest test was against `leaflet v0.6.4`.

[2016-10-29 07:21] naman commented on #533
What exactly needs to be done in this issue?

[2016-10-29 08:40] Padarn commented on #441
@BibMartin great! Yes I'll go ahead and try to make the plugin - this makes my first contribution much less painful :-)

[2016-10-29 10:12] BibMartin commented on #472
@ocefpaf

You're true. It work not perfectly. ([See here](http://nbviewer.jupyter.org/gist/BibMartin/477acdc4f228779c94f7a02bf7693438))
I may be able to suggest a PR there to fix things.
What should we do ? Wait for the PR to be okay or implement the plugin anyway ?

[2016-10-29 15:39] ocefpaf commented on #472
I would say let's go for it. It is not that bad. The first click gets computed and display before waiting for the second.

[2016-10-29 15:43] ocefpaf commented on #533
I should have been more specific. In the old days `folium` relied on. Many templates to render the HTML. Some are still used in the testing phase but some are probably not used at all since @BibMartin introduced the plugin-like classes. So should find those that are not used, remove them. Find those that are used only for the testing and re-write the test in a way that they are no longer needed.

[2016-10-29 17:55] Damorck opened #566 "Adding GPX-files"
I´m considering working on the capability to add GPX-layers easy to the leaflet map by Folium by adding this one https://github.com/mapbox/leaflet-omnivore . And do you have a discussion board for dev on Folium? Thx for the good work.

[2016-10-29 18:34] ocefpaf commented on #566
We have a gitter channel but I'd rather discuss here as issues.

BTW `omnivore` would make a great `folium` plugin.

[2016-10-30 11:23] Padarn commented on #441
I've started on this, initial PR here:

https://github.com/python-visualization/folium/pull/567

I've included a small example (but it doesn't render in github)

https://github.com/Padarn/folium/blob/HeatMapWithTime/examples/HeatMapWithTime%20example.ipynb

Still plenty of cleaning up to add, and making the options a bit more sensible etc, but any initial feedback appreciated.

[2016-10-30 15:38] ocefpaf commented on #441
@Padarn Awesome work. I will try to review it soon. BTW you can use nbviewer for a rendered version that works: http://nbviewer.jupyter.org/github/Padarn/folium/blob/HeatMapWithTime/examples/HeatMapWithTime%20example.ipynb

[2016-11-01 15:22] mbmilligan commented on #488
Hi, popping in to ask if anyone has managed to make progress on this? If not I should be able to devote some time to helping out, since we do want this functionality at my day job.

[2016-11-01 16:30] ocefpaf commented on #488
@mbmilligan no one is working on this right now. A PR would be greatly appreciated!

[2016-11-03 09:13] jboynyc commented on #443
I had the same issue. This is confusing, because the 0.2.x docs [link to](https://folium.readthedocs.io/en/latest/examples.html) the examples that only work with the new 0.3.x branch. It would be helpful to put a big fat warning in the documentation.

[2016-11-09 17:04] ispmarin opened #570 "Map only displays data with FeatureGroups if LayerControl is the last thing added"
Hi,

I´m working with simple layers with feature groups and noticed that if the call `m.add_child(folium.LayerControl())` is not the last one made before plotting the map, the data on the feature groups is not shown.

For example,

    m = folium.Map(location=[-23.66, -55.32])
    coords = [[-23.12, -46.2],[-23.87,-45.65],[-23.44,-46.11]]
    feat_group = folium.FeatureGroup()
    feat_group.add_c

[2016-11-09 17:24] ispmarin opened #571 "Select visible layer from a feature group"
I´m using `FeatureGroup` and `LayerControl` to set a bunch of layers. When the map is drawn all layers are visible. Is there a way to show only one layer on rendering and keep `overlay == True`?

The problem with using `overlay==False` is when more than one tile server is added: all options are the same, and now both the feature groups and the tile servers are options.

[2016-11-11 19:59] Shelps opened #572 "how create image png of map.html, its possible?"
I do not know how to use write_png, someone can help!

[2016-11-13 01:48] 0x01Brain opened #573 "How to draw a line on map?"
I have a dataset which is located on here for evacuation routes:
http://www.saintjohn.ca/en/home/cityhall/financeadmin/informationtechnology/opendata_catalogue/dataset_evacuationroutes.aspx

I am looking for a way to plot the line features using folium how can I do that?
How can I draw a line using you API?

[2016-11-13 11:37] ocefpaf commented on #573
Check the [MultiPolyline](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/MultiPolyline.ipynb) and [Polyline_text_path](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/Polyline_text_path.ipynb) out.

[2016-11-13 11:37] #573 closed

[2016-11-14 18:40] olibchr commented on #523
Ill do it. Was busy in the last weeks, sorry.

[2016-11-14 19:17] olibchr commented on #523
I made some generalization of the code and put it into features.py. How can i push it to the repo so you can merge it @ocefpaf ?

[2016-11-14 19:19] olibchr commented on #523
A final working example is running here: http://lsde.becher.one/

[2016-11-14 19:23] olibchr commented on #524
Check out my issue request #523

[2016-11-14 23:50] carderne commented on #524
Great! Could you share your new features.py or should I just wait for it to merge?

[2016-11-15 22:27] ocefpaf commented on #523
Are you familiar with `git` and `github` to send it as a PR? If not do you feel comfortable attaching your version of `features.py` here so someone else can do that for you?

[2016-11-20 12:22] olibchr commented on #523
open pr in #574

[2016-11-21 17:45] ispmarin commented on #496
Is there a quick fix for it?

[2016-11-22 11:46] ispmarin commented on #496
Is there a workaround for now? A way to replace only the heatmap javascript library?

[2016-11-23 11:44] nbonnotte opened #575 "Popup encoding issue with Jupyter"
Hi,

The string `u'Construction de mur ext\xe9rieur'` is displayed in a popup as `Construction de mur extÃ©rieur` inside a Jupyter Notebook.

If I save the map in an HTML file, the problem disappear.

I'm using Python 2.7.9 with the following packages versions, among others:
[code]

This issue seems related to the PR #95 and #135 ?

BTW, it is nonetheless a wonderful project! Thank you so much for

[2016-11-24 04:34] adamkgoldfarb commented on #563
Circling back to this and hope to take a look this weekend, and just a note-- THANKFUL FOR @ocefpaf @BibMartin and the rest of the dev team! Happy Thanksgiving!

[2016-11-24 17:34] ocefpaf commented on #563
We all the devs are thankful for all folium users Issues and PRs. Happy :turkey: day!

[2016-11-29 17:55] jgoad commented on #198
@ocefpaf Sorry I just followed the rabbit hole of issues to get to this point. Does this mean there is no implementation for popups on geojson layers?

[2016-12-02 01:30] pcohen89 commented on #210
@cgarciaf did anyone ever create some mechanism to add static text (or always open popup text) to folium maps?

[2016-12-05 18:36] achourasia commented on #496
Workaround will be to add a new plugin with the original heatmap.js library.

[2016-12-06 15:26] j08lue commented on #135
Getting Jupyter notebooks to **display** `folium` maps now works without any magic. But they are not saved with the notebook, as can be seen in [the official examples](https://github.com/python-visualization/folium/blob/a66bc27774deece616ee2f09a2c6c1e8cc16a022/examples/Quickstart.ipynb).

It seems though as if the HTML used to be saved, e.g. in [the notebooks you referred to](http://nbviewer.ipyth

[2016-12-06 15:31] ocefpaf commented on #135
They are. That is GitHub scrubbing off the JS for security reasons. [Here](http://nbviewer.jupyter.org/github/python-visualization/folium/blob/a66bc27774deece616ee2f09a2c6c1e8cc16a022/examples/Quickstart.ipynb) is the same notebook you mentioned above on `nbviewer `, which does not scrub the JS.

No functionality is gone. And all JS Jypyter stuff on GitHub will suffer from that. There is nothing w

[2016-12-06 15:36] j08lue commented on #135
My bad, thanks for the clarification @ocefpaf. I did look inside my `ipynb` file, but overlooked the HTML (the dict key `"outputs"` was **before** `"source"`).

[2016-12-06 15:37] ocefpaf commented on #135
No problem. Glad you are using `folium` :smile:

[2016-12-09 02:25] jgoad opened #577 "Marker Cluster Color"
Is there a way to color the Marker Cluster independent of how many markers are clustered into it? I have two marker cluster elements representing two separate category of locations. Even though they go into separate clusters as desired, the fact that they are colored by density make it impossible to differentiate between the two groups.

Thanks.

[2016-12-09 09:32] ocefpaf commented on #577
Folium wraps this plugin: https://github.com/Leaflet/Leaflet.markercluster

I guess you should ask this question there.

[2016-12-09 09:32] #577 closed

[2016-12-09 11:48] Tuisto59 opened #578 "Polyline as a circle to draw zones"
Hello, I'm a simple french user of folium, I use it to make a travelling map of my ancestor for genealogical data.
(see more at http://peregrination.jimdo.com/)
I wrote to ocepaf and he said to me to post that to an Issue and someone else can make a PR and an example
"""
Sending a PR (https://help.github.com/articles/about-pull-requests/) might be complicate for newcomers. So I recommend you to op

[2016-12-09 19:56] ocefpaf commented on #578
If someone wants to add an example like that to the gallery please send a PR to https://github.com/python-visualization/folium_contrib

Thanks @Tuisto59

[2016-12-09 21:09] jgoad commented on #577
Thanks. I reviewed the issue below, and it seems that in order for this to be possible folium would have to allow for an Icon Create function to be passed when you create the cluster.

https://github.com/Leaflet/Leaflet.markercluster/issues/255

[2016-12-20 16:15] ocefpaf commented on #572
The `write_png` in folium's code is not a function to save a `png` of the map.

See https://github.com/python-visualization/folium/issues/35#issuecomment-164784086 for a trick to save static images.

[2016-12-20 16:15] #572 closed

[2016-12-25 16:17] jsundram opened #580 "Events when zooming"
I'd like to draw CircleMarkers with a radius in meters (not pixels). I can compute (roughly) the # of pixels in a meter at a combination of zoom level and latitude via:

[code]

However, since this is zoom-dependent, I'd like a way to redraw the circles when zoom level is changed. As far as I can see, there isn't an event that I can catch for this.

[2016-12-31 21:28] palewire opened #583 "Is there anyway to return the HTML as an image so it can display when a Jupyter Notebook hosted by GitHub"
Right now my HTML maps do not show up on GitHub. It would be cool if they could. Could an image work?

[2016-12-31 21:46] ocefpaf commented on #583
GitHub scrubs off the JS from the HTML. The best option is to use `nbviewer` links because it preserves the one-to-one correspondence with the code on `GitHub` and keeps the interactivity. If you really need a static image take a look at https://github.com/python-visualization/folium/issues/35

[2016-12-31 21:46] #583 closed

[2017-01-01 00:07] palewire commented on #583
Thanks for the tip. I'll try it out.

[2017-01-05 15:09] jreades opened #584 "Remote GeoJSON URLs in Folium (https? http?)"
Using release 0.2.1 there _seems_ to be either a documentation clarity issue or an actual support issue. As I understand it from reading the docs, the following code _should_ work:
[code]
_Note: I've stripped out the choropleth styling parameters for simplicity's sake._

Instead, I get the following error:
[code]
This error implies that only locally-accessible files are supported, but the document

[2017-01-06 11:14] JamesGardiner commented on #416
Have had a chance to look at this recently - I've got the FasterMarkerCluster script suggested by @ruoyu0088 working but need to make a few more changes. I'd like to avoid depending on [flexx.pyscript.py2js](http://flexx.readthedocs.io/en/stable/pyscript/api.html#flexx.pyscript.py2js) (which itself depends on Tornado) and construct the callback using Jinja alone. Should be easily done though. Hope

[2017-01-08 01:19] alhaq opened #586 ""[Vega Err] [object XMLHttpRequest]" error when trying to plot a vincent chart in folium based maps in python"
I'm experimenting with the folium library to plot charts in markers within maps. Doing this using the folium library in python.

The code is pretty simple. As follows,

[code]

The code runs and creates the the html map. When I click on the marker, the block to render the chart comes up, but within it I see no chart. Also, before showing the chart, the browse throws an error saying
[Vega Err] [obj

[2017-01-10 04:32] alhaq commented on #586
i found the way to make this work. essentially all it needed was to save the json file to disk and read it abck using a json library read function.

[2017-01-15 21:53] kolewu commented on #494
Unfortunately there is no interface for this and since the templates are now embedded they cannot be easily overwritten.

But you can monkey patch the Figure class that is used internally as parent for the map:

[code]

But beware: the map-div may interact badly with your template, especially when you are not using bootstrap.

This monkey patch works for the current stable version 0.2.1.

[2017-01-19 05:33] cloud05 opened #587 "Folium fancy html popup not working"
The example shown in https://github.com/python-visualization/folium/blob/master/examples/Popups.ipynb for fancy html popups is not working as of the moment.

[2017-01-24 10:27] mahnunchik commented on #327
What about hex colors `#00ff00` for icons?

[2017-01-26 08:43] osk4 opened #588 "Request about zoomslider"
Hi, I want to use the zoomslider in the map.
I request the function of zoomslider in folium.

In case of leaflet
`var map = L.map('map',{ zoomsliderControl: true,zoomControl: false}).setView([lat, lng], 14);`

cf. http://www.jurigis.me/2015/03/23/zoomslider-in-leaflet/
I appreciate it.

[2017-01-29 15:34] celebrimborOOO commented on #351
Hello, would there be any way to use it offline?

[2017-01-31 14:57] ocefpaf commented on #588
Looks like a nice addition. Unfortunately we do not have the cycles for that anytime soon. Care to try a PR?

[2017-01-31 18:14] Bixbeat opened #589 "Setting choropleth layer name"
Dearest all,

I've been using Folium for a group assignment and am loving what I can do with it so far. However, I run into troubles when trying to set the name for choropleth layers. While GeoJSON and TopoJSON formats have 'name' arguments that can be passed to the function, the choropleth function does not. As such, it appears as "macro_element_0a4d2f76a5a84a7084882de74056b4dd" in the layer list

[2017-02-01 02:48] linwoodc3 commented on #351
@celebrimborOOO , I gave some instructions which worked for me above.

[2017-02-03 00:49] osk4 commented on #588
If possible, I want to try it.
Thank you in advance.

[2017-02-03 11:50] ocefpaf commented on #577
Do you want to send a PR for that? Seems feasible.

[2017-02-03 11:50] ocefpaf commented on #198
I plan to work on this soon, unless someone beats me to it.

[2017-02-04 00:27] ChirantanGhosh commented on #135
just type the variable name at last, like we used to do, for printing the value of a variable. It works fine in python > 3.5.

code

import folium
map_osm = folium.Map(location=[45.6789, -122.9889])
map_osm

if you run it, you will get output. Then customize it with marker or anything. See in its main tutorial page

[2017-02-06 13:39] fnorf commented on #458
Any reading through these, be careful about calling your map "map". map is a built-in function in Python and you would overwrite the name. Use "m", like in the folium docs to avoid confusion. ;) https://docs.python.org/3/library/functions.html#map

[2017-02-10 03:15] Michael728 opened #591 "can folium support just show map without the names of locations?"
It's glad to find the cool tool to get maps. Now I want hide the names of locations because of some reasons, how do i realize the function?
Thanks

[2017-02-10 05:35] vkchan opened #592 "Potential bug in choropleth()?"
Please see below:
[GeoJSON data not displaying in Python folium map](http://stackoverflow.com/questions/42107268/geojson-data-not-displaying-in-python-folium-map)

I tried to use choropleth() to plot the specified GeoJSON file, but all I got is a empty map of NYC. However I was able to use [MapShaper](http://mapshaper.org/) to display that GeoJSON file without any issue.

Is it a potential bug in

[2017-02-10 14:17] ocefpaf commented on #591
You need to find tiles that do not have the names. See https://leaflet-extras.github.io/leaflet-providers/preview/ for a list of possible tiles.

[2017-02-10 14:17] #591 closed

[2017-02-14 21:27] easherma commented on #441
This looks really promising, any updates?

[2017-02-15 06:22] Michael728 commented on #591
Thanks a lot

[2017-02-15 15:04] existeundelta commented on #415
I think its open in dev version

[2017-02-28 09:19] Michael728 opened #593 "HOW can I set the map to always show popup?"
I want to see the popup to know every name of the point, how to show them?

[2017-03-01 04:23] cuchoi commented on #341
How I can make this work? I tried using "highlight=true" as an argument for choropleth and got the following:

_TypeError: choropleth() got an unexpected keyword argument 'highlight'_

[2017-03-03 02:38] jmbertoncelli opened #594 "Question about boundingbox"
Is it possible to now what is the current bounding box coordinate of the map object?
I would like to be able to use this information to issue a geo-spatial query  to retrieve data point within the current bounding box an possibly load them as markers.

thanks for your support and great work!

JM

[2017-03-03 20:00] ocefpaf commented on #594
We can get bounds from features and other map objects. See http://nbviewer.jupyter.org/gist/ocefpaf/815b267199a1c1d4ac43f37cf8b8d4a8 for an example.

We could try to implement something for the map but it would be tricky to get a feedback of the zoom level. However, you can start a map with known bounds and use that.

[2017-03-03 20:00] #594 closed

[2017-03-06 15:39] ocefpaf opened #598 "Leaflet.boatmarker is broken in v0.3.0"
The reason is probably the move to `leaflet 1.0`.

[2017-03-06 18:25] pjandrews opened #599 "Data size limit for displaying Feature Groups as Layers"
I'm creating a map with layers. If I filter the dataset to be small I noticed that layers are displayed but if I don't filter it then the layers are not displayed. I there was a way around this limitation?

Here's how I'm creating the map (df is a dataframe from pandas). The layers are being created by analyzing the unique values in the "opp" column.

[code]

[2017-03-06 18:30] ocefpaf commented on #599
If you can provide a minimum dataset that reproduces this I can investigate it for you. (Be aware that NaNs may interfere! Try to remove NaNs first.)

[2017-03-06 18:32] ocefpaf commented on #520
There is no way to get the position values back as python objects right now but that would be an awesome addition :wink:

[2017-03-06 18:32] #520 closed

[2017-03-06 18:38] ocefpaf commented on #586
Alright... Closing it them. BTW I cannot reproduce that in a notebook with the latest version.

[2017-03-06 18:38] #586 closed

[2017-03-06 18:40] ocefpaf commented on #580
Do you know of any leaflet plugin that implements this? I don't see an easy way to update the map from the python side due to the JS nature of the zoom.

[2017-03-06 18:40] #580 closed

[2017-03-06 18:56] ocefpaf commented on #592
See my answer at http://stackoverflow.com/questions/42107268/geojson-data-not-displaying-in-python-folium-map/42633407#42633407 and my example with your data at: http://nbviewer.ipython.org/e1e2776e3ea69bae5b6e5449636ac57f

TL;DR your data is not a GeoJSON but rather a TopoJSON.

[2017-03-06 18:56] #592 closed

[2017-03-06 19:06] pjandrews commented on #599
Thanks ocefpaf! The NaNs were the problem. Sorry for the misdiagnosis.

[2017-03-06 19:06] #599 closed

[2017-03-06 19:12] ocefpaf commented on #599
No problem. We should catch those and issue an error. (PRs welcome :stuck_out_tongue_winking_eye: )

[2017-03-06 19:26] ocefpaf commented on #589
The `choropleth` method is old and we are probably deprecating it. The "right" way to do this is via the `GeoJson` class.

There is an example in cell 11 of http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/GeoJSON_and_choropleth.ipynb?flush_cache=true

PS: I may be persuade to add this to the `choropleth` with a PR :wind_chime:

[2017-03-06 19:26] #589 closed

[2017-03-06 19:30] ocefpaf commented on #587
Just run that with the latest version of `folium` (`v0.3.0`) and everything seems to be in order again.
Let me know if you still see the problem on your end.

[2017-03-06 19:30] #587 closed

[2017-03-06 19:31] ocefpaf commented on #593
This was not implemented yet. I am closing as a duplicate of https://github.com/python-visualization/folium/issues/210

[2017-03-06 19:31] #593 closed

[2017-03-06 19:35] ocefpaf commented on #584
It is a doc bug and a PR to fix it by using requests would be most welcomed :grimacing:

[2017-03-06 19:36] ocefpaf commented on #578
Closing this for now. I will add an example to the gallery soon.

[2017-03-06 19:36] #578 closed

[2017-03-06 19:54] ocefpaf commented on #575
I cannot reproduce that with the latest version. See my example and package version list here: http://nbviewer.jupyter.org/gist/ocefpaf/c9e6d0dc644c6d8a8bb777cdd57373fb

Let me know if that is fixed for you too.

[2017-03-06 19:54] #575 closed

[2017-03-06 19:58] ocefpaf commented on #571
I am not sure I follow. Can you try to put that as an example, or better yet, a PR :wink:

[2017-03-06 20:18] ocefpaf commented on #570
Adding it last is necessary because the class does not know about its childern until then. We could delay/refresh the rendering to allow that. PRs welcomed :wink:

[2017-03-06 20:18] #570 closed

[2017-03-06 20:19] ocefpaf commented on #545
I no longer think this is worth it.

[2017-03-06 20:19] #545 closed

[2017-03-06 21:08] jreades commented on #584
Right, think I've got something working and will submit a PR.

[2017-03-07 22:57] vkchan commented on #592
Thanks a lot, I didn't realize it's a TopoJSON file, now it works perfectly.

[2017-03-11 19:00] WMLek opened #603 "'module' object has no attribute '__version__'"
Hi. I am new to folium and would like to run it on local machine Python27.  I tried to run the following codes

import os
import folium
print(folium.__version__)

but encountered the following error message

Traceback (most recent call last):
  File "C:\Python27\folium_map.py", line 9, in <module>
    print(folium.__version__)
AttributeError: 'module' object has no attribute '__version__'

Hope so

[2017-03-11 19:47] ocefpaf commented on #603
You have it correctly in the title. It is '__version__', not version.

[2017-03-11 19:47] #603 closed

[2017-03-11 20:48] WMLek commented on #603
Many thanks.  I tried again

import os
import folium
print(folium.__version__)

but still encountered the following error message

Traceback (most recent call last):
File "C:\Python27\folium_map.py", line 9, in
print(folium.__version__)
AttributeError: 'module' object has no attribute '__version__'

I also tried

import os
import folium
mapa = folium.Map(location=[45.5236, -122.6750])

but still e

[2017-03-11 22:29] joshuacano commented on #603
You need to take a look at your local Python27 and ensure it is loaded. Ipython uses a separate install of Python normally called conda or Anaconda. You are going to want to make sure that you are using the version of python that conda uses, when trying to import the map (Generally in %PATH%/anaconda/bin/python)

if you want to install this to your system-wide Python environment you can use pip in

[2017-03-12 12:23] reaganch opened #604 "View image on popup"
I've been trying to add an image to a folium marker popup using the following command:

[code]

Each time I open the saved "map.html" file in the browser and click on the marker, however, the popup shows an empty white rectangle without the image.

I even tried serving the file using "python3 -m http.server 8080" and navigating to the address "127.0.0.1:8080/map.html", but I still see just the emp

[2017-03-12 12:43] ocefpaf commented on #603
There is something broken with your installation like @joshuacano said. (It looks like you are on Windows so some details on how you installed `folium` would help us debug this.)

BTW, this should work (all from the command prompt):

[code]

If that works then your installation is OK and your Jupyter instance is the one calling something different.

[2017-03-12 12:48] ocefpaf commented on #604
Your safest bet is to use `base64` to encode the `PNG` and ensure it will be displayed in the Jupyter notebook. Here is an example: http://nbviewer.jupyter.org/gist/ocefpaf/992b4790ced1a740b1cb075ca814c2b9

But I admit that the situation could be improved.

[2017-03-12 12:48] #604 closed

[2017-03-12 13:17] reaganch commented on #604
Works! Thanks so much for this.

[2017-03-13 01:17] reaganch commented on #604
Quick followup to this. Would encoding using base64 be necessary even when trying to display non-raster image formats (say SVG) on a popup?

[2017-03-13 10:14] cloud05 opened #606 "Show/Hide Selected Overlays (was question re: the layer checkbox)"
Good day! I was reading one of @ocefpaf 's post and stumbled upon this. https://ocefpaf.github.io/python4oceanographers/blog/2015/03/23/wms_layers/ . How can I make a layer group unchecked on load like the example given on the post? Thanks!

[2017-03-13 11:43] ocefpaf commented on #606
That is a bug we introduced in the latest version that needs fixing. (PRs welcomed :wink:)

[2017-03-13 12:50] ocefpaf commented on #604
Nope. See http://nbviewer.jupyter.org/gist/ocefpaf/20aa2e74e11db30da2ff07c45cd74816

[2017-03-13 21:43] reaganch commented on #604
Had no idea I could do this. Thanks again. Really appreciate your help with this!

[2017-03-14 03:57] cloud05 commented on #606
Can we have this as a feature? Haha Add a parameter to a layer group that will determine if it is checked/unchecked on load? Like here, on the Programmatic Display section: https://rstudio.github.io/leaflet/showhide.html.  I'll try to tinker around this. Thanks!

[2017-03-16 14:00] stakats commented on #496
Still no movement at Leaflet.heat. Is there a practical workaround for folium users to use the original working heatmap.js library? Or is there a working plugin up anywhere? Many thanks.

[2017-03-16 21:12] crashish commented on #394
@ocefpaf is more interested in closing issues than actually answering questions it seems

[2017-03-17 01:53] joshuacano commented on #394
I think he may just actually be busy with other responsibilities, is there something I or another contributor can help you with?
Joshua Cano

[2017-03-17 04:33] testerx1 opened #607 "Feature Group item is checked on startup"
Feature Group item is checked on startup in Layer control in the html file. How to unchecked it on startup of the html file. Is there any full document of folium and example beside http://python-visualization.github.io/folium/?

[2017-03-17 12:26] ocefpaf commented on #607
That is a bug and we should address it. (It is probably duplicated but I cannot find the other issue now so I am keeping this open at the moment.)

[2017-03-17 12:29] ocefpaf commented on #394
folium is maintained by volunteers at their spare time without any personal profit. So no core dev concern is to close instead of answering.

The `inline` function you mentioned above was created with the notebook in mind. To embed in a webpage you can save the `HTML` and work with pure text from there. That means you can skip the lines

`m._build_map()` and `src = m.HTML.replace('"', '&quot;')` f

[2017-03-21 14:00] EllRob commented on #604
@ocefpaf
I attempted to replicate these steps for locally saved (in same directory as the "map.html)  jpg photos. Clicking on the points opens a white rectangle popup but displays a 'broken link' symbol when opening with Chrome.

I followed your process from the following line (your Jupyter cell 4) onward:
`encoded = base64.b64encode(open(png, 'rb').read())`

But in my case, instead of 'png' I rea

[2017-03-21 14:02] ocefpaf commented on #604
Can you share a [sscce](http://sscce.org/)?

[2017-03-22 13:53] EllRob commented on #604
Sure. Here is a simplified version of my code (apologies if this is not ideal sscce format - I tried). Simplified in that I have replaced the part at the start with arbitrary inputs where in the full version lat/lon/etc are read from photo exif data. Same applies to values of width/height/res in the lower section for now. To run this you will just need three .jpg's saved in the current directory.

[2017-03-24 00:14] QuLogic commented on #584
Fixed by #602.

[2017-03-24 15:36] #584 closed

[2017-03-24 15:36] ocefpaf commented on #584
Indeed. Closed. Thanks @jreades and @QuLogic.

[2017-03-24 21:22] mattijn opened #610 "Store the folium object In Vega style"
Will it be very hard to store a folium map object as a Vega Json object?

And/or can it be possible to apply a veja-json 2 folium-json object mapping, so a Vega-json object can be read and a folium/leaflet map is created.
For example the visualization description of a chloropeth map including a hover: https://vega.github.io/vega/examples/county-unemployment/

[2017-03-27 18:35] bears34egc opened #611 "anaconda2 Python 2.7 ImportError cannot import name Map"
I have tried to upgrade after using pip to install.
`Requirement already up-to-date: folium in ./lib/python2.7/site-packages`

But I continue to get this when I try to import folium?
[code]

[2017-03-27 19:22] ocefpaf commented on #611
You have a mix of `pip` inside `anaconda` which may be hard to debug.

Try this:

[code]

Thanks should show you that `folium` is working and the problem is probably your installation.

[2017-03-27 19:22] #611 closed

[2017-03-27 19:51] ocefpaf commented on #610
That would not be too hard. In fact the `vincent` "plugin" did that but `vincent` is an unsupported package now. Ideally we should use `altair` for that.

PRs welcomed :smile:

PS: I am closing this as it is duplicate of https://github.com/python-visualization/folium/issues/488

[2017-03-27 19:51] #610 closed

[2017-03-27 20:10] bears34egc commented on #611
Ok. Thanks. I just did a pip uninstall, conda uninstall and then I installed from my ./anaconda2/lib/python2.7/site-packages directory

[2017-03-29 12:40] ocefpaf commented on #604
The line `'<img src="data:image/jpg;base64,{}">'.format` must be `'<img src="data:image/jpeg;base64,{}">'.format` (note the `jpeg` vs `jpg`).

See http://nbviewer.jupyter.org/gist/ocefpaf/0ec5c93138744e5072847822818b4362

[2017-03-29 18:35] EllRob commented on #604
That ( plus the _.decode()_ ) did the trick! Thank you very much.

[2017-03-29 18:37] ocefpaf commented on #604
The decode should be needed only on Python 3 BTW.
`.decode() `

[2017-03-30 08:13] AmandaOlson commented on #430
Looks like the issue still hasn't been fixed.

[2017-03-30 12:08] ocefpaf commented on #430
I won't be able to look at this within 1-2 weeks. But I can review a PR if any of you are interested into fixing it.

[2017-03-31 14:58] battez commented on #571
Hi seconding this. A way to do it in Leaflet is given here:
[Toggle Initial Layer Visibiliity](http://stackoverflow.com/questions/27056581/how-to-toggle-initial-layer-visibility-in-leaflet-js
)
`var map = L.map('map').setView([52.814172, -2.079479], 9);

L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.jpg', {
maxZoom: 18,
attribution: 'Map tiles by <a href="http://stamen.com">Stamen Desi

[2017-04-04 07:43] zvolsky opened #613 "Osm (Openstreetmap) license links not working in iframe in Chrome"
(maybe this is repeated or maybe this can be solved at the iframe attributes level; if so, I'm sorry)

Chrome reports "X-Frame-Options: sameorigin".
Bad is that Chrome ignores "X-Frame-Options: allow-from ..." header settings.

Following workaround in generated code works, but I am not sure if it is acceptable for all scenarios.
`html = html.replace('<div', '<base target="_parent"><div', 1)`

[2017-04-04 13:07] ocefpaf commented on #613
I just test it on my Chrome and everything worked. (Both on notebook and the a sand-alone HTML.)

What version of `Chrome` and `folium` are you using? (Closing this since I cannot reproduce it but we can keep discussing your case here.)

[2017-04-05 07:54] zvolsky commented on #613
Chromium Version 57.0.2987.98 built on Debian 9.0, running on Debian 9.0 (64-bit)

Example:

http://python-visualization.github.io/folium/quickstart.html#getting-started

links in the first map

-  Leflet works (??),
- Openstreetmap will display nothing with following in Developer Tools:

Refused to display 'http://www.openstreetmap.org/' in a frame because it set 'X-Frame-Options' to 'sameorigin'

[2017-04-05 12:04] ocefpaf commented on #613
If you open in a new Window they all work but I think I know what the issue is. Let me try something here... Hold on...

[2017-04-05 20:35] ocefpaf commented on #613
Why? Just because they don't allow their site to be opened in an IFrame? I really doubt it. Also, the site is accessible via a new Window.

See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options
There is not much we can do on our side. Openstreemap could allow for iframe on its license at least.
Since they do not we could try to always open a new Windows. (That is what I am

[2017-04-05 20:35] #613 closed

[2017-04-06 07:04] zvolsky commented on #613
I'm sorry, I haven't understand that this is an openstreetmap.org restriction.
If so ... The link is there, everything is ok.
But because these are not links for usual work on the page but just to point to technologies and licenses, maybe opening always in new window would be good solution.

[2017-04-06 12:18] ocefpaf commented on #613
I agree that it is a good idea. Do you want to send a PR for that? I really don't have the time to look into this now.

[2017-04-13 13:10] xapple commented on #35
In my experience cutycapt will render the map, but not any markers you have placed on it. Folium really needs a PDF or PNG output option.

[2017-04-13 15:07] sergiolucero commented on #35
I am using folium to generate a series of maps that need to end up in a PDF
or Word file. Find myself having to launch selenium to simulate a browser,
then save a screenshot. Works well but it's a cumbersome solution.

On Thu, Apr 13, 2017 at 10:10 AM, Lucas Sinclair <notifications@github.com>
wrote:

[2017-04-13 15:18] ocefpaf commented on #35
@sergiolucero do you fancy sending a PR to add that functionality to `folium`?

[2017-04-14 13:28] psychemedia opened #614 "ClickForMarker - should it add markers to the map?"
I've just been having a quick play with `ClickForMarker()` [here](https://gist.github.com/psychemedia/5782feef6bef48fd27de8ed9475b2e45#file-simplemapdemo-ipynb) and it seems that the markers are added dynamically to the rendered map rather than the `folium` map object HTML.

Which makes me wonder what the use case? (E.g. I was imagining it might be used to help create and save a map with markers i

[2017-04-18 18:33] ocefpaf commented on #614
I guess that the original use case was to let people interact with the markers on a `Jupyter` notebook.
Updating the HTML with that information is quite challenging and I am not sure it is worth it. However, I would gladly merge a PR for that. Do you want to try?

[2017-04-18 18:33] #614 closed

[2017-04-20 18:01] jagill opened #615 "Polygon support"
I've implemented Polygon support on my local checkout of folium; now I can add polygon layers to my map.

Is this something you'd want a PR of?  If so, I've currently just copied the PolyLine class and modified it appropriately.  The leaflet polygon is itself a subset of polyline; would you rather I reflect that by inheriting from PolyLine?

[2017-04-20 19:51] ocefpaf commented on #615
Please take a look at the `PolygonMarker` in the features module. That implements `L.polygon` and it seems to be the same you are talking about.

Maybe we should rename it... I don't really recall why we ended up with `PolygonMarker` install of `Polygon`.

[2017-05-02 07:02] Nyahua opened #616 "add href to marker?"
Is it possible to add href to the marker's popup property so when I click it I can go to another web page/file?

[2017-05-02 07:09] collinreinking commented on #616
popup = folium.Popup('<a href=" [URL GOES HERE] "target="_blank"> [text for link goes here]' </a>')

you can see an example of this in a notebook I am just now working on putting together:
https://github.com/collinreinking/longitude_latitude_dot_plots_in_python_with_folium/

[2017-05-02 12:37] ocefpaf commented on #616
Thanks @collinreinking that is a good answer. Closing this as resolved.

[2017-05-02 12:37] #616 closed

[2017-05-02 12:48] dunguyen84 opened #617 "list of available icon"
I would like to play with the available icon in folium.Marker().
Is there a list somewhere so I can output with your icon before customizing?

Thank in advance.

[2017-05-02 12:49] ocefpaf commented on #617
Not sure what you mean there. Can you clarify what if that you want to do?
Also, take a look at the custom icons example and the many builtin options.

[2017-05-02 12:52] dunguyen84 commented on #617
In your following example :
`map_1 = folium.Map(location=[45.372, -121.6972],
                   zoom_start=12,
                   tiles='Stamen Terrain')
folium.Marker([45.3288, -121.6625],
              popup='Mt. Hood Meadows',
              icon=folium.Icon(icon='cloud')
             ).add_to(map_1)
folium.Marker([45.3311, -121.7113],
              popup='Timberline Lodge',
              icon=

[2017-05-02 13:01] ocefpaf commented on #617
Take a look at the docs with `help(folium.Icon)`. I believe you'll find what you want.

[2017-05-02 13:01] #617 closed

[2017-05-02 13:23] dunguyen84 commented on #617
yes indeed I found what I wanted.
Thank you very much.

[2017-05-02 13:36] ocefpaf commented on #617
No problem. Also browse the examples. I am pretty sure there are more use cases there:

http://nbviewer.jupyter.org/github/python-visualization/folium/tree/master/examples/

[2017-05-04 04:33] xysmas commented on #341
Does anyone have insight on this?

http://stackoverflow.com/questions/42767565/folium-custom-pop-up

I have similar issues in that I'd love to have a popup displayed with data embedded in the GeoJSON properties field on mouseover. Thanks!

[2017-05-10 09:47] dunguyen84 commented on #210
Dear all,

https://github.com/Leaflet/Leaflet.label   was promising, and after figuring out how to plot the polygon (somehow the methods and the tutorial are not exactly matching anymore), I would love to add the mouse over text poping up.
I saw the Leaflet.label package but do not know how to integrate in my code. Nor could I add a popup as for folium.Polyline or folium.CircleMarker
I can share m

[2017-05-11 12:25] Schweboo opened #618 "Delete Marker"
Hi

I would like to be able to delete a Marker so that I can limit the number of Markers on a map where Markers are generated in real time. My reason for wanting to do this is that the HTML file is getting so big that the m.save(map.html) .

Chris

[2017-05-11 12:40] ocefpaf commented on #210
If you can try to do that in the form of a PR I can take a look.

[2017-05-11 21:25] ddcamiu opened #619 "Complete official documentation missing?"
I really likes the functionality of folium, but so far I cannot find a good documentation, especially for the advanced features. Each time I have to either google to some random blog or dig into source codes.

So far the best documentation I find is https://folium.readthedocs.io/en/latest/. However, all module description is empty there.

Appreciate your work! It will be good to know if a good doc

[2017-05-11 23:05] Schweboo opened #620 "Folium marker clusters not working as expected"
![img_0028](https://cloud.githubusercontent.com/assets/6009761/25975366/c238720a-36a5-11e7-8193-3f3a59aa1d82.PNG)
The attached file shows a map on which marker clusters were expected. However, only a few of the markers are appearing as marker clusters, even though all points were created using the same .add_to (marker_cluster) function

Some of the markers have a black outline...which I think mean

[2017-05-12 20:07] ocefpaf commented on #619
Indeed the docs are lacking, but it has been a while that we dropped readthedocs. They are hosted here now: http://python-visualization.github.io/folium/

Still there is plenty of work to do there. PRs welcomed :wink:

[2017-05-12 20:07] #619 closed

[2017-05-12 20:11] ocefpaf commented on #620
The black outline is odd but the cluster seems to be working. Maybe your points are not too close together is some places to actually show them.  See the example on cell [3] of http://nbviewer.jupyter.org/github/python-visualization/folium/blob/d2c495b871c09dac656b4fc4f8b153e36f1eed14/examples/Plugins.ipynb

There the icons are all around a smaller area of the globe. At different zoom levels every

[2017-05-12 20:11] #620 closed

[2017-05-12 21:35] Schweboo commented on #620
The cluster does not work at all for any data points in which I used the list code shown. It worked when I hard coded coordinates with numbers. I need to be able to use a list to initiate a cluster. I looked at the example, where the clusters appeared as I zoomed back. No matter what zoom I use, the clusters only show up when I hard code the coordinates.

[2017-05-12 21:52] ocefpaf commented on #620
No need. I closed because that is particular to your data and not a `folium` bug.

Please see http://nbviewer.jupyter.org/gist/ocefpaf/e588851f2abcfe3d2d57896734fd2e31 and note the comment regarding the data format for the locations in the docstring.

[2017-05-13 10:05] Schweboo commented on #620
OK, but still no progress. Thanks. My data is now in this format:
print points gives:

[[51.4685415975, -0.199527294926]]
This matches the example you showed me.

my code is:
import folium
.
.
.
marker_cluster = folium.MarkerCluster().add_to(tweet_map)
tweet_map = folium.Map(location=[53, 0], zoom_start=5,control_scale=True)
folium.Marker(location=points,
        popup=' ',
        icon=folium.Ico

[2017-05-13 10:11] ocefpaf commented on #620
`[[51.4685415975, -0.199527294926]]` is a single point and won't produce a cluster. And I cannot debug your snippet without knowing what `points` is.

I can assure you that a `list` of `list`s or `array` of shape (n,2)  will work.

[2017-05-13 10:28] Schweboo commented on #620
x = float(LATLONG[0])
    y = float(LATLONG[1])
    points  = [[1,2]]
    points[0][0] = x
    points[0][1] = y

The function is called whenever a tweet is picked up through the Twitter streaming API

The tweet content is analysed for sentiment (positive/negative). Using geo data from the tweet, markers are posted on a map (GREEN=positive; RED=Negative)

The link ([https://www.schweboo.com/tweet-m

[2017-05-14 06:38] Schweboo commented on #620
It is now working. The solution turned out to be very simple.

Folium.Marker([x,y], etc

Where x and y and float numbers. Clusters are now working.

[2017-05-14 08:44] Schweboo commented on #577
This is an excellent idea. I want to be able to show different coloured cluster markers for different cluster groups for RED and GREEN markers respectively. I would not mind if the clusters did. To change colour as you zoomed into the map. I could not see if a PR was raised for this....

[2017-05-18 08:50] osk4 opened #621 "Fullscreen in iframe"
The function of fullscreen is usefull, but if the webpage is in iframe, the button of fullscreen is invalid.
I want to use the button in iframe.

I appreciate it.

[2017-05-18 11:48] havardl opened #622 "Set map, markers, polylines id or class?"
Hi,

I was wondering if it's possible to define a id or class for map, markers or polylines? I'm currently adding some code after generating the map, to be able to add custom events for the different elements on the map, which would be a lot easier if I could reference specific ids or classes.

Is this currently possible?

[2017-05-21 13:52] ocefpaf commented on #621
I am not sure what you mean? The map HTML is in the iframe? Or are creating a page, pasting the map there , and that page is an iframe? The former should work b/c that is the same thing we do in the Jupyter notebooks. The latter I have no idea how to implement in a clean way and I don't think it is `folium`'s role to do it. If you can find a way to do it PRs are welcomed 😄

[2017-05-21 13:57] ocefpaf commented on #622
Everything is a `branca` element and all elements have a unique id. See https://github.com/python-visualization/branca/blob/master/branca/element.py#L41

Would that help you? But if I understood what you want to do you don't really need that. Keeping track of the objects in your script should be enough.

[2017-05-21 13:57] #622 closed

[2017-05-21 14:04] havardl commented on #622
I actually need to define classes for multiple markers and polylines, to be able to select them as groups to for example show/hide them based on user input in the generated map. Is this possible?

[2017-05-21 15:25] ocefpaf commented on #622
Take a look at http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/FeatureGroup.ipynb

[2017-05-22 01:06] osk4 commented on #621
I think it's former. In iframe, the map is called by URL. (It's not pasted to other web page.)

If I push fullscreen butten in iframe , it's invalid. But I push fullscreen butten in other, it's valid.

[2017-05-22 01:56] ocefpaf commented on #621
Can you put a [sscce](sscce.org) together?

[2017-05-26 20:40] radumas opened #625 "Value Check on Location parameter of the Map creator"
I accidentally tried calling `folium.Map([45.0 -79.0])` in a Notebook, and it failed silently leading me to tried to decode the indecipherable JS console output.

There could be a simple check to see, if `location` is a list, that it has 2 and only 2 values.

[2017-05-26 21:29] ocefpaf commented on #625
That is doable. Do you want to try a PR?

On May 26, 2017 4:40 PM, "Raphael Dumas" <notifications@github.com> wrote:

I accidentally tried calling folium.Map([45.0 -79.0]) in a Notebook, and it
failed silently leading me to tried to decode the indecipherable JS console
output.

There could be a simple check to see, if location is a list, that it has 2
and only 2 values.

—
You are receiving this b

[2017-05-26 22:07] radumas commented on #625
I'd be happy to!

On Fri, 26 May 2017, 17:29 Filipe, <notifications@github.com> wrote:

[2017-05-28 00:47] ocefpaf commented on #625
Nice. Ping me if you need any help.

[2017-05-29 16:14] radumas commented on #625
I've written up the code. Just wondering how to write tests compatible with your current testing framework, I'm only familiar with using the built-in `unittest` library.

[2017-05-29 16:31] ocefpaf commented on #625
Start a PR and I can help you with the tests. I'm traveling at moment though and it may take a while for me to look at it.

[2017-05-29 17:19] radumas commented on #625
Just started that. Thanks!

[2017-06-02 10:18] andy-carter-encraft opened #628 "Linear colormaps using .choropleth and pandas"
Is it possible to use a linear colormap when building a choropleth from pandas using the map.choropleth method? I've read the documentation and and the jupyter notebook docs, which explain how to use a linear colour map when building from a GeoJSON, but not when using the key_on and columns keywords.

Is there a way to replace the threshold_scale and fill_color args in my code and get an equivalen

[2017-06-03 05:21] rafaelproenca1 commented on #341
@BibMartin I know this was a long time ago, but I had the same problem with reset. What I ended up doing to apply the same style as before:

[2017-06-04 00:32] JonathanJHull opened #629 "Folium not working in Jupyter Notebook with Microsoft Edge (Windows 10, python 3.6.0)"
I get nothing but a blank screen area when running the following example from the May 18, 2017 folium.pdf in Jupyter Notebook with Microsoft Edge:

import os
import numpy as np
import pandas as pd
import folium

map_osm = folium.Map(location=[45.5236, -122.6750])
map_osm.save('osm.html')
map_osm

It works in Firefox, so I guess I'll just use it instead of Edge.  That's not a big deal, but I wanted

[2017-06-07 15:29] andy-carter-encraft commented on #628
I decided to build piecewise by feature as per the example and have it working fine. Enjoying working with new found layer and layer control things!

Is the .choropleth method to be depreciated?

[2017-06-09 08:50] oscarechobravo commented on #35
@sergiolucero @ocefpaf Did a PR come from this? Trying to make comparable maps as  subfigures, via an elegant solution for exporting to PDF or PNG.

[2017-06-09 12:32] ocefpaf commented on #35
@oscarechobravo no PR yet. Do you want to try it?

[2017-06-15 10:51] eHanseJoerg commented on #341
After reading through this conversation, I still do not understand if there now is the possibility to highlight/popup on a mouse-over event. This new highlight-function is no in the docstring (I commented here: [https://github.com/joshuacano/folium/commit/62a46d3154c996eb396dd807538f0e6559053703](url) and I have no idea how to use it.

Is it now possible to popup on mouseover?

[2017-06-15 14:00] ocefpaf commented on #341
We don't have any nice example illustrating the use of the highlight_function option. PRs welcome :smile:

[2017-06-15 20:19] eHanseJoerg commented on #341
Done. [https://github.com/python-visualization/folium/pull/630](url).

[2017-06-19 17:56] BrenBarn commented on #497
Has there been any change on this?  I see that the referenced #490 was merged several months ago, but what about a popup?  I was hoping to use folium for a choropleth map where the user could click on any of the areas and see a small popup with some info about that area.

[2017-06-19 18:02] ocefpaf commented on #497
If you want to put a PR together to implement that I'd gladly review it :smile:

[2017-06-23 22:51] wlei6277 opened #632 "Ability to rotate custom markers"
Hi, how would I go about rotating a custom marker?

I want to rotate pointed arrows to show the direction of ocean swell but also want to use a custom image not the standard folium Icon

Thanks :)

[2017-06-23 22:57] ocefpaf commented on #632
Take a look at http://nbviewer.jupyter.org/github/python-visualization/folium/blob/d2c495b871c09dac656b4fc4f8b153e36f1eed14/examples/CustomIcon.ipynb and http://nbviewer.jupyter.org/github/python-visualization/folium/blob/d2c495b871c09dac656b4fc4f8b153e36f1eed14/examples/Rotate_icon.ipynb

BTW this is not an issue, but a use question. Please use the gitter channel for that next time.

[2017-06-23 22:57] #632 closed

[2017-06-24 21:25] ocefpaf commented on #35
Finally done in #634

It is still experimental and feedback is welcome. Note that you'll  need `phantomjs` installed to make it work.

[2017-06-24 21:25] #35 closed

[2017-06-25 13:29] psychemedia opened #637 "Running folium with klokantech/tileserver-gl"
Does anyone have examples of using `folium` to display maps using tiles server by the [`klokantech/tileserver-gl`](https://github.com/klokantech/tileserver-gl) `docker` container?

eg I am using Jupyter notebook and tileserver linked containers, as well as a UK postcode geocoding server, using the following `docker-compose` script:

[code]

FWIW, the postcodes connection is via:

[code]

But how d

[2017-06-29 15:12] acrosby commented on #328
I am interested in this functionality being added. I would recommend adding WmsTimeTileLayer. It would also be great to be able to add additional parameter arguments (like for ncwms) as a dict to the wms layer objects instead of putting them in the wms url like I am doing now as a work around.

[2017-06-30 11:48] ocefpaf commented on #328
Indeed those are nice ideas @acrosby. Are you up for a PR :wink:

[2017-06-30 11:49] acrosby commented on #328
I'll take a look at it.
On Fri, Jun 30, 2017 at 7:48 AM Filipe <notifications@github.com> wrote:

[2017-07-03 13:41] TayariAmine commented on #450
@BibMartin thank you for your answer that was also helpful for me.
I wanted to ask if we can adjust the background of the colormap to white or any other color so we can avoid some visibility problems caused by the colors of the map itself.
Thank you.

[2017-07-06 04:51] rdd9999 opened #640 "Cannot move a marker to the center when it is on the edge of the map"
When a marker is placed on the edge of the map,
I can't move it to the center by drag-and-drop the map.
The map automatically goes back when I drop the mouse key.
I tried using FitBounds but it didn't help.
The sample code is as follows.

[code]

[2017-07-06 12:56] #416 closed

[2017-07-06 13:10] ocefpaf commented on #640
Did you try using longitudes in the range of -180..180 instead? According to [this](https://stackoverflow.com/questions/38820724/how-to-display-leaflet-markers-near-the-180-meridian) the 0..360 should work but I got the desired behavior with:

[code]

[2017-07-06 13:11] #640 closed

[2017-07-07 02:56] rdd9999 commented on #640
It works. Thank you.
Another solution I found is to edit the generated .html file and delete the settings related to maxBounds.
Maybe the restriction is a default feature but I hope there is an option that I can disable it to avoid converting some data.

[2017-07-07 17:09] ocefpaf commented on #640
For some reason I though that was the `default` :confused:

Do you fancy sending a PR to change that? (I am planning a new that will break some of the API anyways :smile:)

[2017-07-08 12:41] rdd9999 commented on #640
I haven't sent a pull request before...
Do I need fork it and then edit the corresponding source file?

[2017-07-09 04:50] QuLogic opened #642 "Documentation is outdated"
On https://python-visualization.github.io/folium/, the footer says it's 0.2.0 documentation, when 0.3.0 is the latest release.

[2017-07-21 17:09] acrosby commented on #328
I made both of these changes in PR https://github.com/python-visualization/folium/pull/644

Implemented as a "plugin" like TimestampedGeoJSON, but with a class that takes a WmsTileLayer as an argument.

[2017-07-21 17:16] ocefpaf commented on #328
Awesome! Thanks @acrosby!!

I will try to review this over the weekend. If not please bug me! I don't want this feature to slip under the cracks.

[2017-07-22 14:40] tmthyjames opened #645 "Enable multiple popups for one GeoJson, one fore each polygon in a GeoJson object"
It's relatively easy to do it in leaflet but I can't figure out how to do it in Folium. Is this currently possible without creating multiple GeoJson objects?

For example, I can get it to work fine doing this:

[code]

But this is inefficient as it creates a new GeoJson object for every polygon.

*EDIT*: Possible duplicate of [497](https://github.com/python-visualization/folium/issues/497)

[2017-07-27 17:23] ikatza commented on #621
You need to pass the `allowfullscreen` atribute to the iframe in order to allow it to go fullscreen.

`
 <iframe id="Map"
               title="Map"
                allowfullscreen
                src="map.html" frameborder="1" height="60%" width="90%">
  </iframe>
`

[2017-08-01 20:57] jzf2101 opened #646 "Matplotlib ColorMaps?"
I'm trying to use matplotlib's colormaps and it looks like I'd have to a little bit of legwork to make it happen:

See: https://github.com/python-visualization/folium/issues/299

Could this be a feature as well?

[2017-08-01 23:50] jzf2101 commented on #198
Any news on this issue?

[2017-08-02 13:44] p3p1 opened #647 "Use local tiles downloaded with gMapCatcher"
Hi, I downloaded offline tiles with gMapCatcher in a directory /home/pi/tiles
The gMapCatcher tiles use a different coordinates system as explained [here](https://stackoverflow.com/questions/18695623/leaflet-gmapcatcher-change-zxy-template).
Hence, for example I have to point at this URL: `file:///home/pi/tiles/z0/x0/x1/y0/y1.png`

Where z0, x0, x1, y0, y1 are calculated as shown in aforementioned

[2017-08-02 15:42] mengjade opened #648 "Map border"
Is it possible to use (min_lat, max_lat, min_lon, max_lon) to set the boundaries of the map?
This is my current code:

[code]

[2017-08-07 02:54] bokkenka commented on #648
You can use m.fit_bounds(bounds).  I don't think it sets the exact boundary, but it will zoom the map to fit what bounds you give it.  The bounds can be points, lines, polygons, whatever you want to give it.  So you could create you map m and use m.fit_bounds((max_lat, max_lon), (min_lat, min_lon)).

Open https://github.com/python-visualization/folium/blob/master/folium/map.py#L750 to see what opt

[2017-08-07 12:04] ocefpaf commented on #648
Thanks @bokkenka! That is one way to do it. Another way is via the min, max limits. See http://nbviewer.jupyter.org/github/python-visualization/folium/blob/master/examples/MinMaxLimits.ipynb

[2017-08-07 12:04] #648 closed

[2017-08-07 15:17] deeplook opened #649 "Missing styling documentation"
1. `Folium` rocks! Thx so much for working on it!

2. I'm exploring it now, and trying to style some GeoJSON was much harder than expected, largely because I couldn't find any documentation on expected property names (for `folium`, I know there aren't for GeoJSON). After a while I've sniffed into the code, and saw that e.g. `fillColor` should work. But then `strokeColor` doesn't (`color` does). I'