[2013-05-24 21:01] brunobord opened #1 "Missing dependency: pandas"
Hi,

I've tried to install it on a fresh-new virtualenv using:

[code]

then trying to import folium via the python console: it gave me a

[code]

Manual installation of pandas didn't solve it, btw, since I was unable to compile numpy on my Macbook... :(

[2013-05-24 21:53] #1 closed, assigned to nobody

[2013-05-25 05:12] araichev opened #2 "Add polyline markers"
Hi Rob,

Another great Python app you're building.  Here's a feature request for you: Add polyline markers to Folium, so that folks can draw lines between dots on a map.

[2013-05-29 23:00] araichev opened #3 "Add popup option to geo_json()"
This functionality would be useful, and adding it looks doable via Leaflet's onEachFeature: http://leafletjs.com/examples/geojson.html.

[2013-06-12 01:01] NigelCleland opened #6 "Describe Marker by GeoJSON/TopoJSON"
# Marker Shapes and Locations

Currently Folium has the ability to create markers using simple shapes, e.g. generic Leaflet, Polygon, Circle markers.
One great aspect of these is the ability to easily bind Vincent visualisations to the map enabling greater detail at popup locations.

However, when working with a Chloropleth map the addition of these markers can obscure additional detail.
For examp

[2013-06-18 23:08] wrobstory opened #7 "Missing data does not fail gracefully"
For Choropleth maps, if the GeoJSON and JSON data do not match, the color defaults to the highest in the scale. It would be preferable for it to default to white, in order to recognize that the value is missing.

[2013-06-19 03:26] #7 closed, assigned to nobody

[2013-07-27 11:17] drnextgis opened #8 "CRS option of Map object"
How I should configure `folium.Map` object if I want to get the following map option:

    crs: L.CRS.Simple

[2013-08-09 17:10] zachcp opened #9 "Small Feature Requests"
Hi Wrobstory,

This is a fantastic library. While I like how you have made it very easy to make maps with tilesets, I would be interested in an option where you don't have a tileset at all but instead use GeoJSON/TopoJSON as the map. For my current use-case, I need only a simple US States maps with points and would like to have a very simple map.  Rightnow I can use something like:
   `tileset = r

[2013-09-23 04:21] bevanj opened #10 "Add multiple tile.layers with control layer?"
I was wondering if it is possible to add multiple layers into you fantastic library by doing something similar to below?

[code]

[2013-11-24 19:55] sbreuss opened #12 "Content Encoding"
I'm using the library but encountered some problems with german umlauts. Could you please add a the encoding to the head section of the html templates to fix character encoding issues?

<code>&lt;meta http-equiv="content-type" content="text/html; charset=UTF-8" /&gt;</code>

Best Regards,
Simon Breuss

[2013-11-30 10:59] wandeg opened #13 "Add url to popup"
Is there a way to add a url to the popup so that once the popup is clicked it redirects to the url?

[2013-12-28 23:47] jmduke opened #15 "Still being maintained?"
This is an awesome library!  I noticed that it's still using Leaflet 0.5, though, which breaks compatibility with a number of modern plugins -- and that the most recent commit is three months ago.

I'd be more than happy to submit a PR updating, I just wanted to make sure you're still interested in maintaining the library :)

[2014-02-14 01:24] bevanj opened #18 "Use Leaflet plugins"
I am interested in whether folium would be able to use leaflet plugins http://leafletjs.com/plugins.html and what would be involved?

[2014-04-11 03:26] #15 closed, assigned to nobody

[2014-05-02 16:28] tbicr opened #22 "Non pixel height and width not availible"
Non integer values doesn't accessed with `Map` constructor. For example `100%`.

[2014-05-02 16:29] tbicr opened #23 "Propose set default width and height as 100%"
Propose set default height and width as `100%`. It useful when I just create map sample and it will take all size of display on devices with any sizes.

Depend from #22.

[2014-05-12 17:19] birdage opened #29 "Zoom and fit map to bounding box?"
is there a way at present to zoom and fit the map to a bounding box?

[2014-05-14 10:14] rgiot opened #30 "Impossible to click on circle markers when geo_json is called"
When both markers and geo_json methods are called, we cannot click in the markers in order to see their popup (at least on firefox).

It seems that it is because the html code to manage the geojson is called after the javascript code which manages the markers.

The issue appears even if the geo_json python method is called in first.

Manually modifing the html code in order to call  L.geoJson befo

[2014-05-14 16:28] gbenegas opened #31 "geo_json with pandas series problem"
If i do:
[code]
I don't need to pass the columns argument, as it is a series. However, columns, initialized as None, is used in the function.
[code]

[2014-05-15 12:21] psychemedia opened #32 "Problems installing on py 3.3.1?"
I get an import error on py 3.3 on a VM. Issue with my VM config, in which case, any idea of the fix? Or a wider issue?

[code]

[2014-05-16 22:41] psychemedia opened #33 "Marker Cluster Groups"
Is there a way of making use of the https://github.com/Leaflet/Leaflet.markercluster plugin and hence the L.markerClusterGroup layout from folium?

[2014-06-03 16:23] barryrowlingson opened #34 "Support GeoPandas"
Its possible to use Folium to map using data and geometry from a GeoPandas object, but it requires writing the GeoPanda geometry to geojson (using the .to_json method);

something like, for gp being a geopandas obejct:

[code]
and then you can map a column 'q' in the GeoPandas object:

[code]

It should be possible to remove the steps of writing the json and the keying for a GeoPandas frame. Somet

[2014-06-04 18:38] achourasia opened #35 "Save image"
Is there a way to save the image as PDF or PNG?
I am hoping to batch a set of datasets to create a set of image sequence for creating a video.

[2014-06-10 13:46] rsignell-usgs opened #36 "Github Release"
We have some code that depends on the current version of folium and would like to make a conda module for our community.   It would be nice if it had a version number -- any interest in tagging the current release here on github?

[2014-06-12 21:41] silentttone opened #37 "Map Resizing"
I'm kinda new to folium, so I may have just missed something obvious, but I haven't been able to find a folium feature to resize the map.
I could change the javascript for the map, but as I've got about 10 different maps (and more to come) that are all being generated automatically using python, this doesn't seem like a good solution.
I'd ideally want the map to dynamically respond based on the wi

[2014-06-20 04:21] omomo opened #38 "circle_marker question"
Location indicated by circle_marker seems to change as function of which location that map was initialized as.

For example, this location of

map_2.circle_marker(location=[45.5215, -122.6261], radius=500,
                    popup='Laurelhurst Park', line_color='#3186cc',
                    fill_color='#3186cc')

seems to be dependent on

map_2 = folium.Map(location=[45.5236, -122.6750], tiles='

[2014-06-20 04:57] #38 closed, assigned to nobody

[2014-06-24 20:24] #32 closed, assigned to nobody

[2014-06-26 18:45] birdage opened #39 "custom map marker (color, or icon)"
addition of custom markers for ploting on the map, or an attribute to change the color or the marker when its created.

[2014-06-26 18:47] birdage opened #40 "wms layer support"
i see there is a way to change the tileset/tile layer, is there any way to add wms layer support? WMS is currently supported in leaflet

this might go hand in hand with https://github.com/wrobstory/folium/issues/10

http://gis.stackexchange.com/questions/41662/does-leaflet-support-wms-tile-layers-in-applications-openlayers-formats

http://gis.stackexchange.com/questions/73967/combine-leaflet-with-

[2014-06-27 18:50] birdage opened #41 "vincent popups fails on same marker after clicking off the marker"
creating a marker with vincent popups is great but at the minute when you click a marker and view the popup and plot/data, close the popup and try to view it again nothing is shown

[2014-07-11 12:40] psychemedia opened #44 "Progressively annotating a map in ipython notebook"
If I take the

[code]

route to using folium in an IPython notebook, if I create a map and preview it in one cell, then annotate the map and try to view it from another cell, I get the error:

[code]

However, if I use the old inline_map/iframe approach, as in http://nbviewer.ipython.org/gist/psychemedia/c1ac132946fa120cad91 for example, I can drop iframes containing increasingly layered maps into

[2014-08-10 21:54] tom-spalding opened #45 "'module' object has no attribute 'initialize_notebook'"
Hi, I installed Folium and all the dependencies (I'm pretty sure!). It works fine when running examples by themselves but I'm getting the following error when running a python notebook in the examples folder.
https://github.com/wrobstory/folium/blob/f7194ad976bbcccf82c258b2f37b53f1d4ed22c9/folium/folium.py#L24

[code]

I traced the function and found it thinks I didnt have `utilities`, but it shou

[2014-08-10 22:02] #45 closed, assigned to nobody

[2014-08-15 03:52] tom-spalding opened #46 "change map location after creating?"
Steps: create a map with location, add a few markers, but then take the center of all the markers, and recenter the map?

[code]

[2014-08-18 17:09] #39 closed, assigned to nobody

[2014-09-28 14:46] ocefpaf opened #49 "Add an option to adjust text popup width and height"
I was wondering, even though I like the JSON approach (and GeoJSONs are a far more elegant solution than what I am about to propose!), why not add a functionality to modify the width and height of the text popup and let the user add HTML graphics in folium? Both bokeh and mpl3d can save the plots as HTML.

I already toyed with the idea here:
http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/

[2014-10-03 18:40] psychemedia opened #50 "TemplateNotFound: tiles/openstreetmap/tiles.txt"
Installing from git using Py 3.4:

`pip3 install git+https://github.com/wrobstory/folium.git`

 and running in IPython notebook:

[code]

I get the following error:

[code]

[2014-10-13 18:12] #40 closed, assigned to nobody

[2014-10-13 18:29] #33 closed, assigned to nobody

[2014-10-13 19:43] #46 closed, assigned to nobody

[2014-11-03 18:44] sergiobuj opened #54 "Difference between 0.1.2 from pip and 0.1.2 on Github"
Hi,

I wanted to create simple lines and found support for that on the `master` branch on Github but when I installed it with `pip` there was no support for `Map.line`.

I used the `zip` file from Github to install it and worked perfectly. Just wanted to let you know that this happened.

PS. `pip freeze` showed both as `0.1.2`.

Great tool. Thanks!

[2014-11-21 01:08] wckoeppen opened #55 "Crossing the dateline causes a polygon display wrap issue"
I'm using folium to display some polygons that cross the international date line, but the polygons get wrapped to the far right side of the map.
![screen_20](https://cloud.githubusercontent.com/assets/5704500/5136153/a597dcb0-70cf-11e4-9e50-70359a47450b.jpeg)

[2014-12-02 19:24] #54 closed, assigned to nobody

[2014-12-02 19:46] #9 closed, assigned to nobody

[2014-12-02 20:06] #10 closed, assigned to nobody

[2014-12-02 20:38] #12 closed, assigned to nobody

[2014-12-02 20:39] #13 closed, assigned to nobody

[2014-12-04 18:28] #36 closed, assigned to nobody

[2014-12-23 13:40] #50 closed, assigned to nobody

[2014-12-28 20:19] lennart0901 opened #64 "Tile alignment in ipython notebook"
On my notebooks the first tile is always offset.
It seems there is a top margin for all but the first tile
because of the following css selector in style.css:

[code]

maybe adding some css to override margins is an good idea

[2015-01-01 16:06] #64 closed

[2015-01-10 01:10] ribonoous opened #71 "Visualizing data at the zip code level"
First and foremost, congrats for an extremely useful package! I just started playing with it, and I *love* it.

I am trying to visualize data at the zip code level (US zip codes), but don't know how to proceed.

Say for example that I have:

[code]

Is there any way to visualize this data in Folium? Do I need to create a Geo or Topo JSON with arcs for those zip codes?  Is such data perhaps availab

[2015-01-10 19:42] blis opened #72 "examples not working"
When I run the Marker examples on https://github.com/python-visualization/folium, the html which is output has some malformed URLs in the head. For example, in the “mthood.html” example, the “http:” is missing in the following URLs:

href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
src="//maxcdn.boot

[2015-01-10 19:56] ocefpaf commented on #72
The template is correct, see http://fortawesome.github.io/Font-Awesome/get-started/.  You should not need the http.

Can you save the HTML, open a terminal window at the directory and type:

[code]

or (python2)

[code]

Then click on the HTML and let me know if that works for you.

[2015-01-10 21:11] blis commented on #72
ocefpaf,
Good news and bad news:
1) Saving the html and serving it via python3 -m http.server 8080 works. Thanks!
2) However, opening the html file directly via the browser's File/Open File does not work. Must the html file be served by an http server to work? If so, is that an artifact of the CDN?
3) The us_state.html choropleth doesn't work either way.
thanks,
Bob

[2015-01-10 22:40] ocefpaf commented on #72
Good to know :wink:

Not really.  This is how it is supposed to work.  Take a look at

https://developer.mozilla.org/en-US/Learn/Open_a_file_in_a_browser

for more information.  (If you find it too long go straight to the four bullet points on "**What we've learned**.")

I cannot reproduce it here.  Can you be more specific.

[2015-01-11 22:14] blis commented on #72
Thanks for the pointer to the MDN post. I'm embarrassed I'd forgotten some of that!
Re the us_state.html choropleth, let me try some more to see if the problem is something I'm doing wrong.

[2015-01-12 11:27] ocefpaf commented on #72
Not a problem.  I am not a web expert myself.

I will close the issue.  You can re-open it if you find what is wrong with the choropleth example for you case.

[2015-01-12 11:27] #72 closed

[2015-01-13 15:58] mguerrajordao opened #74 "map.create_map doesn't export correct path for href on bootstrap and markercluster"
Hello developers,

I've been starting to use foluim to produce leaflet.js maps from geographical data using python and pandas dataframe.
I've noticed that when trying to use the polygon markers, and export to html via map.create_map, the 'http:' prefix is missing on the head of the html file.
While trying to open the html file separately or by an iframe, the javascript does not find this urls loca

[2015-01-13 16:00] mguerrajordao commented on #74
And looking forward for new additions. Thank you for this project.
Regards,
Marcelo

[2015-01-13 16:00] birdage opened #75 "move rotation css template to folium repo"
at the min there is a dependency to the following [link](http://birdage.github.io/Leaflet.awesome-markers/dist/leaflet.awesome.rotate.css) it should re removed, or moved to the folium project

[2015-01-13 16:01] ocefpaf commented on #74
Hi @mguerrajordao.  You need to serve the HTML, that is how folium is supposed to work.  Take a look at  #72

[2015-01-13 16:01] #74 closed

[2015-01-13 16:03] ocefpaf commented on #75
I sense a PR coming :wink:

[2015-01-13 16:04] mguerrajordao commented on #74
Thank you,
Sorry, I haven't noticed it was a duplicated issue. I'll have a look.
Congratulations for this project.

[2015-01-13 16:05] birdage commented on #75
@ocefpaf there will be done down the road, we could move it to another css file in the repo to move it off a cdn type lib :smile: all it does is handle the rotation, super simple.

[2015-01-13 16:07] mguerrajordao commented on #74
I guess my main issue was because I was also trying to use it embedded on an iframe in iPython notebook. I'll see if i can serve the HTML.
Thanks

[2015-01-13 16:07] birdage opened #76 "Update readme markdown with newest updates and change log link"
@ocefpaf as discussed i think we need a change log for the versions, and we could do with updating the readme links and content.

[2015-01-13 16:13] ocefpaf commented on #76
Yes!  I will work on this.

[2015-01-13 16:16] ocefpaf commented on #74
Option 1:

[code]

Options 2:
[code]

[2015-01-14 12:49] ocefpaf opened #77 "Updates docs and examples with new features"
Create code and html as gists and add a README.md entry using http://bl.ocks.org for:

- [ ] Custom popup width
- [ ] Clustered marks
- [ ] Bootstrap glyphicon
- [ ] WMS
- [ ] Lines and multiPolyLine
- [ ] Custom template
- [ ] MapQuest

[2015-01-26 14:39] birdage commented on #71
i might suggest geojson, suggest looking at this [link](https://github.com/python-visualization/folium#geojsontopojson-overlays), and a quick google search got me the boundaries [here](https://github.com/ssoper/zip-code-boundaries)

[2015-01-26 16:09] #76 closed

[2015-01-26 16:13] birdage opened #79 "Add time slider test"
id like to see a time slider widget added to the map interface for makers that move, id like to see this also applied to data layers so a user can step through time.

something like this:

http://recallfx.github.io/LeafletPlayback/examples/example_2.html#
![screen shot 2015-01-26 at 11 12 59 am](https://cloud.githubusercontent.com/assets/547228/5902897/5d6fba28-a54c-11e4-963c-1d7a5fb19890.png)

ht

[2015-01-26 16:22] ocefpaf commented on #71
@ribonoous That is a great question.  However, that kind of question should be in a mailing list and not as an issue here.  Issues are eventually closed and the question is lost.

This is our fault!  We do not have a mailing.

For now I recommend you to post your question in the "http://gis.stackexchange.com/" and tag both folium and this issue URL.

Thanks.

[2015-01-26 16:22] #71 closed

[2015-01-26 17:04] ocefpaf commented on #2
Polylines (#14) and multi_polyline (#73) were implemented, closing this issue.

[2015-01-26 17:04] #2 closed

[2015-01-27 15:42] jboynyc commented on #79
+1 That would be great.

[2015-01-27 15:48] jboynyc opened #80 "Markers on layers"
Enhancement request: It would be great to have an option added to the various `_marker` functions to add markers to specific layers that can then be shown or hidden on the final map ([like this](http://leafletjs.com/examples/layers-control.html)).

[2015-02-03 11:35] ocefpaf opened #83 "Check if we can make all href protocol agnostic"
folium maps do not work properly when hosted in a https protocol:

`https://ocefpaf.github.io/python4oceanographers/blog/2015/02/02/cartopy_folium_shapefile`

`http://ocefpaf.github.io/python4oceanographers/blog/2015/02/02/cartopy_folium_shapefile`

[2015-02-03 14:18] birdage commented on #83
@ocefpaf can confirm i have the same issue

[2015-02-03 14:32] wrobstory commented on #83
Can prooooooobably just take out any hardcoded `http` and replace with `//`, like in this PR: https://github.com/wrobstory/vincent/pull/133

[2015-02-03 14:34] ocefpaf commented on #83
Tried that and I either missed one or felt into the probability tail :grimacing:  I will have a PR later today.

[2015-02-03 17:11] ocefpaf commented on #83
Here is what I learned so far:

- I missed a few "http" in my first try (everything inside `folium/templates/tiles/`) and now basic maps work with https (e.g: [mapa.html](https://dl.dropboxusercontent.com/u/4411725/mapa.html) and [mapa2.html](https://dl.dropboxusercontent.com/u/4411725/mapa2.html)).  I had to browse to https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js and manually authorize the b

[2015-02-03 23:01] themiurgo opened #85 "Accept str/file objects, not only filenames in geo_json"
In `map.geo_json` the parameter `geo_path` is supposed to be a filename which containes the geojson to be shown. Because of that, it is impossible to visualize geojson objects that are not contained in files. I realized this as I was trying to view several GPS trajectories not contained in files.

I propose to change this behavior so that geo_json accepts also geojson strings or fileobjects. In th

[2015-02-03 23:04] themiurgo commented on #85
Ouch, just realized that there's a geo_str parameter, sorry! Closing this.

[2015-02-03 23:04] #85 closed

[2015-02-05 03:09] wckoeppen commented on #55
@birdage whoops! sorry, somehow I missed seeing this. Here's the ipython notebook:
https://github.com/wckoeppen/bering-seabird-vulnerability/blob/master/bin/Bering%20Seabirds.ipynb

The geogson is in the second cell.

(But don't judge me on my terrible loops and other bad coding practices, I'm new.)

[2015-02-05 14:20] birdage commented on #55
@wckoeppen ALL THE JUDGEMENT! (kidding, ill take a look)

[2015-02-21 01:22] achourasia opened #86 "Add custom html and JS to output html page"
Is there a way to add custom HTML and JS to the output page? Something like following would be nice, for example

    my_before = '<script> abc ... </script>'
    my_after = '<p> Arctic Ocean</p>'
    create_map('abc.html', plugin_data=True, before=my_before, after=my_after)

[2015-02-24 19:28] ocefpaf commented on #86
Hi @achourasia,

Sorry for the delay to answer.  One way of doing this is with custom templates like this:

[code]

To create your own template use the [default](https://github.com/python-visualization/folium/blob/master/folium/templates/fol_template.html) template as a starting point.

[2015-02-24 19:28] #86 closed

[2015-02-26 18:36] achourasia commented on #86
thanks

[2015-02-26 18:41] ocefpaf commented on #86
@achourasia let me know if that works for you.

PS: You had `my_after = '<p> Arctic Ocean</p>'` in your example and, as an oceanographer, you got me curious about what you are building.  If it is something you can share let me know.  We might use your application as an example on how to use custom templates :grimacing:

[2015-02-26 18:42] achourasia opened #87 "colormap not being applied to geojson"
Colormap is not being applied to the geojson? the polygons keep appearing black, although legend shows the correct color bar.

    print my_data
    map_1 = folium.Map(location=[cy, cx], zoom_start=8,)

    #add origin marker
    #map_1.polygon_marker(location=[cy,cx], popup=str(r))

    map_1.geo_json(geo_path='p.json', data=my_data, data_out='data.json',
                   columns=['id', 'value'

[2015-02-26 18:48] achourasia commented on #86
I am toying with seismic data, but don't have all pieces working yet, will send you a note when have something usable. I will dig into template stuff once a core issue is resolved. BTW, if you have an example to pass user input back and forth using Flask that would be nice. My current setup is bit crummy where the map and geojson needs to load every time rather than just changing colors based on s

[2015-02-26 18:53] ocefpaf commented on #86
That sounds like an interesting application.  I do not have experience with Flask, but I am trying to learn to do something similar.  I'll ping you if I get a working example.

[2015-02-26 23:18] birdage commented on #86
@achourasia got lots of experience with flask, tell me what the plan is and im sure i can whip up an example

[2015-02-27 02:00] achourasia opened #88 "Flask example with interaction widgets"
Lets create an example where we interact with the generated map with Flask as backend server. The idea is demonstrate example where you could seamlessly modify the map information via provided user interface,

Say we create a Choropleth of US state as GeoJson
a) Create a range slider to select a state from 1 to 50, the selected state will get highlighted with a different color.
b) Simulate a value

[2015-02-27 02:01] achourasia commented on #86
@birdage Great, I created a new issue for this, feel free to edit and modify the scenario https://github.com/python-visualization/folium/issues/88

[2015-02-27 10:01] ocefpaf commented on #86
@birdage Wait... my partner in crime is a flask expert and I did not know!  We need to talk more :stuck_out_tongue_winking_eye:

[2015-02-27 16:06] ocefpaf commented on #87
Can you send your GeoJSON so I can do some testing?  Does [our example](https://github.com/python-visualization/folium/blob/master/examples/choropleth_states.py) working for you?

[2015-02-27 22:45] achourasia commented on #87
I found something odd in my_data, those ID's are not present in geojson, no wonder the color scale is not applied. I will post back after further debugging. Thanks for your willingness to look further.

[2015-02-27 23:56] ocefpaf commented on #87
Glad to help.  Closing the issue.

[2015-02-27 23:56] #87 closed

[2015-03-01 17:21] themiurgo commented on #46
Leaflet has a fitBounds method to accomplish this. It would be great to integrate it into folium, so that the map is redrawn to include every object or a group of them.

[2015-03-02 15:10] birdage commented on #46
@themiurgo i agree, i thought there was a method to reset the location? ive always know the location when ive created the map, but it would be helpful not having to do that, and to just call a function to do it for you!

[2015-03-02 15:39] birdage commented on #88
@achourasia i was thinking about this over the weekend.  I think the above description is actually outside the scope of the folium project, if you wanting to use flask to serve data via a map interface in the above described way i would actually skip folium and go straight to a JS leaflet map/UI with a flask backend, leveraging a geo json/jsonp response. Folium is great for simple map plotting but

[2015-03-02 15:42] birdage commented on #80
@jboynyc yeah this would actually be pretty kool. :+1:

[2015-03-02 17:02] achourasia commented on #88
Thanks for the thought and links. Yes going directly from FLASK or for that matter any server to leaflet is a good idea. The key reason for me to use Folium is have everything could be shipped as a Python app and no need to mess around with JS, etc. While Folium concept is nice, but anything dynamic requires server support and it does not have to be a heavy application. The examples I mentioned ab

[2015-03-02 17:05] birdage commented on #88
@achourasia i think its out side the scope for right now, unless you did one of the options above, i.e button to reload the map with different data in it, or load all the data then just select which layer to use.

Will close for now, but certainly reopen or generate new issues if you have any.

[2015-03-02 17:05] #88 closed

[2015-03-03 20:12] psychemedia opened #89 "Support for categorical/discrete colour maps in map.geo_json()"
The colour mapping when generating choropleth style maps is based around d3.js colour brewer sequential scales.

When generating thematic maps based on a categorical variable (such as election prediction or outcomes by party), it would be convenient to be able to pass in a colour map as a dict that maps `{'colvar1':color1, 'colvar2':color2, ..., 'colvarN':colorN}`

One option would be to support c

[2015-03-06 04:25] wrobstory opened #90 "IPython Notebook 3.0.0 Support"
As far as I can tell, none of the examples in folium_examples.ipynb work in IPython/Jupyter Notebook 3.0.0.

I'm going to have to sort this one out soon.

[2015-03-06 04:27] wrobstory commented on #90
Ok, this isn't true- it's still working, just a little wonky. Let's leave this ticket open as "Make folium a little more Notebook friendly"

[2015-03-06 04:39] pybokeh commented on #90
I'm using Python 3.4 in virtual environment and ran the script from the terminal console. The html renders with Firefox, but not with Chrome or Chromium.  I then ran the script within IPython notebook 3.0/Jupyter and same thing.  html renders in Firefox, but not Chrome or Chromium.  Can someone else try to duplicate this?  Thanks!

[2015-03-06 15:39] ocefpaf opened #91 "Consider adding esri plugins"
@birdage what do you think?

http://esri.github.io/esri-leaflet/

Is this something you would like to tackle?

Here is an example of the possibilities:
http://gcoos.org/products/maps/gulf_gliders/

[2015-03-06 17:44] ocefpaf commented on #91
Or maybe we can just do this,

http://nbviewer.ipython.org/gist/ocefpaf/2429320eae4265253c71

and avoid bloating folium with methods/plugins?

[2015-03-06 18:07] birdage commented on #91
i would say lets just add items to the base layer list....simple and works

[2015-03-06 18:45] ocefpaf commented on #91
OK.  I was +0.5 and you :-1:, so lets close this.

[2015-03-06 18:45] #91 closed

[2015-03-06 18:47] birdage commented on #91
@ocefpaf we might want to option in the api to add a `base layer` rather than a straight wms layer, radial vs checkbox list on the layer controls, but thats a minor.....

[2015-03-06 18:50] ocefpaf commented on #91
Makes sense.  Right now I think we support only 1 base layer, correct?

[2015-03-06 18:53] birdage commented on #91
correct

[2015-03-11 21:32] ocefpaf commented on #90
Lets start listing what is wonky so we can tackle this.  I can on my machine running: ipython3, latest folium checkout, and chromium:

- The images seems "out of focus."
- Maps using the geo_json template seems to be shifted to the left.

PS: @pybokeh can you open a separate issue and provide a [SSCCE](http://sscce.org/) for you case?

[2015-03-11 22:24] pybokeh opened #92 "Generated Choropleth Map html does not render with Chrome or Chromium, but renders with Firefox"
When executing the choropleth map examples from folium's main page, the resulting html file doesn't render the map in Chrome or Chromium (just blank white screen), but renders ok in Firefox.

PC: Xubuntu 14.10 32-bit
Python 3.4.2 virtual environment via conda version 3.9.1
Firefox: version 36.01
Chrome: Version 41.0.2272.76
Chromium: Version 41.0.2272.76

Here is the script that I ran:

    import

[2015-03-11 22:26] pybokeh commented on #90
Sorry about leaving out what script I was running.   See issue #92

[2015-03-12 17:55] ocefpaf commented on #92
Your example worked fine here with Chromium 40.0.2214.111.

Quick question: are you opening the file or serving it?   If opening it see #72.

[2015-03-12 17:55] #92 closed

[2015-03-12 23:04] pybokeh commented on #92
OK, at the terminal, I executed: python -m http.server 8000 in the folder that contains my HTML file.

Then with all 3 browsers (Chrome, Chromium, Firefox), the map renders, but without the states shaded according to their population.  So basically, a US states map with no coloring.

But if I view the HTML offline using Firefox, the map is rendered with the 50 states colored or shaded.  This is ve

[2015-03-12 23:21] ocefpaf commented on #92
Based on:

[code]

I am guessing you are loading `us-states.json` from your `~/Downloads` directory, but you are working from another directory, correct?

This is served HTML and you need relative links to find stuff.  I recommend placing everything in the same directory to avoid this.

[2015-03-12 23:45] pybokeh commented on #92
Hmm, not sure what I did wrong.  I downloaded the map json and population data into the Downloads folder and ran the example script from my ipython notebook server which generated the html file into the Downloads folder.  So, shouldn't that mean all my files were in the same directory?  Then I ran the http.server off of the Downloads folder.  I guess I can try running the script in a standalone py

[2015-03-12 23:58] pybokeh commented on #92
OK so I re-downloaded us-states.json into my Downloads file.  Re-downloaded the unemployment csv file into my Downloads file.  Then created a python script called f.py with the following contents:

    import folium
    import pandas as pd

    state_geo = '/home/pybokeh/Downloads/us-states.json'
    state_unemployment = '/home/pybokeh/Downloads/US_Unemployment_Oct2012.csv'

    state_data = pd.re

[2015-03-13 08:46] ocefpaf commented on #92
As I said above you need relative links.  Drop the `/home/pybokeh/Downloads/` in your scripts and let me know if that works for you.

[code]

[2015-03-13 09:06] pybokeh commented on #92
Aaaaahh sorry now I get what you mean!
On Mar 13, 2015 4:46 AM, "Filipe" <notifications@github.com> wrote:

[2015-03-13 09:31] ocefpaf commented on #92
No worries. That just tells me one thing: "We need better docs."

[2015-03-13 09:39] pybokeh commented on #92
Yeah I didn't expect that I would have to modify the resulting html or make
sure it is not referencing things with paths local to a specific machine.
I guess I expected the example to work straight out-of-the-box and my lack
of experience with web development didn't help either.  Sorry for the extra
issues that were generated that I caused.
On Mar 13, 2015 5:31 AM, "Filipe" <notifications@github.c

[2015-03-17 17:40] fgcartographix opened #97 "cdn from Cloudflare aren't loading correctly"
Leaflet.js, leaflet.css and the markercluster plugin aren't loading.

In the my console, I have
[code]
but when I replace them with the leafletjs.com version, it's working again...

[2015-03-17 17:44] fgcartographix commented on #97
It working when I manually add "https://cdnjs.cloudflare.com" instead of "//cdnjs.cloudflare.com"

[2015-03-17 20:15] ocefpaf commented on #97
Are you opening the file or serving it? If opening it see #72.

PS: HTMLs are meant to be served via http/s.  It can be with a side-salad if you wish :stuck_out_tongue_winking_eye:

[2015-03-17 20:15] #97 closed

[2015-03-20 01:13] samzhang111 opened #98 "Support for HTTPS/SSL"
I spent a bit of time trying to figure out why my map wasn't rendering inline in ipython notebook following these examples: http://nbviewer.ipython.org/gist/bburky/7763555/folium-ipython.ipynb. The problem is that I was running ipython notebook over https, and ssl isn't available for OpenStreetMap's public tiles.

Stamen makes SSL tiles freely available (http://maps.stamen.com/, ctrl-f ssl):

Perh

[2015-03-20 09:57] ocefpaf commented on #98
Hi @samzhang111,

Thanks to @apatil  (see PR #93) almost all the javascript is already loaded over https when available.  I will take a look to see what's left.

[2015-03-21 01:57] samzhang111 commented on #98
Actually it looks like this is identical to #83, since this is about map tiles. Stamen can handle being served over protocol agnostic URIs, not sure about the other ones.

[2015-03-22 22:44] ocefpaf commented on #83
PR #93 fix this for all the JavaScript.  Checking for the tile URLs now (#98).

[2015-03-22 22:44] #83 closed

[2015-03-23 14:44] #49 closed, assigned to ocefpaf

[2015-03-23 16:55] ocefpaf commented on #98
@birdage and @apatil The post below by Paul Irish made me wonder if we should just for HTTPS scheme everywhere.

http://www.paulirish.com/2010/the-protocol-relative-url/

What do you think?

[2015-03-23 16:57] birdage commented on #98
@ocefpaf what are the downsides?

[2015-03-23 16:59] ocefpaf commented on #98
Dunno!  My web expertise is == 0.  That's why I am asking for help  :stuck_out_tongue_winking_eye:

[2015-03-23 17:04] samzhang111 commented on #98
Downsides are not all the map tiles support https. Only stamen does out of the box, as far as I know. Mapbox and leaflet can with a paid API.

[2015-03-23 17:06] ocefpaf commented on #98
Thanks @samzhang111!  With that info we now know that forcing https is a no no!  Let me go back and work start working on some more "agnostic-ing."

[2015-03-26 21:01] jdavidheiser commented on #90
I'm seeing something really odd happening - random tiles get shifted upward by a constant amount.  Also, polygons markers are working, but regular points are not.

    import folium
    from IPython.display import display
    folium.initialize_notebook()
    map_1 = folium.Map(location=[45.372, -121.6972],tiles='Stamen Terrain')
    #    won't display marker
    map_1.simple_marker([45.3288, -121.

[2015-03-30 02:02] jesserobertson commented on #90
I've noticed the issues with iPython.display.display as well.

Embedding the map in an IFrame manually fixes all of @jdavidheiser 's problems (see e.g. the display function below). Is the problem in the iPython.display library?

[code]

[2015-04-01 04:15] eriknylander99 commented on #50
I'm still having this issue with pip install folium. Any chance of pushing out an update?

[2015-04-01 10:15] ocefpaf commented on #50
@eriknylander99 we are due for a new release!  @birdage and @wrobstory I am preparing 0.14 today unless you have any objections.

[2015-04-01 18:23] wrobstory commented on #50
Nope, go for it! I'll keep an eye out, so I can advertise the release on the twitters.

[2015-04-01 19:20] ocefpaf commented on #77
iconTest image link is broken in the `README` http://cl.ly/image/2b0l1K0v370P/icon_test.png

[2015-04-01 19:41] ocefpaf commented on #50
@eriknylander99 here it is:

https://github.com/python-visualization/folium/releases/tag/v0.1.4

and PyPI:

https://pypi.python.org/pypi/folium

Let me know if your problems do with the Templates go away with this update.

[2015-04-02 00:29] eriknylander99 commented on #50
Filipe,
It works perfectly! Thank you so much for going ahead and pushing the
release out.

On Wed, Apr 1, 2015 at 3:41 PM, Filipe <notifications@github.com> wrote:

[2015-04-02 11:31] ocefpaf commented on #50
No problem @eriknylander99 we need a little nudge every now-and-then to get things done :wink:

[2015-04-08 17:12] achourasia opened #100 "Geojson popup content not showing up"
I have a geojson (tri.json) which has polygons with popup content. When I plot it with folium as follows, the popup does not work. If I import my json at [geojson.io](http://bl.ocks.org/d/2f2489bb1bfb94650b21) the popup works fine.

What may be going wrong?

**tri.py**
[code]

**tri.json**
[code]

[2015-04-08 18:46] birdage commented on #100
@achourasia is the geojson in the right location, id pop open the inspector and see if you have a 400 error or not found for the geojson file.

[2015-04-08 18:50] achourasia commented on #100
Yes, I can see the triangle on the map, but nothing happens when I click on the triangle.

[2015-04-08 18:56] birdage commented on #100
@achourasia i dont see anything immediately apparent in the code relating to tooltip
https://github.com/python-visualization/folium/blob/master/folium/folium.py#L705-L743, when looking at the geojson example you posted the bind the popup to some content (like this view-source:http://bl.ocks.org/anonymous/raw/2f2489bb1bfb94650b21/) and i dont see anything initially for that, ill take a further look

[2015-04-08 19:01] birdage commented on #100
@achourasia for the geojson layer i dont see any popup content i.e [here](https://github.com/python-visualization/folium/blob/master/folium/folium.py#L866-L867)

[2015-04-08 19:02] birdage commented on #100
@achourasia should be a simple fix...

[2015-04-08 19:03] birdage commented on #100
related to https://github.com/python-visualization/folium/issues/3 and https://github.com/python-visualization/folium/issues/6

[2015-04-17 13:07] oztalha opened #101 "Folium Map on NBviewer?"
I would like my map to be shown inside NBviewer just as in the case of [this example](http://nbviewer.ipython.org/github/urschrei/Geopython/blob/master/convert_folium.ipynb) (`Out[18]`) or [that one](http://nbviewer.ipython.org/gist/bburky/7763555/folium-ipython.ipynb) (`Out[4]`) , but [getting a no-color map](http://nbviewer.ipython.org/github/oztalha/GeoInfluence/blob/master/analysis/Desc%20Stat

[2015-04-17 13:10] ocefpaf commented on #101
Can you send the nbviewer link?  So we can see how you are displaying the map.  Also, are you uploading the GeoJSON to the same repository?  Or loading it online from somewhere?

[2015-04-17 13:45] oztalha commented on #101
sure, the link was inside my post indeed, more explicitly here it is: http://nbviewer.ipython.org/github/oztalha/GeoInfluence/blob/master/analysis/Desc%20Stats%20of%20the%20Challengers.ipynb?flush_cache=true

[2015-04-17 13:47] ocefpaf commented on #101
OK.  Closing them.

[2015-04-17 13:49] birdage commented on #101
i can see the geojson ok here https://github.com/oztalha/GeoInfluence/blob/master/analysis/us_states.geojson

[2015-04-17 14:02] birdage commented on #101
the issue is gjson_1 is undefined in the generated map html here https://github.com/oztalha/GeoInfluence/blob/master/analysis/gov_share.html#L102
so the geojson is not displayed

[2015-04-17 14:02] ocefpaf commented on #101
@oztalha  The GeoJSON is there and it is OK.  The problem is that you are using the `embed_map` instead `inline_map`.  See the difference between them here:

"http://nbviewer.ipython.org/github/ocefpaf/GeoInfluence/blob/master/analysis/Desc%20Stats%20of%20the%20Challengers.ipynb"

inline is messy and all the HTML will be in the notebook.  Embed is more "elegant", but you need to serve all the data

[2015-04-17 14:02] #101 closed

[2015-04-17 14:06] oztalha commented on #101
Thanks for confirming, I tested embed with `src="files/{path}"` too but they also fail (see `Out[34]` and `Out[36]`). BTW, I'm on Windows (Winpython) and git bash replaces LF with CRLF when adding files. Suspected if git somehow corrupts the file, so moved the html file to a webserver, but it looks ok : http://talhaoz.com/geoinfluence/map.html

[2015-04-17 14:13] birdage commented on #101
i grabbed the html file served it locally and grabbed the geojson and removed the style (just cause) and i get it to render in leaflet, dont know what this proves other than you can plot it. more digging required!

![screen shot 2015-04-17 at 10 12 33 am](https://cloud.githubusercontent.com/assets/547228/7203685/5b12aa46-e4ea-11e4-8df9-4b339d08e8cd.png)

[2015-04-17 14:35] oztalha commented on #101
Thanks, with a clear test, this works now ! http://nbviewer.ipython.org/github/oztalha/GeoInfluence/blob/master/analysis/Folium%20Notebook%20Test.ipynb

[2015-04-17 15:11] birdage commented on #101
No worries glad we could help!

[2015-04-17 17:04] oztalha commented on #100
so, is there another way to add popupcontent  to geojson polygons, Having an optional third element in the columns argument (used with pandas) would be great; see e.g.:

    states.geo_json( columns=['state', 'shareGov', 'popups'],
                geo_path=state_geo, data=df, data_out='gov_share.json',
                key_on='feature.properties.name',
                fill_color='PuRd', fill_opacit

[2015-04-19 00:46] ocefpaf commented on #100
@achourasia Can you test PR #102 and give some feedback.

[2015-04-19 01:28] ocefpaf commented on #90
@jesserobertson and @jdavidheiser  can you report what browser are you testing?

[2015-04-20 22:17] JBaldachino commented on #30
Leaflet allows explicit z-index settings for objects, perhaps it would be a good idea to provide some access to these settings via the API?  That would be very helpful for my use case and probably be a good solution to this issue.

http://stackoverflow.com/questions/12848812/layer-ordering-in-leaflet-js

[2015-04-21 16:50] ocefpaf opened #105 "Merge fol_template.htm and geojson_template.html"
@birdage While investigating #30 I found out that several changes to `fol_template.html` are not in `geojson_template.html`, like the custom and clustered markers.

That makes me wonder if we should have only one base template and a sub-template for geojson (not sure how to do that), or only one template that works for both even if we load unnecessary java-stuff.

[2015-04-21 16:53] birdage commented on #105
this is correct i just updated the base map fol template when i made the changes, i think you are right we should have one template for these things.

[2015-04-21 17:12] ocefpaf commented on #30
The original issue reported by  @silentttone and @rgiot cannot be resolved by `setZIndex`.  If I understood the docs correctly `setZIndex` is available only to tweak tile layers.   I agree that this is a bug and, when GeoJSON is used, all markers should be on top.

[2015-04-21 19:27] ocefpaf opened #108 "MapQuest Open Aerial"
Investigate what is going on with "MapQuest Open Aerial" tiles.

[2015-04-21 20:26] ocefpaf commented on #108
We have `png` here:
https://github.com/python-visualization/folium/blob/master/folium/templates/tiles/mapquestopenaerial/tiles.txt#L1

The docs (http://developer.mapquest.com/web/products/open/map) says it should be `jpg`, but changing that did not solve the problem...

[2015-04-22 16:54] #98 closed

[2015-04-22 16:54] #30 closed

[2015-04-22 17:33] #100 closed

[2015-04-22 18:43] oztalha opened #113 "Geojson popup content from data.json or a Pandas dataframe"
This is a follow up request on #102 ; In geoJSON file I only have the polygon data (and I don't want to modify the file), which I believe is the case for most of the time for the others as well. Instead, I would like to keep popup contents in other places such as a column in a pandas dataframe or in a JSON file (e.g. it would be more convenient to modify the file produced by data_out=data.json) as

[2015-04-22 20:04] achourasia commented on #100
@birdage @ocefpaf sorry for the delay, I tried the latest master, and the popups now work. Thanks

[2015-04-22 20:07] achourasia opened #114 "Extend the ability to provide custom color table in geo_json()"
The geo_json() method only provides fixed number of color maps and upto six threshold values.
This imposes severe limitation when a custom color mapping is desired. Conceivably one could pass pass a custom color table or lookup table as a tuple for example.

Perhaps add an argument colormap = list of value, red, green, blue, opacity tuples
An option to interpolate colors will be awesome, as curren

[2015-04-22 21:32] #3 closed

[2015-04-22 23:01] ocefpaf commented on #37
@birdage I am closing this.  @silentttone issue seems to be unrelated to the notebook display like yours.  We need to pass relative size (in %) for that  (See #23).

(And I am working on your issue tight now :wink:, see #90)

[2015-04-22 23:01] #37 closed

[2015-04-23 12:29] ocefpaf commented on #31
@gbenegas  It is not possible because folium expects a one-to-one mapping with the GeoJSON.  See the notebook below:

http://nbviewer.ipython.org/urls/gist.githubusercontent.com/ocefpaf/77e20befcf9018c32fa1/raw/e0db1f9e34e535e97b815803510957b06f8bf5ed/test_choropleth.ipynb

(Sorry it took to long to answer.)

[2015-04-23 12:29] #31 closed

[2015-05-08 16:28] #22 closed

[2015-05-08 16:28] #23 closed

[2015-05-08 16:28] #108 closed

[2015-05-09 16:17] themiurgo opened #118 "Change map location to fit a specified bounding box"
Folium currently does not allow to fit the map to a bounding box, as previously noted in #46 and #29.

Leaflet does provide a fit bound method that folium can use.

[2015-05-10 18:57] #118 closed

[2015-05-10 19:24] themiurgo opened #120 "Support GeoJSON simplestyle"
It would be great to support GeoJSON simplestyle (https://github.com/mapbox/simplestyle-spec), as it already happens in geojson.io and GitHub.

[2015-05-11 14:41] themiurgo commented on #105
I agree. I think this is a result of the fact that geojson is considered in folium to be used mostly as an overlay (from the docs: "Folium allows you to plot a GeoJSON or TopoJSON overlay on the map").

This is generally false, and recently it's not uncommon to have find marker features, lines, and polygons encoded as geojson (as shown in [geojson.io](http://geojson.io) and [GitHub](
https://help.

[2015-05-11 14:52] ocefpaf commented on #105
@themiurgo that sounds interesting and, after reading #120, I can see the appeal.  The HTML looks much clearer.  However, if I understood it correctly, all GeoJSON would be embedded in the HTML, right?  I guess that some people appreciate the fact that can have a separate file for the GeoJSON.  Still, that does not stop us from implementing something for makers, lines, polygons and etc.

Agreed.

[2015-05-11 15:37] themiurgo commented on #105
Yes, although #120 is related, what I mean here is related to the types fragmentation in folium. In Leaflet there is a thing as Feature, and you can have popups on it. In Folium each feature is handled very differently, so you end up having popups in markers but not in geojson or lines (for example) and you need to replicate code to obtain the same behaviour. GeoJSON suffers this particularly much

[2015-05-11 22:41] ocefpaf commented on #105
We are all volunteers here so do not worry about "officially commit to it" :wink:

Glad folium is of value for you and that your work is making the code base better.  If what you are doing is open and publishable do you mind sending as a preview?  I would like to start an examples page for folium docs.

[2015-05-11 22:44] themiurgo commented on #105
At the moment not having much open / publishable unfortunately, but will definitely send something if this changes.

[2015-05-11 22:50] ocefpaf commented on #105
BTW: I am all for that!  I just don't have to time now.  But anything you throw at us will be review with care :stuck_out_tongue_winking_eye:

[2015-05-12 04:12] ozak opened #123 "Tile Layer Missing options"
Hi,

I tried using the ``add_tile_layer`` command, but noticed there are many options that one would like to pass which are not available. See [here](http://leafletjs.com/reference.html#tilelayer) for possible options.

[2015-05-12 12:36] birdage commented on #123
hi @ozak, this was a basic implementation of a WMS tile layer, feel free to add to it and give back to the community if it does not meet your needs

[2015-05-12 12:45] ozak commented on #123
@birdage That was precisely my idea!

[2015-05-12 12:46] birdage commented on #123
@ozak love it! :beers:

[2015-05-12 14:53] ozak commented on #123
@birdage I just added the missing options.

On another front, is there a way to choose which projection to set the map if one wants to use e.g. OSM? From what I see, it seems to start using spherical mercator, but I'd like to be able to change that. Any pointers?

[2015-05-12 14:54] birdage commented on #123
@ozak there is a plugin here https://github.com/kartena/Proj4Leaflet to do just that but i dont know if it does it out the box

[2015-05-12 17:30] ocefpaf opened #125 "Check the possibility of implementing Leaflet.TimeDimension"
https://github.com/socib/Leaflet.TimeDimension

[2015-05-12 17:34] birdage commented on #125
@ocefpaf i think i prefer this to the other one i was looking at

[2015-05-12 17:42] ocefpaf commented on #125
Yeah.  I wanted to discuss that with you before doing anything. (@rsignell-usgs brought that one up yesterday and got me thinking...)

I will see what I can do.

[2015-05-12 18:11] jdavidheiser commented on #90
sorry for the delayed response - I saw this in both Firefox and Chrome on Mac OS X.

[2015-05-12 19:57] themiurgo opened #126 "Automatic location / zoom"
Now that we have `fit_bounds` implemented, we could make the initial `location` parameter optional, and have leaflet automatically figure out an optimal location / zoom to include all the added features (calling fit_bounds on an automatically computed bounding box). This would make plotting some unknown features on iPython notebook quite convenient:

       # Here other features get added, and fol

[2015-05-12 20:04] ocefpaf commented on #126
I am :+1:

I don't see any obvious problems.  @birdage what do think?

[2015-05-12 20:06] themiurgo commented on #125
Yes, this looks nicer. :+1:

[2015-05-13 13:08] birdage commented on #125
@ocefpaf i think we/i will do an initial eval of getting it in but there is a larger question of plugins etc

[2015-05-13 13:10] birdage commented on #126
i like it!

[2015-05-13 13:15] ocefpaf commented on #126
And 3 makes a crowd! @themiurgo do you have a PR for that :wink: ?

PS: We should talk about adding you officialy to the project.

[2015-05-13 13:16] ocefpaf commented on #125
Yes, I have been avoiding that...  I tested a few designed and they all failed to be "generic enough" for the majority of the Leaflet plugins.

[2015-05-13 13:23] themiurgo commented on #125
@ocefpaf do we have a minimal list of plugins that are diverse enough to cover the different ways they are implemented? Having this list could be helpful to try to come up with a generic solution.

[2015-05-13 13:26] themiurgo commented on #126
Not yet, but it will come soon. :smile:

Great, hopefully I can be of help!

[2015-05-13 13:32] ocefpaf commented on #126
We have only one rule.  Avoid self merges :stuck_out_tongue_winking_eye:

[2015-05-13 13:33] themiurgo commented on #126
Makes sense! 2 set of :eyes:  >> 1.

[2015-05-13 13:40] ocefpaf commented on #125
Yes and no.  Both @birdage and I have that list in our minds.  I will start an issue listing that so we can proceed.  Thanks!

[2015-05-13 13:59] ocefpaf opened #127 "List of plugins that we would like to see in folium"
- Leaflet.TimeDimension
- http://esri.github.io/esri-leaflet/
- https://github.com/aparshin/leaflet-GIBS (http://aparshin.github.io/leaflet-GIBS/examples/#2/18.3/13.4)
- https://github.com/heigeo/leaflet.wms
- https://github.com/joergdietrich/Leaflet.Terminator
- https://github.com/perliedman/leaflet-realtime
- http://arthur-e.github.io/Wicket/
- https://github.com/mapbox/leaflet-omnivore
- https:

[2015-05-14 17:48] themiurgo commented on #127
Great list, thanks! Isn't wicket redundant, considering Leaflet.Omnivore handles WKT?

[2015-05-14 17:53] birdage commented on #127
@ocefpaf ive worked with esri leaflet and wms and i think they would be easy to add, we might need some more functions and classes to support them tho

[2015-05-14 17:55] ocefpaf commented on #127
I am not a `Wicket` user, but a colleague recommend it to me.  We can probably cross it out.

@birdage Adding just the layer is easy and I do not thing we should support that.  I put it there just remind myself to read the docs and check what else ESRI has to offer.

[2015-05-14 18:12] birdage commented on #127
@ocefpaf wicket is great! there are a whole host of esri options that are supported as part of the layer i.e queries.

[2015-05-14 18:16] ocefpaf commented on #127
Interesting.  Lets keep it there then!

[2015-05-15 01:57] fivejjs opened #129 "on windows 7: TemplateNotFound: tiles\openstreetmap\tiles.txt"
I am trying:
[code]

[2015-05-15 04:45] fivejjs commented on #129
Modify code as below can make jinja2 find the templates:
line 165 of folium.py change to:
[code]

[2015-05-15 10:21] ocefpaf commented on #129
What version of folium are you using?  This was fixed in #63 some time ago.  I am closing this for now.  Feel free to re-open it if you are experiencing this with the latest release.

Thanks.

[2015-05-15 10:21] #129 closed

[2015-05-18 13:32] foebu opened #130 "Add width option to _popup_render for cicle_marker"
Hello,
I noticed that the `cirle_marker` is missing the `width` option when calling the `_popup_render` method.  The `simple_marker` has it. It would be a simple addition I suppose, and ti might be useful.

Regards,
Francesco

[2015-05-18 13:34] birdage commented on #130
@foebu `circle_marker` uses radius instead see http://nbviewer.ipython.org/github/python-visualization/folium/blob/master/examples/folium_examples.ipynb for an example

[2015-05-18 13:36] ocefpaf commented on #130
Thanks for reporting this.   It is a low hanging fruit, but I am away from
my laptop for the next 2 weeks.  I will take a look once I get back.
(Unless you want to send a PR ;-)
Em 18/05/2015 10:32, "foebu" <notifications@github.com> escreveu:

[2015-05-18 13:52] ocefpaf commented on #130
Andrew, I believe he means the popup and not the marker. Correct?
Em 18/05/2015 10:34, "Andrew Bird" <notifications@github.com> escreveu:

[2015-05-18 14:16] birdage commented on #130
@ocefpaf yes, i re-read the question and adjusted me comment.... :smile_cat:

[2015-05-18 16:54] foebu commented on #130
I knew I wasn't messing around with git, I would :)

[2015-05-18 22:38] themiurgo opened #131 "Redundant popup_on?"
What's the reason for having the parameter `popup_on` on features? In which cases is it useful? To me it seems sensible that if a popup text is passed one wants a popup and otherwise it should be off.

At the very least we should enable a popup if text is passed and disable the popup if no text is passed. Provided that it is useful, the parameter can be maintained to force behaviour (for example s

[2015-05-19 02:25] ocefpaf commented on #131
Yes. Makes sense.

Actually, after reviewing one of your PRs recently, I came to the same
conclusion.  Not sure if @robstory had a reason for that design. We can
address that in a PR and keep discussing there.

(I am away from my laptop for while. If want to implement the PR go ahead,
otherwise I can do this once I get back.)
Em 18/05/2015 19:38, "Antonio Lima" <notifications@github.com> escreveu:

[2015-05-19 05:09] andreabedini opened #132 "TemplateNotFound: leaflet-dvf.markers.min.js"
Trying to evaluate the cell

[code]

in an iPython notebook (3.1 on py3.4) fails with

[code]

folium is installed with `pip install -e . ` from a git checkout, perhaps that's causing the issue.

[2015-05-19 05:50] andreabedini commented on #132
Update: fixing the above problem is easy

[code]

but now I get a obscure message

[code]

[2015-05-19 14:13] themiurgo commented on #131
I have a PR handy. :)

[2015-05-19 14:15] ocefpaf commented on #131
Thanks!
Em 19/05/2015 11:13, "Antonio Lima" <notifications@github.com> escreveu:

[2015-05-19 20:59] psychemedia commented on #80
+1 Being able to place markers onto separate layers based on a categorical column value in a pandas dataframe would also be handy. So eg a column `df['layercol'].unique() -> ['layer1','layer2']` that is then used to place corresponding markers onto an appropriate layer?

[2015-05-19 21:22] themiurgo commented on #80
@psychemedia Nice suggestion. AFAIK at the moment folium does not support direct import of markers from a pandas dataframe (unless it's geojson, maybe, haven't tried that). So for that to happen we would need to implement pandas importing first.

[2015-05-20 15:49] themiurgo opened #135 "How to use folium with iPython / Jupyter notebook"
As far as I know there are two approaches for using folium inside a notebook:
- use folium.initialize_notebook()
- use inline_map / iframe.

What is the preferred way?

Several bugs are associated to the first (a quick search listed #90 , #44 , #132 ). Is there any advantage in using the first approach over the second? I tried to look for an answer in the issue tracker but did not find any.

Is th

[2015-05-21 16:29] nygeog opened #136 "TemplateNotFound: leaflet-dvf.markers.min.js"
![screen shot 2015-05-21 at 12 23 00 pm](https://cloud.githubusercontent.com/assets/2790599/7753563/3ac7868c-ffb4-11e4-8171-ad65daa8c2e3.png)

I have the leaflet-dvf.markers.min.js in the folder with the ipynb's - not sure why this error is showing up.

[2015-05-21 17:34] themiurgo commented on #136
Duplicate of #132 . Closing.

[2015-05-21 17:34] #136 closed

[2015-05-22 00:58] ColeTownsend opened #137 "CDN links are broken."
The links below work, the ones that folium by default builds with doesn't seem to work for me.

[code]

[2015-05-22 19:13] ocefpaf commented on #137
Which version of folium are you using?  I cannot reproduce your issue. I am closing this but feel free to re-open if you cannot get latest folium to work for you.

BTW: The latest folium version enforces HTTPS.  It should display nicely though on both HTTP/HTTPS schemes.

[2015-05-22 19:13] #137 closed

[2015-05-22 19:13] ColeTownsend commented on #137
Ah sorry man! It works fine when I spin up a local server, but just looking at it locally (i.e. as a file in safari) it doesn't work.

[2015-05-22 19:15] ColeTownsend opened #138 "Request: Additional file input"
It would be awesome if you could insert a CSS file when building this to style the page a bit. Or add additional elements to the webpage itself.

This is my workaround for now:

[code]

[2015-05-22 19:16] ocefpaf commented on #137
We used scheme agnostic URLs before and that was to support both HTTP and HTTPS.  But latest version enforces HTTPS and that should work on everything, including File:// scheme.

[2015-05-22 19:55] ocefpaf commented on #138
:+1:  for an option for a "full" CSS override in case you do not want to use the default.

:-1:  For supporting additional elements.  That would bring a complexity that is beyond the scope of folium.  And you can always edit the HTML later :wink:

Is this something you might want to take a stab at?

[2015-05-22 19:59] themiurgo commented on #138
At some point we will probably need to define some template areas where we can inject some elements for the plugin feature #18 , for example "headers". Maybe we can make those methods public and allow people to import their own `<script>` or `<style>`.

[2015-05-22 20:04] ColeTownsend commented on #138
@ocefpaf Is it beyond the scope? It already creates a map element that is its own HTML page. It wouldn't be a horrible option and would be super useful for titles. As I'm programmatically building multiple maps, I don't want to hand write any of the files.

One could presumably import the map file into a more robust page. I'm serving them as their own pages individually.

Ex: http://coletownsend.g

[2015-05-22 20:15] ocefpaf commented on #138
@ColeTownsend I can be convinced otherwise, but right now I am biased towards keeping folium simple and solving some more pressing issues we have.

Still, if you send a PR and some nice arguments, we can keep talking and evolving this idea.  It seems that @themiurgo even has a model for this in his head already :wink:

So lets keep this issue opened.

[2015-05-22 23:40] ColeTownsend commented on #137
Woo thanks!

[2015-05-24 23:03] ocefpaf commented on #135
@themiurgo that is a long standing issue that we need to address!  The latest version of the Jupyter/IPython Notebook renders the HTML by itself, no need for `folium.initialize_notebook()`.

(I haven't test this though.  That is what I gathered from other users and colleagues.)

Maybe we should focus on making this object more "Jupyter friendly" and kill the `folium.initialize_notebook()` for good

[2015-05-24 23:58] themiurgo commented on #135
@ocefpaf Great, thanks!

I use exclusively `inline_maps` at the moment, that's why I'm asking if there's any advantage in the other approach. Ideally it would be cool to have an "automagic" way to print HTML / visualize maps (`print(fmap)`?), but we need to know whether that should produce HTML or an iframe, and what are the pros/cons of each approach. Let's keep the discussion going before we go

[2015-05-25 10:52] ocefpaf commented on #80
At @psychemedia indeed it will be nice to have a better integration between folium and pandas.  However, I would like to keep pandas as an optional dependency.  So when we implement this lets keep that in mind.

[2015-05-26 13:15] themiurgo opened #139 "Fit bounds to specific Features or FeatureGroups."
As suggested by @ocefpaf in #134 , it would be nice to fit bounds to a group of features. Implementation should follow closely Leaflet, in terms of fitting bounds to a specific `Feature` or `FeatureGroup`/`Layer`.

[2015-05-28 12:32] themiurgo opened #140 "Documentation needs to be updated"
Many new features are not documented yet.

[2015-05-28 12:33] #131 closed

[2015-05-28 12:33] #126 closed

[2015-05-28 12:50] ocefpaf commented on #140
@themiurgo I can tackle that, but can you help me put a list together:

- [ ] Autobounds
- [ ] ?

[2015-05-28 14:20] themiurgo commented on #140
Ok, I'm editing your message only to keep the items in the same place.

[2015-05-28 14:26] ocefpaf commented on #140
Thanks!

[2015-05-28 14:27] themiurgo commented on #140
It would be great to make sections about additional parameters that apply for several objects. So instead of listing `popup` parameters for each object you can pass them to, have a popup section in the documentation. Same could be done for line / fill options.

[2015-05-28 14:28] ocefpaf commented on #140
Makes sense.

(BTW I want to get the docs done for the next release.)

[2015-05-28 15:31] ocefpaf commented on #77
Closing this in favor of #140.

[2015-05-28 15:31] #77 closed

[2015-05-29 05:20] andreabedini commented on #135
is `inline_map()` documented anywhere? I still can't get folium to render anything :)

[2015-05-29 09:40] ocefpaf commented on #135
anything :)

Sorry Andrea, but the docs are so far behind that documenting inline_map()
never happen. Also, inline_map() is a workaround. We are working to in a
better way to show maps in Jupyter/IPython.

[2015-05-29 11:28] andreabedini commented on #135
@ocefpaf I understand. If it is of any help, I hacked my way around it. Here is a version that works for me andreabedini/folium@50ade07080f802eb73869f0ae51ac72e5edbcfc6.

[2015-05-29 11:48] themiurgo commented on #135
I use this: https://gist.github.com/themiurgo/f136265bdce26fbff704 and the only problem I've had is that maps disappear on consecutive reconnections to the same notebook.

[2015-06-01 02:20] andreabedini commented on #135
@themiurgo With my version that works

[2015-06-02 12:38] psychemedia opened #143 "Choropleth map stopped working?"
~~I used to be able to key into geojson files using constructions of the form `key_on='feature.properties.KEYVAL'` but this seems to have stopped working?~~  <- still works if data.json is provided...

In particular, it seems that the `data.json` file is not being created (my use case also employs a construction of the form `key_on='feature.properties.KEYVAL'`)? [In particular have some legacy cod

[2015-06-08 11:12] ocefpaf commented on #143
@psychemedia  Can you provide a [SSCCE](http://sscce.org/) to help me investigate this further?

(Sorry for the delay to answer!  I was away for a while.)

[2015-07-10 21:14] ianozsvald commented on #72
Just to note - I've been struggling for some hours to get `map.create_map...` html rendered in a browser (and was wondering about the relative links in the generated html) until I saw this thread with `python -m http.server` and realised what was going on (and now it works - great!). I think it would greatly help new users if this snippet were included in the README to help folk get started! Many

[2015-07-10 21:23] ianozsvald commented on #90
Just to note - using Python 3.4, IPython Notebook 3.4 and folium 1.4, the `display` solution in https://github.com/python-visualization/folium/issues/90#issuecomment-87512800 works for me with Firefox 39 but the `initialize_notebook` version in https://github.com/python-visualization/folium/issues/90#issuecomment-86714898 renders a white rectangle only (no map). Maybe a note on the README could po

[2015-07-10 21:23] ocefpaf commented on #72
@ianozsvald what version are you using?  We are enforcing `HTTPS` scheme now and folium should work just fine without serving the HTML.

[2015-07-10 21:27] ocefpaf commented on #90
There is no reason to change the README.  We have a bug displaying in the notebook and we have to fix it.  The  `initialize_notebook()` function is broken and the `display` function is a workaround.

[2015-07-10 22:07] jesserobertson commented on #90
Sorry for my drive-by comment & delayed response @ocefpaf. I'm using Debian with Python 3.4 and 2.7 (same for both), IPython 3.1.0 and Folium 0.1.4. I see this on Chrome and Iceweasel (basically Firefox on Debain).

Happy to help test possible solutions. I agree that my hack is a workaround and Folium should display ok with `initialize_notebook()`

[2015-07-10 22:11] ianozsvald commented on #90
@ocefpaf Hi Filipe. Fair enough. I only mention possibly noting this in the README because twice in 6 months I've had trouble with this, only now do I see that the `display` function is a workaround, previously I'd hacked around for a while somewhat fruitlessly.

[2015-07-10 22:13] ianozsvald commented on #72
@ocefpaf I'm using 1.4 (installed with `pip` today). I tried opening HTML in both Firefox 39 and Chrome 43.0.2357.132, using Linux Mint 17.2 (Ubuntu 14.04). I haven't tried with `head`, just 1.4.

[2015-07-10 22:18] jesserobertson commented on #90
Sorry browser version might help: Iceweasel 31.7.0.

[2015-07-10 22:35] BibMartin commented on #135
Quite close to @themiurgo , here is my hack for this issue :
https://gist.github.com/BibMartin/0d298c07ebbf7048ca3d

I guess having the map in an iframe avoids interaction between jupyter's javascript and leaflet's.
I have also faced cross-origin problems when the notebooks are served on https ; and the iframes seem to solve that kind of issues also.

At last, I like the possibility to choose the

[2015-07-10 22:49] BibMartin opened #145 "Implementing a good way to handle plugins"
Following the discussion with @themiurgo and @ocefpaf in PR https://github.com/python-visualization/folium/pull/144.

@themiurgo has set the question :

[2015-07-10 23:00] BibMartin commented on #145
I imagine a plugin object can have 3 or 4 methods :
* `render_css` where one can define plugin-specific styles
* `render_html` where one defines new DOM objects
* `render_js` where one defines how the plugin interacts with the maps
* eventually `render_header` where one can define external javascript imports ; yet this could be done into the HTML part (is it ugly?).

You can see examples of this m

[2015-07-10 23:08] themiurgo commented on #145
Thanks a lot! This is great, some other help with to lift the plugin effort. :)

Do you think these 3/4 methods are enough to implement all the plugins shown in #127 . If so, we might have a candidate PR from your concepts commits and then iterate from that.

[2015-07-10 23:16] themiurgo commented on #145
Also, I like a lot BibMartin@1a04692 . Did you choose the MarkerCluster example on purpose or randomly? MarkerCluster is already present in the folium base template, along with other functionalities that pollute the template. It would be great to handle it as a plugin instead, and keep the base template for the Leaflet  core functionalities.

[2015-07-10 23:25] themiurgo commented on #135
Random comment, but yesterday I found https://github.com/sandialabs/toyplot, which "Integrates with Jupyter without any need for plugins, magics, etc." (from their docs). I tried and it really works automagically. Maybe we can get some ideas on how to implement a similar thing in folium.

[2015-07-10 23:26] BibMartin commented on #145
I was having a look at them. For some (like esri, terminator, etc) I think this shall be quite easy provided that the generate code follows the scheme `header-stylesheet-body-script`. I'm not sure for all of them now, but we can start with the easiest ones and adapt the scheme when needed, don't you think so ?

I did not know that it was already present but it looked like a good example on "how to

[2015-07-10 23:31] themiurgo commented on #145
Ok, I'd say let's start a "plugin" branch here, starting from your commits, and collaborate on that. Main goals:
- perfection the plugin skeleton;
- implement as many plugins as possible from #127 ;
- remove as many plugins as possible from `fol_template`.

Once the branch is mature we'll merge back to master.

@ocefpaf, @birdage, any thoughts?

[2015-07-11 03:53] themiurgo commented on #145
Instead of having multiple methods to inject code in the template we can leverage Jinja's advanced features (http://jinja.pocoo.org/docs/dev/templates/#template-inheritance), in particular blocks.

Each plugin would only consist of a template file (html) and an (optional) class/function to set up any variables inside the template.

A base template file for all folium maps would define injection po

[2015-07-11 14:21] themiurgo commented on #145
(from the other discussion)

It's not yet clear to me how we can use Jinja for the plugins, but I think we should find a way to avoid writing html in the plugin class.

[2015-07-12 14:52] ocefpaf commented on #145
YES!!!!  I will at a look at this with special care once I get back.  @BibMartin Do not worry about perfection, this is a great start!

[2015-07-13 18:42] BibMartin commented on #145
A few thoughts from this weekend:

* @themiurgo : We can imagine a way of designing plugins using Jinja templates, and then create the plugin object based on the template's content. A draft of it is in https://github.com/BibMartin/folium/commit/475007a172ff33179e80a7f2d7b760de2dd5b91c.

* I've tried to implement a few plugins mentionned in #127, and came to the conclusion that plugins (as I had it

[2015-07-13 20:25] themiurgo commented on #145
I've thought of a more general solution. It would be advisable to have each plugin access the map object it is attached to, mainly for two reasons.
- Ensuring maximum compatibility with virtually any plugin. If each plugin has complete visibility of map object, it can know data and the operations that have been performed on it, as long as they modified the object. (Think of a plugin that has to kn

[2015-07-14 07:01] BibMartin commented on #145
I do agree with you. We can easily replace the method `Map.add_plugin` by a `Plugin.add_to_map` (and thus be closer to Leaflet's syntax). To ensure maximal compatibility/liberty, the plugin shall be able to access the map information when it is created (in the `add_to_map` method), but also when it is displayed (in a `render` method), the `render`being called when the map html is generated. I thin

[2015-07-14 13:30] andrewgiessel opened #149 "Display of raster data"
I would like to take generate a numpy array and display it as a semi-transparent layer on a leaflet map via folium.  What is the best way to do this?  I recognize that this simple sounding request could actually be quite challenging, but I'm willing to make the effort.

Can anyone point me in the right direction?  Do I really need to generate a full blown tile set using a separate webserver like T

[2015-07-14 14:02] themiurgo commented on #145
There is another problem that I see down the road, that might make some plugins harder to implement. At the moment each folium operation directly and immediately changes the template variables (for example, the list of markers), rather than storing it in a "model" and generating the template variables / the html at the end, all things considered. If a plugin is added and this plugin needs to acces

[2015-07-14 18:40] BibMartin commented on #145
You're true. Based on #148, we have *traditional* objects (markers/layers, etc) that are directly stored in the template variable `map.template_vars`, and we have plugins that are stored as objects in the dict `map.plugins`, and that have *render* methods for generating the html/css/js at the end.
And finally, everything is rendered at the same time with

    self.HTML = html_templ.render(self.tem

[2015-07-14 18:52] themiurgo commented on #145
I would be more in favour of having only one interface to add plugin ("there should be one--and only one-- way to do it") and then let the plugin code itself decide when it wants to act, putting itself in a special list `map.plugin_delayed` if it wants its rendering to happen at the end. We already have some operations that can be achieved in too many ways (like ipython notebook embedding) and it

[2015-07-14 22:56] ocefpaf commented on #149
@andrewgiessel I am unsure about the best course to implement something like this.  However, if your image is small enough, you can try `imshow`+`mplleaflet`

[2015-07-15 01:04] ocefpaf commented on #149
OK, I tried my own advice and found out it does not work.  `mplleaflet` uses `mplexporter` under the hood, and `mplexporter` does not transform images (yet).

I went ahead and hacked a simple "image overlay" that could be easily added to folium's API:

https://ocefpaf.github.io/python4oceanographers/blog/2015/07/13/interactive_geo/

Do you want to try to implement that?

[2015-07-16 17:39] yangyang2000 opened #150 "Marker limits"
Is there a limit on the number of markers that can be displayed? It seems like 50k markers shouldn't be a problem in Leaflet (http://leafletjs.com/2012/08/20/guest-post-markerclusterer-0-1-released.html), but only a fraction of the markers I specify show up. If I specify the cluster option in simple_marker, none of the markers show up.

[2015-07-17 17:43] andrewgiessel commented on #149
Wow, this is great!  Sorry I didn't respond earlier.  I am going to try to re-implement this locally and then probably take a crack at a PR.  One thing I was wondering was about transparency and that's possible!  My only question is how this might perform on a large scale (global) since it's basically not tiles.  This is very encouraging, though, thank you for the effort and I'll report back.

Inc

[2015-07-17 18:01] ocefpaf commented on #149
That will depend on the image.  However, if you can set a WMS up you can easily add that layer in a folium instance.

[2015-07-17 18:04] ocefpaf commented on #150
Can you send a [SSCCE](http://sscce.org/)?  I cannot reproduce that locally.

[2015-07-17 18:38] ocefpaf commented on #145
Indeed.  Remember that the plugin list is not a "must," it is just a list I put together based on things I like.

True.  Aim for simplicity.  All I saw so far is already better than what we have.  BTW,  we have to tag a release before this!  Since the API will change I plan to bump to 0.2.0 after the merge.

@BibMartin and @themiurgo I am late to this, but I believe folium could not be in better h

[2015-07-17 18:42] themiurgo commented on #145
Agreed!

[2015-07-17 18:42] andrewgiessel commented on #149
I might be forced to do that, but would like this for rapid visualization of geospatial fields, so if i can get it working with something simple for local purposes (even if it's not performant) that'd be great.

So, I got your example to work!  However, it doesn't seem to work with local files.  As far as I can tell [here](https://github.com/Leaflet/Leaflet/blob/master/src/layer/ImageOverlay.js#L1

[2015-07-17 18:48] andrewgiessel commented on #149
This is a slightly separate issue, but when I try to open the generated html in another tab, I get a ton of errors because all the external javascript and css references don't start with `http:`.  Shouldn't this be changed?  I can open a PR for that, later.

[2015-07-17 18:51] ocefpaf commented on #149
This is already on master.  I need to issue a new release (which I thought I did :flushed:)

Relatives paths "should" work, but I only tested them locally.  The example I uploaded I used a URL.

[2015-07-17 18:54] andrewgiessel commented on #149
I am using 0.1.4.  I'll upgrade to master here and see if that changes anything.

[2015-07-17 19:08] ocefpaf commented on #150
I just test 50k markers [here](http://nbviewer.ipython.org/gist/ocefpaf/c05b7a25d98747f63607) and everything works just fine.  So I am closing this.  Feel free to re-open if you find what is going on there.

Note that I did not upload the notebook with the resulst (>27megas!), so feel free to use that one as a test  there.

[2015-07-17 19:08] #150 closed

[2015-07-17 19:29] andrewgiessel commented on #149
First, I upgraded to master (0.1.5) and the relative path thing in the generated file is fine.

I have this working with a local file but there were two small wrinkles:

1) you aren't allowed to load any local file with an absolute path in Chrome.
2) If you use a path relative to the current notebook URL (NOT the current python path!), it is ok.  Embedding the map.html file assumes the same thing.

[2015-07-17 20:09] BibMartin commented on #145
Thank you @themiurgo and @ocefpaf  ; I'm honnored and will contribute with pleasure.
But I still feel like a begginner and will need your help.

[2015-07-17 20:40] andrewgiessel commented on #149
My notebook building off your work, for locally generated arrays.  http://nbviewer.ipython.org/99af788cf7e83b5fdcc6

this should work locally, except for the map.  Here is a screen cap:

![image](https://cloud.githubusercontent.com/assets/1160997/8756730/67e4eefa-2ca2-11e5-952d-a66dc523fcf6.png)

[2015-07-17 20:44] andrewgiessel commented on #149
I'll note one last thing about using this:  If you make a large image and have the extent cover the whole globe, then if you zoom in, at a certain level the browser cuts out the layer.  It is a known problem with a workaround (evidently) in the CSS, see [here](https://github.com/Leaflet/Leaflet/issues/2282).   I haven't tested it, because folium uses a CDN version of 0.7.3 for the .css file.

Afte

[2015-07-17 21:15] ocefpaf commented on #149
As long as we document this feature with a note with "Need optional dependency X" I am OK.  We already have a couple of features that are like that.

[2015-07-17 21:36] ocefpaf opened #153 "Proper document optional dependencies."
For the future:
- geopandas
- imageio
- shapely
.
.
.

[2015-07-17 21:38] ocefpaf commented on #145
@BibMartin just watch [this](https://www.youtube.com/watch?v=hIJdFxYlEKE) and we'll be OK :stuck_out_tongue_winking_eye:

[2015-07-19 22:46] yangyang2000 commented on #150
Thanks for the example. It seems that Folium is adding all the markers in my loop to the map. Here's the resulting html: http://s3-us-west-2.amazonaws.com/onlinereviews/leaflet/map_world.html (ignore the missing images linked in the popups have, they have not been uploaded yet). However, only a few hundred of my 65k markers are displayed on the map. Do you know if this something that is browser sp

[2015-07-21 01:52] arsturges commented on #132
+1

[2015-07-24 20:49] ocefpaf commented on #150
Not sure... and it is hard to debug/investigate this without an SSCCE.

[2015-07-26 17:30] BibMartin opened #155 "Handling external and internal dependencies"
Folium generates a web page that depends on several objects (css,js,json, data...). These objects may be :
* provided by an external web page or web service
* stored on the disk
* embeded into the HTML file

I wonder how folium shall handle that dependencies. Depending on what you need, on how you serve your web page, etc, you may be willing to have everything embeded into a single html, or to hav

[2015-07-27 15:19] themiurgo commented on #155
I'm not sure I understand this. I see two potential problems:
- plugins/resources served only on HTTP/HTTPS.
- resources available only locally (like a json file);

On the other hand I don't understand what you mean by "have every dependency downloaded when installing Folium"? If Library X is not served online, how would you install it? Please provide an example.

[2015-07-27 16:16] BibMartin commented on #155
If library X is served only on HTTP and I serve my map over HTTPS, then I can :
* Download it when I install folium (for example have `urllib` downloading it into `setup.py`, or have it in the project's requirements), though it's probably not the best solution to me.
* Donwload it when generating the map.

And once I have downloaded it ; I have the choice between
* Serve it and link to it
* Embed

[2015-07-27 18:13] ocefpaf commented on #155
Yep, that sucks... We have to face that we just cannot keep track of all URL resources.

We still have some objects that might be either stored on the disk or embedded into the HTML file.  I am one the fence here.  On one hand "embedding" would return a stand alone HTML file, while storing on disk would be "cleaner" (people keeping their HTML under version control like that).

But I digress... I t

[2015-07-27 18:58] themiurgo commented on #155
Ok, I now see what you mean.

I would make a few simplifying assumptions to avoid covering all scenarios:
- the plugin resources are available over HTTPS (for example, for Leaflet Terminator you can use https://rawgit.com/joergdietrich/Leaflet.Terminator/master/L.Terminator.js)
- resource URLs do not change (often).

It is much easier to find/ask/provide a HTTPs URL for all the plugin resources th

[2015-07-27 18:59] ocefpaf commented on #155
:+1:

[2015-07-27 19:02] ocefpaf commented on #132
Sadly `folium.initialize_notebook()`is broken right now.  We are working on a fix on #135.  Closing this to avoid effort duplication.

[2015-07-27 19:02] #132 closed

[2015-07-28 08:24] BibMartin commented on #135
@themiurgo I had a look at toyplot (which is great btw) and they use SVG for rendering and JS for animation (see `render` function in https://github.com/sandialabs/toyplot/blob/master/toyplot/html.py).
As the main visual effect we have on folium (rendering tiles) is done by Leaflet, I guess it will be hard to copy the approach.

To sum up we need a method:
* That renders properly in jupyter notebo

[2015-07-28 13:28] ocefpaf commented on #135
Indeed. Their approach is beautiful, but I cannot see how to implement those ideas in folium.

Nope!  That pretty sums what needs to be done.  Thanks @BibMartin!

Some thoughts:

- `folium.initialize_notebook()` was the original desgin by @wrobstory.  It is the same API used in `mpld3`, `bokeh`, and many other libraries that renders complex HTML in the notebook.  I think it would be nice to try an

[2015-07-28 15:36] wrobstory commented on #135
I want to page @rgbkrk to the discussion here.

Kyle, I'm honestly leaning towards recommending a move towards `iframe` to resolve some of the issues being discussed. [Initialize notebook](https://github.com/python-visualization/folium/blob/master/folium/folium.py#L31) is using the `display(HTML` stuff, but as discussed there are some nbviewer and external data source issues.

Plotly has built som

[2015-07-28 18:26] BibMartin commented on #135
As far as I undestand it (now), the main question is:
Shall we share jupyter-notebook's javascript environnement ?

### If yes
* we feel coherent with other projects (like bokeh, mpld3)
* we have the opportunity to interact with the notebook (use widgets...)
* we can fix and keep `initialize_notebook`

But
* we have to make sure not to break anything in jupyter each time we add some javascript.
*

[2015-07-28 18:42] rgbkrk commented on #135
From a light skim and a glance through docs on this library, I'm noticing that there are problems with:

* CSS encapsulation
* JS collisions between the notebook and folium (well, D3 + Leaflet)

The first (CSS) can be handled ok using a shadow DOM (this will only work in Chrome currently unless you include the polyfill on other browsers). You can address both the CSS and JS issues by using an ifra

[2015-07-29 13:55] ocefpaf commented on #145
@BibMartin with the merge of #148 and #151 I think we can close this, right?

[2015-07-29 13:55] #145 closed

[2015-07-30 13:44] foebu commented on #130
Any update on this guys?

[2015-07-30 14:54] ocefpaf commented on #130
@foebu thanks for the nudge.  See #157.

[2015-07-30 15:11] #130 closed

[2015-07-30 15:39] andrewgiessel opened #158 "Refactor image_overlay() as a plugin"

[2015-08-02 13:33] #75 closed

[2015-08-04 12:21] andrewgiessel commented on #149
closing!

[2015-08-04 12:21] #149 closed

[2015-08-04 12:23] ocefpaf commented on #29
This can be achieved with  #67 and #119.

[2015-08-04 12:23] #29 closed

[2015-08-04 12:24] andrewgiessel opened #162 "Gitter for folium"
Any interest?  @ocefpaf @themiurgo @BibMartin ?

https://gitter.im/

[2015-08-04 12:25] ocefpaf commented on #125
The plugins machinery is being re-invented in #160 and the Leaflet.TimeDimension example is implemented in https://github.com/BibMartin/folium/commit/032537ca35705c5ba876fd8c98c45ec01e643b9a.

[2015-08-04 12:25] #125 closed

[2015-08-04 12:28] ocefpaf commented on #162
I am not a big fan of gitter, but I do not see the harm of having one.

[2015-08-04 12:48] andrewgiessel commented on #162
I don't see a big advantage over slack/irc/hipchat, but it is free, simple
and easy for people to join.  I'd just like a higher bandwidth place to
talk with you guys, because I'm interested in continuing to contribute...

On Tue, Aug 4, 2015 at 8:28 AM Filipe <notifications@github.com> wrote:

[2015-08-04 14:57] ocefpaf commented on #162
Sure.  I see people are already using it, but here it goes:

https://gitter.im/python-visualization/folium

[2015-08-04 14:57] #162 closed

[2015-08-04 16:56] ocefpaf opened #165 "Make folium a little more Notebook friendly"
I am closing #90 and opening this issue to keep track of the notebook improvements that needs to be done.

[2015-08-04 16:57] ocefpaf commented on #90
There is a lot of discussion here that does not relate to the original issue.  So I am closing this one and opening #165 to keep track of the `initialize_notebook()` future.

[2015-08-04 16:57] #90 closed

[2015-08-04 16:58] ocefpaf commented on #165
OK, I made a duplicate.  Closing this in favor of #135.

[2015-08-04 16:58] #165 closed

[2015-08-04 17:01] ocefpaf commented on #123
This is being addressed in #124.  I am closing this to tidy-up the issues list.

[2015-08-04 17:01] #123 closed

[2015-08-04 17:10] ocefpaf commented on #18
This is being addressed in #160.

[2015-08-04 17:10] #18 closed

[2015-08-04 17:13] ocefpaf commented on #153
See #140

[2015-08-04 17:13] #153 closed

[2015-08-04 17:22] ocefpaf commented on #113
In essence this is a duplicate of #6, right?  If not feel free to re-open it.

[2015-08-04 17:22] #113 closed

[2015-08-04 17:24] ocefpaf commented on #105
This is being addressed in #147.

[2015-08-04 17:24] #105 closed

[2015-08-04 17:28] ocefpaf commented on #41
This is fixed for HTML/text popups.  The problem remains with vincent popups, but that will be addressed once we get a new vincent release.

[2015-08-04 17:28] #41 closed

[2015-08-04 17:30] ocefpaf commented on #44
Indeed.  The `initialize_notebook()` needs an overhaul.

Since this is a duplicate of #135. I am closing this.

[2015-08-04 17:30] #44 closed

[2015-08-04 17:32] ocefpaf commented on #79
We went for the `Leaflet.Timedimension` instead, but `LeafletPlayback` could be implemented as well using the new plugin machinery.  Feel free to re-open this id `Leaflet.Timedimension` is not enough for you purposes.

[2015-08-04 17:32] #79 closed

[2015-08-04 17:35] ocefpaf commented on #138
pinging @BibMartin here.  I would like your opinion on this issue.

[2015-08-04 17:36] ocefpaf commented on #143
Without an example it is hard to debug this...  Feel free to re-open it if you can provide one.

[2015-08-04 17:36] #143 closed

[2015-08-04 17:37] wrobstory commented on #41
`new vincent release`

:grimacing:

[2015-08-04 17:40] ocefpaf commented on #41
It is easier to pass the ball than to try to score a goal :wink:

[2015-08-04 17:58] ocefpaf commented on #34
@barryrowlingson the main problem that is the name "`geo_json`", that implies a `GeoJSON` and not a `GeoPandas` object.  We could either introduce a new method that is more "duck type friendly."  This method could take a `GeoPandas`, `GeoJSON`, `Shapely`, `GPX` and other similar objects and files.

We could then convert everything to `GeoJSON` and add the layer or we could look into the Leaflet pl

[2015-08-04 18:34] BibMartin commented on #138
In the plugins machinery, we define 4 places in the template where a plugin can inject code :
* header (for injecting javascript import, or css import)
* css (for injecting just one or two css styles)
* html (for creating you own div, etc)
* javascript (for injecting code into the leaflet script)

So it is quite easy to create a plugin that injects a CSS into folium's template.

If you want conver

[2015-08-04 18:48] BibMartin commented on #34
We can easily imagine a plugin doing that. It would look like:

    map_osm.add_plugin(GeoPandas(gp))

But maybe we shall think about having a python object for storing geospatial data into folium. Something that would have methods like `from_geojson`, `from_gpx`, ... and methods like `to_geojson`, `to_leaflet`, etc. Not reinventing the wheel ; it may inherit from `shapely` or `geopandas`. What do

[2015-08-04 19:10] ocefpaf commented on #34
I am inclined towards `from_geojson`, `from_gpx`, and `to_geojson`, `to_leaflet`... But we already have `geo_json`.  Maybe we should break the API in a future version...

[2015-08-04 19:25] wrobstory commented on #34
Ugh, I hate that I ever wrote the `geo_json` method. Terrible API design.

Food for thought: If I Were To Rewrite This Today:
* That method would be called `data_overlay`, to follow the `image_overlay` convention.
* `data_overlay`s could be GeoJSON, TopoJSON, GeoPandas object, whatever.
* When `overlay` is called, a `FoliumDataSource` is created. This class would be the translation layer between t

[2015-08-04 19:31] ocefpaf commented on #34
So we just got a license to kill :wink:

:+1: to all that.  The `_overlay` makes more sense.  I have a problem with `data_` and `image_` though, I prefer `vector_overlay` and `raster_overlay`.

[2015-08-04 19:36] wrobstory commented on #34
Yeah, totally agree on vector and raster. That's much better.

One thing you might want to do is leave the `geo_json` method with a depreciation warning (see: https://github.com/pydata/pandas/blob/master/pandas/util/decorators.py#L8), and then have it call out to the `vector_overlay` method for at least a couple more releases.

[2015-08-04 20:02] ocefpaf commented on #34
Kill it slowly and make it suffer.  Got it!

[2015-08-04 20:03] BibMartin commented on #34
@wrobstory it sound good, and similar to what I had in mind when putting the hand in the plugins.

If you're okay, a way of moving to this can be to have a plugin `FoliumDataSource`, and then to move it to the core.

[2015-08-04 20:51] wrobstory commented on #34
Yeah, that's fine. Feel free to make major structural changes without my ok- if it feels like the existing structure is holding you back, by all means break it up. Just need to make sure that the test suite is robust enough to catch everything during a major refactor.

[2015-08-05 11:57] BibMartin commented on #138
Please, see https://github.com/BibMartin/folium/commit/5e90c1bf3f2e5e51c062c041393b95c3386710ba for an example.
@ocefpaf : I am continuing of creating plugins. I'll do a PR when I have several of them.

[2015-08-05 15:23] ocefpaf opened #169 "Avoid code duplication in div marker"
As @themiurgo pointed out PR #166 can be incorporate into markers.

[2015-08-05 15:31] themiurgo commented on #169
@shankari since you were the author of that PR would you be interested in fixing this, so that folium API stays as clean as possible?

[2015-08-05 17:45] shankari commented on #169
I did consider making this a part of marker (a different kind of icon), but I didn't do it for two reasons.
- Leaflet doesn't actually include this as part of marker, it makes it a different kind of icon. But the folium API combines the marker and the icon into same call. Adding support for a different kind of icon in the marker API seemed like it would make it too complex - there are already 3 pa

[2015-08-06 15:01] themiurgo commented on #169
Agreed, but adding more data types/methods also has a cost: makes it harder to maintain them. :smile: In the end what you want to plot on this map is two things: a line, and a list of styled markers along that line. Also, I agree that clustered marker should be refactored somehow, again, to follow as much as possible Leaflet.

True, it's not done anywhere else. At the moment is under heavy restruc

[2015-08-06 15:02] themiurgo commented on #169
In the end I don't know, but let's see what the others think @ocefpaf @shankari about these issues. Having more eyes on something is never a bad idea. :)

[2015-08-06 15:13] themiurgo opened #171 "Basic feature list - GeoJSON conversion"
In light of #169 , I think it's important to establish a list of core features that folium is able to support and should provide in the API.

Following Leaflet, it seems the fundamental types should be:

- [x] Marker
- [ ] Path: abstract
- [x] Polyline: this needs name change to Polyline
- [ ] MultiPolyline
- [ ] Polygon: at the moment we only have RegularPolygon
- [ ] MultiPolygon
- [ ] Rectangle

[2015-08-06 15:40] ocefpaf commented on #169
It could be worse (`pandas.read_csv` ;-)

Indeed!  But that is how we were doing things until now.  (I am not saying this is how we should proceed!)

That pretty much sums up how I see folium's current state.  Once the dust settles we will re-visit the idiosyncrasies I added along the way and make re-write them to agree with the new logic.  (I know that @BibMartin is already tackling some of those

[2015-08-07 11:51] ianozsvald opened #172 "0.1.5 / 2.0 release?"
I'd love to be able to use the new tiles in public demos of folium (I'll be doing a lightning talk to 200+ at PyDataLondon next month). Is there any chance that there's going to be a post-0.1.4 release between now and then?

[2015-08-07 11:54] ocefpaf commented on #172
I am pro [RERO](https://en.wikipedia.org/wiki/Release_early,_release_often), but we **really** need to polish the docs before a new release.  Maybe in a week (or 2).

[2015-08-07 12:11] ianozsvald commented on #172
Cool! Thanks @ocefpaf

[2015-08-07 12:13] ocefpaf commented on #172
Lets leave this open as a reminder...

[2015-08-12 11:18] ocefpaf opened #173 "RE-factor the tests"
As folium changes its internal architecture we need more robust tests than the monolithic `test_folium.py`

[2015-08-12 23:04] wrobstory commented on #173
I would also strongly recommend a move from nose to py.test

[2015-08-13 09:59] ocefpaf commented on #173
:+1:

[2015-08-13 13:16] ocefpaf commented on #172
@ianozsvald done in https://github.com/python-visualization/folium/releases/tag/v0.1.5 and https://pypi.python.org/pypi/folium/0.1.5

Let me know how that works for you!

[2015-08-13 13:16] #172 closed

[2015-08-13 18:06] papajohn opened #176 "Cannot inline a map that binds features to data"
Below, I've written a minimal program that ideally would run inside a Jupyter Notebook and generate the colored map from http://bl.ocks.org/wrobstory/5609830 . Unfortunately, the map does not render because `_build_map` creates HTML that depends on a `data.json` file (generated in `create_map`, which I never call).

Instead of requiring File IO in order to create a map that binds features to data

[2015-08-13 20:01] papajohn commented on #176
By the way, this hack makes the map display correctly in the notebook by inlining the JSON data.

[code]

[2015-08-13 20:06] ocefpaf commented on #176
We are working on a better integration with IPython/Jupyter notebooks.  Good to know that the JSON in-lining works.  I am pretty sure a lot of people will use that until we actually fix this. Thanks @papajohn!

[2015-08-14 15:30] ianozsvald commented on #172
Agreed that stamenwatercolor tiles now work, cheers :-) I've noted a bug in 0.1.5 though https://github.com/wrobstory/vincent/issues/142
Cheers!

[2015-08-14 15:33] ianozsvald opened #181 "Regression with 0.1.5 using vincent line chart"
I've just upgraded from folium 0.1.4 to 0.1.5 (https://github.com/python-visualization/folium/issues/172), I think I have a regression. I've attached two pictures, the first is a folium map with a vincent line chart (random data) attached to London, in 0.1.4 the line chart's popup box encompasses the chart, with 0.1.5 it is clipped.

In both cases folium is using vincent 0.4.4. I've switched foliu

[2015-08-14 16:39] ocefpaf commented on #181
This is kind if bug is hard to test since it demands visual inspection!  Thanks for reporting.  I will to my best to fix that for 0.1.6. (Which should be out this weekend.)

[2015-08-14 16:51] ocefpaf commented on #181
Jeez.  The `max_width` is limited to the map with and the default map width is now a relative size (100%), so it is passing `100 px` to the popup rendering function!  (Guess who made this mess?  Me!)

A workaround is to specify the map `width` yourself.  And make sure that `width` is more than the vincent plot width.  I am fixing this now...

[2015-08-15 13:08] roosje opened #184 "Negative values in legend and threshold scale for choropleth"
when making a choropleth of increase or decrease of values I would like to be able to use and see the negative values in the legend. The map itself is okay, but the legend can't adjust.

![negative choro](https://cloud.githubusercontent.com/assets/7208589/9288941/82758e4a-435f-11e5-9dcc-c3a0deda55df.png)

[2015-08-16 10:43] ocefpaf commented on #184
Hi @roosje, thanks for the bug report.  I am unfamiliar with this part of Folium code, but I am taking a look at it.  If you can provide a [SSCCE](http://sscce.org) it you help!

[2015-08-16 11:17] ocefpaf commented on #176
I just noted that in your code you are dumping the GeoJSON like this `geo_path=json.dumps(geo)`.  I don't think that will inline the JSON for you.  Folium takes a file name as an argument there.

[2015-08-16 11:17] #176 closed

[2015-08-16 12:05] ocefpaf commented on #181
Fixed in #183

[2015-08-16 12:05] #181 closed

[2015-08-16 13:36] roosje commented on #184
hope this helps, but with this code I didn't even get the red color for negative numbers:

[code]

[2015-08-16 14:54] ocefpaf commented on #184
Thanks.  I found the culprit and we are trying to create a proper fix.  Keep an eye on #188.

[2015-08-16 14:56] roosje commented on #184
Awesome! Thanx and good luck :)

[2015-08-16 15:31] papajohn commented on #176
@ocefpaf Changed `geo_path` to `geo_str` in my comment.

[2015-08-16 17:46] ocefpaf commented on #176
OK.  We are always between elegance (saving the data to files and serving them alongside the HTML) or practicality (in-lining/embedding  everything).  Maybe we should add a keyword "stand-alone" somewhere...  Not sure what is the best solution, but the problem is arising way too often.

Meanwhile we have your JSON in-lining hack or the function below (note that it dumps the JSON data to a file):

[2015-08-16 18:24] BibMartin commented on #176
@ocefpaf

I guess this could be a keyword argument int the `render` method of each `figure/map/plugin/template`.
Don't you think so ?

[2015-08-16 22:40] ocefpaf commented on #176
Don't you think so ?

I think that it would work.

The main problem relate to this that arises quite often  is displaying the map on Jupyter/IPython notebooks (and gist-ing them).  In that case I guess we could not give the user an option and always inline everything.  It is ugly but it works!  And people looking for elegance could just save the HTML and serve everything on their own.

[2015-08-17 06:26] BibMartin commented on #176
Yes, exactly. It would give something like:
[code]

[2015-08-17 12:33] ianozsvald commented on #181
@ocefpaf Hi Filipe, I agree that this is fixed, many thanks. If a 0.1.6 release were possible, it would be much appreciated (I can link to it from my tutorial).

[2015-08-17 18:30] ocefpaf commented on #181
I really want to get a `v0.1.6` out as soon as possible, but we want to make sure it has the new `image_overlay()` method and some fixes for displaying maps in notebooks.  So it may that a while :unamused:

Stay tuned!

[2015-08-17 20:10] ocefpaf commented on #176
@BibMartin I am trying to implement something for the `v0.1.6` that could help us later to implement your idea.  I just want to get out of the way first.

[2015-08-18 11:37] #173 closed

[2015-08-19 13:58] amitbend opened #192 "Bootstrap Theme conflict"
Hi,
I'm using a custom bootstrap css theme for all of my project,
and including a folium map in one of my pages.

it cause a conflict, and it shows the bootstrap default theme.

is there a way to remove those line not manually?

[2015-08-19 16:21] BibMartin commented on #192
Hi @amitbend ,
can you prodive a sample of code, and show what lines are in conflict, please ?

[2015-08-19 16:28] ocefpaf commented on #132
PR #190 should take care of that.  All you need is to leave the map object as the last thing and the IPython/Jupyter HTML repr will take care of the rest.

(See: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/tree/master/)

[2015-08-19 16:29] ocefpaf commented on #44
Hopefully PR #190 will take care of that.  See some examples at: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/tree/master/

[2015-08-19 16:30] ocefpaf commented on #90
PR #190 changed how we display the maps. All you need is to leave the map object as the last thing and the IPython/Jupyter HTML repr will take care of the rest.

(See: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/tree/master/)

[2015-08-19 16:31] ocefpaf commented on #135
As of PR #190 all you need is to leave the map object as the last thing in the cell and the IPython/Jupyter HTML repr will take care of the rest.

(See: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/tree/master/)

[2015-08-19 16:31] #135 closed

[2015-08-19 18:39] amitbend commented on #192
Sure!

this is what i see in the html file created by folium

[code]

and this the map config and creation
[code]

i'm using django so i included with this  ```{% include 'map.html' %} ``` tag

[2015-08-19 20:09] jesserobertson commented on #90
@ocefpaf: thanks, this is awesome. :)

[2015-08-20 14:13] ocefpaf opened #195 "Raster/vector image overlay and legend"
(Summarizing a discussion from #193)

We nee to refactor the `geo_json` (and the legend),  `image_overlay` methods.

~~Possible names: `overlay_raster`, `overlay_vector`, `add_legend`;~~

- [X] "Plugnify" these methods;
- [X] Legend default should be a free scale
- [ ] Legend should have a `quants` with 'auto' or user defined quantiles. (See #255)
- [ ]  See PySAL for many ways to computed this an

[2015-08-20 14:40] ocefpaf commented on #195
The these overlay should also have a popup option (see https://github.com/python-visualization/folium/issues/6).

For the GeoJSON case see we need to support external data as popup (see https://github.com/python-visualization/folium/pull/102).

[2015-08-20 14:46] ocefpaf commented on #155
@BibMartin are you OK with this?  Or do you still think there is advantage in downloading stuff?  Can we close this?

[2015-08-20 15:55] ocefpaf commented on #114
Duplication of #89

[2015-08-20 15:55] #114 closed

[2015-08-20 15:56] ocefpaf commented on #127
I am closing this for now. I have a lot of work to do already regarding the plugins.

[2015-08-20 15:56] #127 closed

[2015-08-20 18:15] koldunovn commented on #195
Are there any plans to actually use data from the GeoJSON file itself (from 'properties'), not only from pandas?

[2015-08-20 18:46] ocefpaf commented on #195
Like this: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/master/test_geojson_popup.ipynb

[2015-08-21 01:02] ocefpaf opened #198 "Read GeoJSON style from file as default"
We have a template ([geojson_style.js](https://github.com/python-visualization/folium/blob/master/folium/templates/geojson_style.js)) for styling the GeoJSON object.

[code]

The template is filled [here](https://github.com/python-visualization/folium/blob/master/folium/folium.py#L1014-L1018) and that usually happens with the default values.  But if the GeoJSON file has `properties` defined a simp

[2015-08-24 17:48] ocefpaf opened #202 "openstreetmap ODbL"
The openstreetmap FAQ say we should use:

for attribution

[2015-08-28 09:59] franciscovargas opened #204 "map.geo_json geo_path parameter does not work on relative paths"
Say if I had the following from the cloropleth examples:
[code]

it would work fine. But if my state_geo is something like ```r'../data/us-states.json``` it wont work at all nor through any errors only a java script one when you open the html in the browser. This seems to be a bug worth looking in to.

[2015-08-28 10:50] ocefpaf commented on #204
Are you serving your HTML and JSON file or just opening the HTML file?  Note that relative paths are tricky and the HTML file must be able to find the JSON file online.

One way around this is to use `geo_str` instead of `geo_path`.  Let me know if that works for you.

(See http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/master/test_choropleth_geostr.ipynb for an example.)

[2015-08-28 10:50] #204 closed

[2015-08-28 11:08] franciscovargas commented on #204
So I just open the json file with open(path, 'r').read() as a string and
pass it as geo_str ? cause it is still failing.

On Fri, Aug 28, 2015 at 11:50 AM, Filipe <notifications@github.com> wrote:

[2015-08-28 11:11] franciscovargas commented on #204
SyntaxError: unterminated string literal

On Fri, Aug 28, 2015 at 12:08 PM, Francisco Vargas <vargfran@gmail.com>
wrote:

[2015-08-28 11:21] ocefpaf commented on #204
Can you answer my question above and provide some more information like the version number.

[2015-08-28 11:28] franciscovargas commented on #204
I am just opening the html file on the browser using python3.3
folium==0.1.5.

On Fri, Aug 28, 2015 at 12:21 PM, Filipe <notifications@github.com> wrote:

[2015-08-28 12:34] ocefpaf commented on #204
Please see: https://github.com/python-visualization/folium/issues/72

PS: Next version of folium will allow for non-served HTML, since people seems to be doing that a lot.

[2015-09-02 12:06] roblem opened #205 "Small Output in Ipython Notebook (3.2)"
Following the discussion in [Issue 90](https://github.com/python-visualization/folium/issues/90), I have tried running some of the test files from http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/tree/master/

Running test_chloreopath.ipynb (I had to add the line `mapa.create_map())` leads to this output:
![folium_map_inline](https://cloud.githubusercontent.com/assets/1871086/9630227/e6

[2015-09-02 13:16] BibMartin commented on #205
Hi @roblem . Thanks for this feedback.
You can workaround this in specifying explicitly the width and height you want :

    mapa = folium.Map(location=[48, -102], zoom_start=3,
                  width=800, height=600)

@ocefpaf : It seems this is due to https://github.com/python-visualization/folium/commit/dcaf5752d41ed29c581c3ca6a84817c0a9fc55dc that does not store `width_type` and ` height_type

[2015-09-02 13:49] ocefpaf commented on #205
I am not sure... This sounds like something on the IPython side (or with `initialize_notebook()`).  The HTML is OK and if you `print(mapa._repr_html_())` you will get:

[code]

The new `_hrml_repr_` in `v0.1.6` seem to does the right thing because it bypass the HTML creation and `initialize_notebook()`.  I just need some spare time to get it out.

[2015-09-02 13:49] BibMartin commented on #205
@ocefpaf
I've got a bugfix for this in https://github.com/BibMartin/folium/commit/b25514cf4fa3347eb5674e31e03de1de5e58ee6a ; but I don't know if it is clean to bugfix a release (nor how).

[2015-09-02 13:58] ocefpaf commented on #205
You were faster than me.  Indeed the culprit is the old `_repr_html_`.

In `v0.1.6` I used `width: 100%` and `height: 500px` as defaults.  Maybe you could port your fix there.

[2015-09-02 15:00] roblem commented on #205
Thanks, adding height and width works for the test_chloreopaths.ipynb workbook.

Tried running `test_popups.ipynb`, and get blank output (of seemingly the correct size) using the height and size method that worked for the chloreopaths.  From the first example (with slight modifications):

![point_problem](https://cloud.githubusercontent.com/assets/1871086/9634887/a60945b2-5161-11e5-8957-66a2bb7e96

[2015-09-02 15:13] BibMartin commented on #205
You shall add `mapa.render_iframe = True` before (or after)  `mapa.create_map()`.
In fact, you're actually playing examples that were designed to illustrate `v0.1.6`. I guess using this branch will help you.

[2015-09-02 18:27] roblem commented on #205
Apologies.  Yes, this worked in 0.1.5.

[2015-09-07 02:08] francisbautista opened #206 "Retina Maps"
Will there be plans for supporting Retina OSM maps for Folium? I'm having meter-pixel issues with screens that are Retina and non-retina.

[2015-09-07 08:51] ocefpaf commented on #206
Never thought about that but it shouldn't be hard to implement it for the tiles.  I will leave [this](http://leafletjs.com/reference.html#tilelayer-detectretina) for reference.

[2015-09-08 08:22] hunan0121 opened #208 "How to make interactive map with time factor"
Hi guys, I like using folium for visualising data on maps in ipython notebook. Just wonder how can I make an interactive map by including a time slider bar to display different sets of data on the map corresponding to time change? Thanks for advising.

[2015-09-08 08:36] BibMartin commented on #208
Hi @hunan0121
This is something we are working on today.
There's a first possibility using today's `master` ; you can look at <a href="https://github.com/python-visualization/folium/blob/master/folium/plugins/timestamped_geo_json.py">this</a> and use it in taking inspiration from <a href="https://github.com/python-visualization/folium/blob/master/examples/plugins_examples.ipynb">there</a>.
But it'

[2015-09-08 08:41] hunan0121 commented on #208
@BibMartin Thanks for your advise and prompt reply. Look forward to more awesome features coming with the next version of Folium :+1: Thank you so much.

[2015-09-08 08:51] BibMartin commented on #208
Your welcome @hunan0121. I ping you when this is stabilized.

[2015-09-17 20:34] SamLau95 opened #209 "Stamen tiles not working (looks like URL of tiles changed)"
It appears that the URLs for Stamen tiles has changed.

Running
[code]

And then opening the `osm.html` file in the browser shows these errors in the Javascript console:

[code]

Opening https://stamen-tiles-c.a.ssl.fastly.net/toner/10/161/366.jpg in the browser shows that the link is broken. However, https://stamen-tiles-c.a.ssl.fastly.net/toner/#10/161/366.jpg appears to work. Perhaps the Stamen

[2015-09-17 22:10] ocefpaf commented on #209
I believe this is already fixed in #199.

Note to self: I need to put `v0.1.6` out as soon as possible!

[2015-09-17 22:10] #209 closed

[2015-10-04 18:06] methodds opened #210 "permanent popups"
Hi, I have a question regarding popups for markers. Is it possible to use the markers as a kind of label, such that the text for popups is already visible without having to click on the marker? I would like to use this functionality to label some cities on a map.

[2015-10-04 18:16] andrewgiessel commented on #210
Great idea. I bet it's possible. Folium uses leaflet under the hood, so I'd
check out the leaflet API (or plugins) and if it's there we can implement
it. Link us back with anything you find!
On Sun, Oct 4, 2015 at 14:06 Carsten Schwemmer <notifications@github.com>
wrote:

[2015-10-04 18:19] methodds commented on #210
Thanks for the fast response! Apparently there is a simple plugin for this functionality in leaflet:
https://github.com/Leaflet/Leaflet.label
Can you work with this?

[2015-10-06 12:26] ocefpaf opened #211 "DOI using GitHub+Zenodo"
Every now and then I get e-mails from academics asking how to cite `folium`.  I guess it is time to create a DOI number for it.

@andrewgiessel is this something you are interested in doing?

[2015-10-06 16:16] andrewgiessel commented on #211
Sure!

Looks like we can follow this guide [here](https://guides.github.com/activities/citable-code/).  It seems we need to have an official release (in :octocat: terms) to make it work.  We can use the most recent release, or wait till we do the impending one.  Either way is fine by me.

[2015-10-06 16:23] andrewgiessel commented on #211
Ok, I did everything we need.  When we make a new release, it'll trigger the generation of a DOI.

I'm assigning myself to finish the process after we put out our next release.

[2015-10-06 17:04] ocefpaf commented on #211
Thanks @andrewgiessel!  Zenodo issues a badge, right?  Can you put that in the README?

[2015-10-06 18:29] andrewgiessel commented on #211
We won't get a DOI (and then a badge) until we make a new release.  It uses
a GH webhook to generate everything, which we haven't triggered.

On Tue, Oct 6, 2015 at 1:04 PM Filipe <notifications@github.com> wrote:

[2015-10-06 18:55] ocefpaf commented on #211
Ah OK.  But how about minting one for `v0.1.5`?

PS: Are you interested in taking care of `v0.1.6` :wink:

[2015-10-09 14:58] PBrockmann opened #212 "get filled color for polygon_marker"
I cannot get a flat filled color when I use polygon_marker. Instead I get a gradient that comes from Leaflet-DVF I suppose.
But many times, I would prefer to display a flat color.

Another point, I have noticed on the use of the property fill_color from polygon_marker is that the filled color is not displayed when you embed your map in a notebook.

Here is an example tested with 0.1.5

[code]

[co

[2015-10-09 23:21] PBrockmann commented on #212
OK I get a solution after reading and testing https://github.com/python-visualization/folium/issues/135
on "How to use folium with iPython / Jupyter notebook".

[code]

Using that inline_map function that encodes the src of the iframe in base64 allows correct filling colors for polygon markers.

So this solution is still usefull for present stable release 1.5
With 1.6, no more use of a inline_map

[2015-10-09 23:30] PBrockmann commented on #212
I  let this issue open because the problem remains with 1.6 branch.

Leaving the mapobject as the last line in the notebook to get a rich HTML displayed should display filled colors but it's not the case.

[2015-10-10 22:40] ocefpaf commented on #212
Ooops! I took me so long to answer that you found the solution :flushed:

Thanks!  I will address that before the `v0.1.6`.  (Now I am almost glad with the huge delay that release :wink:)

[2015-10-15 13:25] francisbautista opened #213 "Heatmaps on Folium"
Is there a way to use heatmaps on folium w/o going back to Leaflet.js and its heatmap plugin set?

[2015-10-20 16:33] raidoz opened #214 "How can I add permanent text on a folium map?"
I would like to permanently show some text(IDs) on or near circle markers? How can I do this?

[2015-10-20 19:02] ginobili0 opened #215 "Markers not showing up when I use clustered_marker = True"
I created a notebook to analyse the NYC Motor Vehicle Collision data. You can see the notebook here: https://github.com/ginobili0/NYC_Collisions/blob/master/NYC_Collisions.ipynb. As demonstrated in the notebook, when I set clustered_marker = True, I just get a blank map. Without setting clustered_marker, I get markers, but I can't seem to get more than 17. What's going wrong?

[2015-10-20 19:11] andrewgiessel commented on #215
Quick question without having looked at the ipynb carefully:  have any NaNs
in your data (in particular, in lon/lat)? Try dropping those first.

ag

On Tue, Oct 20, 2015 at 3:05 PM Teja Kodali <notifications@github.com>
wrote:

[2015-10-20 19:16] ginobili0 commented on #215
Ah yes. Removing NaNs worked. Silly me.

[2015-10-20 19:16] #215 closed

[2015-10-20 19:29] BibMartin commented on #214
As suggested in #210, it may be possible to implement something looking like http://leaflet.github.io/Leaflet.label/

It's not available yet, but would it fit your need ?

[2015-10-21 08:19] marcobra opened #216 "Stamen Toner doesn't works"
The Stamen Toner doesn't works in sample:

http://bl.ocks.org/wrobstory/5609747

and in folium generated code.

Working Leaftlet providers:
https://leaflet-extras.github.io/leaflet-providers/preview/

Thanks
Marco

[2015-10-21 13:02] raidoz commented on #214
This could work. Ideally I would still like to be able to get a separate pop-up with additional info. It's just that I need a way to identify the markers without clicking them.

[2015-10-24 21:45] polypmer commented on #192
Hi, I have the same issue with Flask

[2015-10-28 22:06] ocefpaf commented on #216
Hi @marcobra, this issue is fixed in the dev version. (See https://github.com/python-visualization/folium/pull/199/files.)

I am in the process of issuing a new release.

[2015-10-28 22:06] #216 closed

[2015-10-28 22:07] ocefpaf commented on #213
@francisbautista that would be a nice addition.  Folium right now is low in manpower.  PRs are welcome :wink:

[2015-10-29 11:21] ocefpaf opened #219 "Tweak the default width"
I experiment master with jupyter yesterday and the default width is adding a left-right scroll bar.  We might need to tweak this a little bit.

[2015-10-29 19:45] BibMartin commented on #219
You're true, I get the same thing. But it depends on the browser, resolution etc.

There's the same issue in mplleaflet and you can have a look at https://github.com/jwass/mplleaflet/pull/22 for ideas.

We can :
* Keep a fixed size and decrease it so that it will fit in most browsers
* Set the width to "100%" and use a fixed value for the height (600px seems reasonable to me).
* Use a trick inspir

[2015-10-29 20:02] ocefpaf commented on #219
Sounds good to me.

[2015-10-29 20:13] andrewgiessel commented on #219
I kinda like the fixed proportion trick, but 100% x 600px is fine too.

ps: hi!

[2015-10-30 06:32] joshdelarosa1 opened #220 "Choropleth Colors not Displaying"
Like issue #92, the colors on the Choropleth are not displaying.  What is odd is the quantiles are being set and the data.json file contains the valid values, but all of the shapes of the same color.

I'm doing something wrong, but can't figure out what it is.  The data files are in the same directory, so the solution isn't the same as #92.

[code]

[2015-10-30 10:32] ocefpaf commented on #219
Fixed in #221.

Thanks @BibMartin for the PR and @andrewgiessel for highlighting a better option than mine :wink:

[2015-10-30 10:32] #219 closed

[2015-10-30 10:44] ocefpaf commented on #220
Hi @joshdelarosa1,

We can't debug this without the data and the folium version you are using.

[2015-10-30 12:16] joshdelarosa1 commented on #220
thanks @ocefpaf
'folium==0.1.6'
the geo data can be found here:
http://eric.clst.org/wiki/uploads/Stuff/gz_2010_us_040_00_20m.json

here is the cvs data
state,D001
Alabama,4779736
Alaska,710231
Arizona,6392017
Arkansas,2915918
California,37253956
Colorado,5029196
Connecticut,3574097
Delaware,897934
District of Columbia,601723
Florida,18801310
Georgia,9687653
Hawaii,1360301
Idaho,1567582
Illinois,1

[2015-10-30 12:25] BibMartin commented on #206
See #222

[2015-10-30 12:40] ocefpaf commented on #220
The problem is in your JSON:

[code]

You are using a `key_on=feature.NAME` and the `NAME` does not exist in `Feature`.  `NAME` is inside `properties`.  The docs do say that `feature.properties.NAME` should work, but I just tested that and it is broken.  Your best option is to use this [GeoJSON](https://github.com/python-visualization/folium/blob/master/tests/us-counties.json) and adapt your DataF

[2015-10-30 12:40] #220 closed

[2015-10-30 12:42] ocefpaf opened #223 "key_on='features.properties.key' seems to be broken"
When passing the `key_on=` option the docs mentioned that `key_on='features.properties.key'` is valid syntax, but that is not working.

[2015-10-30 12:43] ocefpaf commented on #220
I am closing this and I opened another issue (https://github.com/python-visualization/folium/issues/223) to address the `key_on` option.

[2015-10-30 19:10] joshdelarosa1 commented on #220
@ocefpaf  the sort on my data was also wrong, but after that was fixed, worked like a charm. thanks!

[2015-10-30 19:11] ocefpaf commented on #220
Glad to help.

[2015-10-31 00:58] ocefpaf commented on #212
@PBrockmann this is fixed in master.  I will push for a new release ASAP.

[2015-10-31 01:07] PBrockmann commented on #212
Cool. Thnks.
I have just mentionned folium in a promissing project on WMS. See https://github.com/sci-wms/sci-wms/issues/96
As written I would like to clarify why a styles option is needed. It should be parameters option. It comes from http://leafletjs.com/reference.html#tilelayer-wms

[2015-10-31 01:40] ocefpaf commented on #212
I saw that.  I agree that sci-wms is a :+1: (right @kwilcox :smile_cat:)

We need to sort https://github.com/python-visualization/folium/pull/124 out too.  I will open another issue for that.  Thanks!

[2015-10-31 10:05] ocefpaf opened #225 "Improve plugin tests"
We can do a better in doing the same thing as `test_folium.py`: compare the output of `.render()` with code generated from a validation template.

[2015-10-31 12:18] ocefpaf commented on #213
Hi @francisbautista,

@BibMartin did an awesome job implementing a plugin system for folium.  He just used that system to add the `leaflet-heat.js`.  Feedback is appreciated!  (And if you produce a cool map consider sending it to https://github.com/ocefpaf/folium_notebooks.  I am putting a gallery together.)

(See #224)

[2015-10-31 12:18] #213 closed

[2015-10-31 12:40] BibMartin opened #226 "Create `Map.create_map`"
As discussed with @ocefpaf in https://github.com/BibMartin/folium/commit/5d665c553adf6dc61cea729f382923108aaf9860,
we need to build a new `create_map()` method that enables to write a map into a file.
(the former method has been destoyed by 5d665c553adf6dc61cea729f382923108aaf9860)

[2015-10-31 14:03] BibMartin commented on #226
See #227

[2015-11-01 09:49] foodstamps opened #228 "Create markers with custom icons"
The one thing barring me from using Folium is the lack of support for markers using custom icons, through the use of user-provided .png files. This functionality is offered with Leaflet - http://leafletjs.com/examples/custom-icons.html

According to the text, "Marker icons in Leaflet are defined by L.Icon objects, which are passed as an option when creating markers."

For me personally, the option

[2015-11-01 11:19] ocefpaf commented on #228
That is an important addition and, as part of the folium team, I am ashamed to point you to [this hack](https://github.com/ocefpaf/secoora_assets_map/blob/gh-pages/assets_map.ipynb)  I used to produce [this map](http://ocefpaf.github.io/secoora_assets_map/secoora_assets.html).

[2015-11-01 17:36] #226 closed

[2015-11-01 17:37] ocefpaf opened #229 "Jupyter/IPython _html_repr_ iframe is not re-sizing to map size"
See http://nbviewer.ipython.org/gist/ocefpaf/24711838a07b4bad2f9d

[2015-11-01 22:12] ocefpaf commented on #205
I guess this one is fixed.  Closing this.

[2015-11-01 22:12] #205 closed

[2015-11-01 22:23] ocefpaf commented on #55
After reading a lot about the GeoJSON format specs I found out that the recommend way around this issue is to break the -180, 180. Here is an example:

http://nbviewer.ipython.org/gist/ocefpaf/f03e2cb878c891716518

I am closing since we don't have any plans to try to be smart about this issue and do that automatically.

[2015-11-01 22:23] #55 closed

[2015-11-01 22:24] ocefpaf commented on #184
@BibMartin I tested this in master and it seems OK.  Closing this, but please re-open if I am mistaken.

[2015-11-01 22:24] #184 closed

[2015-11-01 22:30] ocefpaf commented on #138
@ColeTownsend can you take a look at [CssLink](https://github.com/python-visualization/folium/blob/fcee8393e5ff0533429a42a7cb5976de3c73a9a4/folium/element.py#L139-L162) and see if that is OK for your purpose?

[2015-11-02 01:46] BibMartin commented on #223
When using the `master`, it seems to work.
Isn't this a typo ; need `featue.properties.key` instead of `features.properties.key` ?

![capture du 2015-11-01 19 48 16](https://cloud.githubusercontent.com/assets/4586863/10872871/8b7a00e0-810b-11e5-92a1-2d29ccc1100d.png)

[2015-11-02 08:34] BibMartin commented on #228
See #230

[2015-11-02 12:18] ocefpaf commented on #223
It **is** a typo in the docs!

http://folium.readthedocs.org/en/latest/#binding-data

Argh, what a difference an `s` makes when copying and pasting!

Let's leave this issue open and I will fix the docs.

[2015-11-02 13:27] ocefpaf opened #231 "Generic GeoJsonStyle"
@BibMartin correct me if I am wrong, but `GeoJsonStyle` is only for color scale, right?

PS: I am creating more examples in an effort to accumulate material to write the new version of the docs.

[2015-11-02 13:32] ocefpaf commented on #55
If anyone finds this issue take a look at:

https://github.com/Leaflet/Leaflet/pull/1293

[2015-11-02 13:35] ocefpaf commented on #120
@BibMartin Now that the re-factoring dust is settling we should start thinking about this.

[2015-11-02 13:45] PBrockmann opened #232 "create maps with synchronization"
Any interest to have synchronized view of maps.
There is plugin for that: https://github.com/turban/Leaflet.Sync and a nice example http://blog.thematicmapping.org/2013/06/creating-synchronized-view-of-two-maps.html

I would need some advices on how to start this implementation.

[2015-11-02 13:47] ocefpaf commented on #232
:+1:

[2015-11-02 14:07] BibMartin commented on #231
Yes. I've tried to make the object structure look like Leaflet's.

[2015-11-02 14:30] ocefpaf commented on #231
I get that.  Maybe renaming is not the right title for this issue.  But what if someone wants to style something else than a color scale?  Maybe that functionality is already in there and I am missing the point here...

Right now `color_domain` and `color_code` are mandatory and the `color_range` is created from those two.  That triggers the creation of a `d3.scale.threshold`.

Later on, in the te

[2015-11-02 14:48] ocefpaf commented on #212
I am re-opening this. Let's port the bug fix to `v.0.1.6`.

[2015-11-02 14:50] ocefpaf commented on #169
This is fixed in master.  Let's keep`v0.1.6` as is for now.

[2015-11-02 14:50] #169 closed

[2015-11-02 17:14] foodstamps commented on #228
Excellent! Thank you both! I'm excited to try this one out.

[2015-11-03 13:31] jelmelk opened #233 "Hexbin plotting"
Is it possible to include hexbin plotting with Folium?

[2015-11-03 13:37] BibMartin commented on #233
:+1:

[2015-11-03 15:28] ocefpaf commented on #212
Done in #234

[2015-11-03 15:28] #212 closed

[2015-11-03 22:50] ColeTownsend commented on #138
@ocefpaf that looks solid! perfecto.

[2015-11-04 10:19] ocefpaf commented on #138
Awesome!  Closing this then.

[2015-11-04 10:19] #138 closed

[2015-11-04 15:03] oztalha opened #235 "geo_json data_out path issue"
I would like both the `create_map`'s html and the `data_out`'s json file to be created in `maps/` folder instead of the current working directory. Currently this is not possible because when I `data_out = 'maps/xyz.json'` and also `create_map(path='maps/xyz.html')`, then the produced html source has `.defer(d3.json, 'maps/xyz.json')` (and the html file cannot find `'maps/xyz.json` because itself i

[2015-11-05 22:06] jelmelk opened #238 "Create multipoint feature"
Given a dataframe with multiple lat/long coordinates, there doesn't seem to be a way to plot them as multiple markers. Does the data need to be entered differently?

[code]

The following code provides blank html.

[code]

[2015-11-06 09:07] ocefpaf commented on #238
Hi @jelmelk,

I am not sure what `tr_df`is, but the `geo_json` method expects a [GeoJSON](http://geojson.org/geojson-spec.html) file or string.

Note that in your example we cannot see what you are trying to do with the points in the dataframe (`df`).

But you can plot the `df` using markers (for example: `simple_marker([45.3288, -121.6625])`). Our docs are a little bit outdated but they have a fe

[2015-11-06 11:55] BibMartin commented on #238
@jelmelk
You can do

    geojson = {
                "type": "Feature",
                "geometry": {
                    "type": "MultiPoint",
                    "coordinates": df[['lat','lon']].values.tolist(),
                    },
                "properties": {"prop0": "value0"}
                }
    m = folium.Map(...)
    m.add_children(folium.features.GeoJson(geojson))

@ocefpaf
The doc

[2015-11-06 12:01] ocefpaf commented on #238
I just did not want to confuse @jelmelk with the latest (and unreleased) folium.  But I guess that is just an incentive to get that out of the door as soon as possible :wink:

[2015-11-06 13:22] jelmelk commented on #238
@ocefpaf `tr_df` is the dataframe for the `X,Y` data, sorry if that wasn't clear. I realized it had to be in GeoJSON, but wasn't sure if the conversion happens internally or must be specificed. The confusion for me was this part of the doc for  the`geo_json` function:

        If data is passed as a Pandas dataframe, the "columns" and "key-on"
        keywords must be included, the first to indica

[2015-11-06 13:28] BibMartin commented on #238
@ocefpaf

You're true ; sorry. It's rather an incentive to use the `master` and contribute :wink:

@jelmelk

This very example runs with the `master`. But if you're using `v0.1.5` or upcoming `v0.1.6` , I guess you just need to replace the last line by

    m.geojson(geojson)

[2015-11-06 13:31] ocefpaf commented on #238
@jelmelk The old (current!) `geo_json` is a convenience method that plots geojson with some extra kwargs to help create choropleths.  The "data" that is mentioned in the docs is the data used for choropleth only.

If you want to plot points in the current released version of folium you can use markers (like `simple_marker`) or create a GeoJSON string on the fly like @BibMartin showed you.

[2015-11-06 13:46] jelmelk commented on #238
@ocefpaf, thank you for the clarification on that.

@BibMartin, did you mean `m.geo_json(geojson) `? Because `geojson` isn't available in `v0.1.5`. I tried the following example, but `osm.html` file is still blank.

    import folium

    geojson = {
        "type": "Feature",
        "geometry": {
            "type": "MultiPoint",
            "coordinates": [[37.7745985956747, -122.425891675136],

[2015-11-06 13:56] BibMartin commented on #238
I have gone too fast ; and did not try my hint. Here is something working with `v0.1.5`.

    import folium
    import json

    geojson = {
        "type": "Feature",
        "geometry": {
            "type": "MultiPoint",
            "coordinates": [[-122., 37.], [-122., 38.]],
        },
        "properties": {"prop0": "value0"}
    }

    map_osm = folium.Map(location=[37.5,-122], zoom_start=6

[2015-11-06 13:58] ocefpaf commented on #238
[:unamused: ] `* np.exp(np.inf)`

[2015-11-06 14:05] jelmelk commented on #238
Great, thank you both.

[2015-11-06 14:05] #238 closed

[2015-11-10 16:02] andrewgiessel commented on #211
Hey guys!

https://zenodo.org/record/33534#.VkIUpK6rSL4

=)

Opening a PR to add the badge shortly

[2015-11-10 16:02] ocefpaf commented on #211
:+1:

[2015-11-10 16:14] #211 closed

[2015-11-10 17:16] BibMartin opened #241 "What are folium natural dependencies ?"
Just to open the question :

today, folium is *officially* depending on `Jinja2`, and the tests require `vincent`, `pandas` and eventually `mock` to run.

In practice, I guess we indirectly require `numpy` and maybe `matplotlib` or `IPython`, because we handle interaction with arrays, colormaps, notebook...

I wonder whether we shall extend the *official* dependency list ; provided that things lik

[2015-11-10 17:24] ocefpaf commented on #241
:+1:  for adding `numpy` (and maybe `matplotlib`+`pandas`) as core dependencies.
:-1: for `vincent` and `IPython` even though the latter is ubiquitous in everybody's python nowadays.

[2015-11-12 09:49] themiurgo commented on #241
I would try to keep dependencies to a very minimum, so that people can generate maps even in low power environments. Installing `matplotlib` + `numpy` + `pandas` can be a pain on RPis / smartphones.

As long as one library is only needed for tests/examples, it's not a strong dependency for folium, as one can use it without testing it.

I made an extensive search on these imports and here are the r

[2015-11-12 09:53] themiurgo commented on #206
Can this be closed?

[2015-11-12 09:55] BibMartin commented on #206
Sure ; it's solved by #222

[2015-11-12 09:55] #206 closed

[2015-11-12 13:37] ocefpaf commented on #241
My argument for adding `numpy`, `matplotlib` and `pandas` is to avoid all the workarounds we do to keep them as optional dependencies when most of the users already have them installed.

@andrewgiessel We need more votes.  What do you think?

PS:

I had both `numpy` and `matplotlib` in my old N900.  Pandas did not even existed at that time!  It is sad to see the support for low power platform is g

[2015-11-12 14:28] themiurgo commented on #241
True, but from what I've seen they are all used in areas that are not essential to creating a map. For example, matplotlib, here's what a search returns:

[code]

There's no import of matplotlib, not even in tests, only docstrings.

[2015-11-12 14:36] ocefpaf commented on #241
For the matplotlib case you are correct.

However, I do have plans to add some of the mplleaft functionality to folium to create things like a quiver plot.  But that is a long term goal that I do not know if I will ever have the time to do.

@BibMartin do you have any short term plans that require more use of matplotlib?

[2015-11-12 14:44] BibMartin commented on #241
No specific plan. I rather asked the question while looking backward. For example, ImageOverlay would have been simpler to implement if we assumed `numpy` as a dependency.
In the same way, I've created the (`Hint : you can use colormaps from "matplotlib.cm".`) to avoid calling matplotlib directly. I'm fine with this if there are folium users that work without `mpl` ; but it's less trivial, even fo

[2015-11-12 14:52] themiurgo commented on #241
In the same way, we may get closer to geopandas if we accept depending on pandas.

I just wanted to point out that those are not hard dependencies at the moment, and folium works just fine even without them. You will introduce those dependencies with the prospect of new functionalities. In the first message of this thread you were guessing we indirectly relying on those, but from what I've seen fr

[2015-11-12 15:18] ocefpaf commented on #241
You are right.  I guess that @BibMartin and I are thinking more about future releases than the current state of folium.

Keeping folium light is important, but code like

[code]

is awkward and a little bit annoying to maintain.  Not to mention cases  like `ImageOverlay`.

With all that said... Let's just wait and see how the next PRs will look like.  If we keep going in the direction of heavy use

[2015-11-12 15:39] themiurgo commented on #241
If we're talking about data science, research, ... then yes, pandas / numpy / matplotlib / ipython are probably already installed everywhere.

But in my opinion those are not the only people who *could* use `folium`. If I were a developing a webapp on flask / django, and wanted to show a simple map, I could simply import folium and display it. It'd put me off quite a bit if I had to install pandas

[2015-11-12 15:45] andrewgiessel commented on #241
TL;DR:  I'd keep our only hard requirement `Jinja2` and leave all others optional.  In practice a large proportion of our target user base has all of them installed.  The `django` case is compelling but have we heard of anyone doing it?

`numpy` is used in utilities in the mercator projection function in utility.py, which is in turn used for `ImageOverlay` (but not by default).  I'm not sure about

[2015-11-12 15:48] BibMartin commented on #241
That's so true ; especially with `pandas` whose API is still quite changing. I would stay on this fact and *make the effort* not to add new dependencies to folium unless it's impossible to avoid it.

:exclamation:  *Crazy idea* : and could'nt we create other repositories in `python-visualization` community, like `folium-numpy`, `folium-pandas`, `folium-matplotlib`. That way, folium core would rema

[2015-11-12 15:49] ocefpaf commented on #241
That is where I am so I must confess I am biased!

I don't think that is the question.  We can target everyone who wants to make while still requiring pandas.  Maybe we will lose a small subset people...

Anyway.  Now that we have @andrewgiessel's option we are 2 x 2.  Which means the *status quo* wins :wink:

[2015-11-12 15:50] ocefpaf commented on #241
Crazy indeed!  I prefer the optional dependencies than multiple packages.

[2015-11-12 16:08] themiurgo commented on #241
I'm not against it a-priori, it's just that at the moment it doesn't seem there's a reason behind it. If @BibMartin then comes up with amazing module that makes heavy use of it, I'll definitely change my mind. :wink:

Take a look at the case of ipython notebook, for instance, before it became jupyter. You had to install with a `pip install ipython[notebook]` in order to install all the dependencie

[2015-11-13 09:25] themiurgo opened #244 "Autobounds not working"
Since 95a8c0f281f2e28c135288ca0a8d5c48eb9819c0 automatic bounds are not working (the method `_auto_bounds` was commented out and never reintroduced).

[2015-11-13 09:52] themiurgo opened #245 "Bringing folium closer to Leaflet"
After the great refactoring work done by @BibMartin and, we finally have a coherent way to add new features to the map.

I understand at the moment the suggested way to add features to the map, as the documentation suggests, is the following:

[code]

I propose that we change that to:

[code]

to mirror closely Leaflet API (http://leafletjs.com/reference.html#marker).

Also, we should probably cha

[2015-11-13 10:08] BibMartin commented on #245
Obviously yes. It's originally a mistake in my imperfect English.

I had originally created a method like

    def add_to(self, element):
        element.add_children(self)

(see discussion with @andrewgiessel in https://github.com/python-visualization/folium/pull/203#issuecomment-135877399)

I would at least add the `add_to` method ; and eventually change `add_children` for it accepts lists of el

[2015-11-13 10:11] themiurgo commented on #245
Yes @BibMartin, the method is already there and works perfecty. You were foreseeing this. :+1:

I'm just proposing that we change the current `add_children` to `add_child` and that in the deprecation message we advise using the `add_to`, to mirror Leaflet.

[2015-11-13 10:15] BibMartin commented on #245
:+1: We just need to revert the mechanic, so that `add_children` calls `add_to` ; then a small `for` loop. I try to do in ASAP.

Question : provided we're only on `master`, do we need to raise a deprecation warning ?

[2015-11-13 10:18] themiurgo commented on #245
I don't think we need a deprecation warning advising not to use `add_children`. I think we need to change the deprecation warnings that are already there and have them advise `add_to`. I can take care of it in the PR #246 .

[2015-11-13 10:40] ocefpaf commented on #245
I agree with @themiurgo.  No need for a new deprecation warning.  Actually, this is why I am not in a hurry for `v0.2.0`. (Which we my be bold and start calling `v1.0.0` at some point :wink:)

We will have more discussions like this and we need more opinions on the table.
Thanks @themiurgo for bringing that up!

[2015-11-13 10:47] ocefpaf commented on #244
Reviewer :gun:

Oh no wait!! I was the Reviewer!!!

[2015-11-13 11:02] themiurgo commented on #244
:v:

[2015-11-13 12:17] BibMartin opened #247 "There are two `Map` class in the code"
An issue to give more visibility to @themiurgo's remark from https://github.com/themiurgo/folium/commit/2300c2e2b375c607ca0f52ac95d69b65a4f2e697

@themiurgo

In my mind, `map.Map` is the real true object we want to have and maintain. I just let `folium.Map` inherit from it to keep backward compatibility, and host deprecated methods.
I imagine that `folium.Map`'s methods will either move to `map.Ma

[2015-11-13 13:20] ocefpaf commented on #247
I am not sure I get the problem. (Probably because I haven't been paying attention as I should.)

That being said.  I do not have any issues keeping `folium.map.Map` as "the one," but I would like to access it from the `folium.<namespace>` too.

[2015-11-13 13:35] themiurgo commented on #247
The problem is now that a folium.Map (the old, legacy object) is inheriting from folium.map.Map (the new object, the one we want to keep). Having different, similar objects under the same name causes confusion and can determine name clashes.

Two solutions I think of:
- We can rename folium.map.Map -> folium.map.LegacyMap and have folium.map.Map inherit from it. When we want to drop the deprecated

[2015-11-13 13:50] ocefpaf commented on #247
Indeed.  We have to fix that.

- We merge the objects (keeping deprecated methods together in the same section) and when we want to drop the deprecated methods we just delete their lines. :smile:

Not sure which one is more appealing. I will leave the decision to @BibMartin.

[2015-11-13 13:56] BibMartin commented on #247
@ocefpaf

provided that `folium.Map = folium.folium.Map` inherits from `folium.map.Map`, you access it in the namespace (with more methods though).

I would be in favor of the second solution because `folium.map.Map` is the future `Map` method. But it may force us to merge `map.py` and `features.py`, provided that the import stack is `folium imports features ; features imports map`. My idea on thi

[2015-11-13 14:00] ocefpaf commented on #247
Do you think that is a bad idea?  What would be the downsides?

[2015-11-15 09:25] methodds opened #249 "Masking map areas without overlay"
The possibility to use JSON data for map overlays is easily the best feature of folium. For many visualizations, non-overlay parts of a map are not important and disturb viewers from focusing on the main information.  Masking map areas (e.g. to white, black, or transparent) without overlay would be a very nice addition to folium, so that in combination with #210, one can create maps like this:

![

[2015-11-15 09:29] themiurgo commented on #228
This looks solved, closing.

[2015-11-15 09:29] #228 closed

[2015-11-15 09:31] themiurgo commented on #249
Great suggestion! :+1:

Would you like to contribute this enhancement by writing it yourself? It would mean a lot to the rest of the folium users. :smile:

[2015-11-15 09:34] themiurgo commented on #214
Closing this, duplicate of #210.

[2015-11-15 09:34] #214 closed

[2015-11-15 09:38] ocefpaf commented on #228
Yep.  We forgot to close it.  Thanks @themiurgo!

[2015-11-15 09:39] themiurgo commented on #210
@methodds @raidoz Would any of you be interested in implementing it? It should be fairly easy to contribute it as a new class heavily similar to Popup.

[2015-11-15 10:25] methodds commented on #249
I would love to contribute to folium but unfortunately have no free time left in 2015 :disappointed: . If this enhancement and #210 won't be implemented by the beginning of the next year, I will try to write them.

[2015-11-15 22:25] themiurgo commented on #244
@BibMartin Any particilar reason for this or you just forgot? :)

[2015-11-16 08:27] BibMartin commented on #244
No reason for this ; I hope there's no other *collateral effect* of the refactoring.
@themiurgo thanks for having noticed this.

[2015-11-16 10:33] themiurgo commented on #244
It's alright, if not I'll just reimplement it or fix it. Just wondering if I had to be aware of any particular reason why this might not work. :smile:

[2015-11-16 17:09] themiurgo opened #252 "Popups that contain a quote don't work"
To reproduce:

[code]

[2015-11-16 17:18] themiurgo commented on #252
Also `\r` within the text breaks the output. We should strengthen the tests and find out if other symbols break Popups.

[2015-11-16 17:23] ocefpaf commented on #252
Indeed.  Our tests are our Achilles heel at the moment.  I am labeling issues like with a "Add Test" label so we close this only once we have it fixed and with a new test to prevent it from re-surfacing.

[2015-11-16 17:26] themiurgo commented on #252
No pressure at all, but if this could be fixed before Thursday (pushed to pip) it would be great as I'm introducing folium to Geography students with a notebook tutorial. :smile:

[2015-11-16 17:30] ocefpaf commented on #252
Fixing?  Maybe.  Pushing a new release? I am not so sure...  I wanted to take `v0.2.0` slow, there are more corners to cut.

Any chance of pip-installing from `master` for your tutorial?  Or maybe a conda package targeting latest `master`?

PS: If that is an open course I'd love to see a link for the slides/notebooks in our README

[2015-11-16 17:35] themiurgo commented on #252
They are not experienced at all with sys stuff or programming and they have to install folium themselves, so that's why I wanted to avoid long commands that they have to type. I'll solve somehow.

And I'll share my notebook, but this course is really basic so don't expect anything too exciting.

[2015-11-16 17:39] ocefpaf commented on #252
I was thinking something like:
`pip install https://github.com/python-visualization/folium/archive/master.zip`

And if they have conda I can prepare a package and put it on the ioos channel so they can:
`conda install -c ioos folium`

Seeing folium being used with Geography students **is** exciting enough for me!

[2015-11-16 18:40] BibMartin commented on #252
Or we can just add a tag (no delivery on pypi) ; so that you can

    pip install git+https://github.com/python-visualization/folium.git@tag000

(or something like this)

[2015-11-17 16:56] ocefpaf opened #255 "How about we kill the current way to do choropleth?"
And add this plugin: https://github.com/timwis/leaflet-choropleth

[2015-11-17 17:25] ocefpaf opened #256 "Open with..."
Assess the strength and weakness of these plugins and choose one (or more) to implement in folium.
- https://github.com/mapbox/leaflet-omnivore
- https://github.com/makinacorpus/Leaflet.FileLayer
- https://github.com/joker-x/Leaflet.geoCSV
- https://github.com/calvinmetcalf/leaflet.shapefile
- https://github.com/mpetazzoni/leaflet-gpx

@themiurgo this probably something that your geography student

[2015-11-17 18:28] PBrockmann commented on #212
I have just tested the 0.1.6 release but the bug is still there.
Am I missing something ?

![folium_marker](https://cloud.githubusercontent.com/assets/5402758/11220663/5973132c-8d61-11e5-9d53-c7e8c2c3f9e5.png)

[2015-11-17 18:33] ocefpaf commented on #212
Yep: https://github.com/python-visualization/folium/pull/237

To inline everything breaks more stuff than fixes it.  The proper fix is in folium `v0.2.0` which compartmentalizes the elements.  Sorry, but if you can figure out a better way to fix this we can always release a `v0.1.7`.

Although I strongly recommend you to take a look at the unreleased `v0.2.0`.  There lots of nice feature and impro

[2015-11-17 18:35] PBrockmann commented on #212
Ok I switch to the v0.2.0
Thks

[2015-11-17 20:25] BibMartin commented on #255
:+1: :+1: today's choropleth (`geo_json` in fact) method is rather heavy and involves several elements.
I guess this plugin can let things be simpler.

:-1: yet another javascript dependency

[2015-11-18 18:15] themiurgo opened #257 "Marker and other features are not accessible."
Since 9abdd8f4d8ff5d106ff3f681c9150a039b9d7872 Marker, Popup and other features are not accessible from `folium.features`.

I believe what happened is that pep8 marked the imports as unused (as those classes are not used in `folium.features`), and tests did not catch that because they still involve the legacy usage (e.g. `Map.simple_marker` instead of `Map.add_to(Marker)`).

Two things we need to

[2015-11-18 18:29] ocefpaf commented on #257
Not really.  I removed those on purpose as I thought they should not be on features.  But I am re-thinking my decision, since it is easier to access everything in there.

I like that idea.  We need to discuss this with @BibMartin and @andrewgiessel.

Again... Our tests are our Achilles heels.  Let's leave this issue open until we implement something in that regard.

[2015-11-18 18:36] themiurgo commented on #252
For some reason also after #253 `\r` breaks the popup.

[2015-11-18 19:22] ocefpaf commented on #255
So are on the same page to add a new `choropleth` method, but not on using that plugin.

What do you suggest?  Maybe we can just re-factor what we have and make it simpler?

[2015-11-18 19:47] themiurgo commented on #255
I'm very much in favour of changing the way choropleths are made. :+1:

map.geojson should be only an easy way to import/export basic features (like Markers, PolyLines and such), in a way similar to what geojson.io does. The attributes `columns`, `key_on`, `threshold_scale`, ... which are currently present in geojson and such are very choropleth related and not at all geojson-related.

[2015-11-27 04:14] jelmelk opened #259 "Unable to assign string directly to popup using master branch"
Doing some small testing and I did the follwing:

    some_marker = folium.Marker(location=[45.5215, -122.6261], popup='test')

I would get this error: `AttributeError: 'str' object has no attribute 'get_name'`. If I change that to `popup=folium.Popup('test')` it works fine. Is that intended?

Main reason I'm asking is because it seems somewhat tedious having to call that to assign a string to the

[2015-11-27 07:55] BibMartin commented on #259
@jelmelk

In the background, we cannot do without the `Popup` object, because one may be willing to create more complicated popups (with a vega chart for instance).

But I agree it's tedious, and in the foreground we can shortcut things in the `Marker` code to catch cases when the arg `popup` is a `str` (or `bytes`), and to replace it by `Popup(popup)`.

It'd be great if you did a PR for that (and

[2015-11-27 11:23] ocefpaf commented on #231
@BibMartin I renamed this issue to `Generic GeoJsonStyle` to reflect the problem better.

[2015-11-27 13:41] jelmelk commented on #259
I'm looking at that right now. Would it be better to change each marker individually since the error rises at `map.py` on line 389 for `Marker` and `element.py` on line 414 for `CircleMarker` etc...

They all have `element.py` line 46 in common which is where the exception is actually being called from. What would be the preference in this case?

[2015-11-27 15:10] ocefpaf commented on #208
Hi @hunan0121 I am closing this because this is a feature that is currently under development.

Stay tuned for the next version of folium and please re-open this issue if necessary.

[2015-11-27 15:10] #208 closed

[2015-11-27 15:22] ocefpaf commented on #235
Hi @oztalha,

We are focused on getting `folium 0.2.0` ready.  So we don't have the manpower to investigate this.

Can you:
  1. provide a [sscce](http://sscce.org/) showing the problem;
  1. check if latest master does not fix that already;
  1. start a PR with your ideas above.

Thanks!

[2015-11-27 15:22] ocefpaf commented on #155
Ping!

[2015-11-27 15:27] ocefpaf commented on #171
@themiurgo can you parse this list against in the light of the latest changes?  I guess we are getting close.

[2015-11-27 15:32] ocefpaf commented on #89
@BibMartin I did not try your hint for using mpl stuff as arg.  Would that fix this issue?

[2015-11-27 15:34] ocefpaf opened #263 "The `.geo_json()` method is broken in master"
See http://nbviewer.ipython.org/gist/ocefpaf/18ceaf7f76279966d54e

Before fixing this we need to discuss:

- [ ] Adding a new choropleth method. See #255
- [ ] Improve the `GeoJsonStyle` class. See #231, #198, and #120.
- [ ] Remove the default legend `[-1, 1]` when styling GeoJSONs that do not need a legend.

The goal the to replace current `.geo_json()` with a `choropleth.()` and the `GeoJson`+`

[2015-11-27 16:48] BibMartin commented on #259
I imagine you can simply fix it in the `Marker.__init__` is testing when `isinstance(popup,text_type) or isinstance(popup,str_type)` and then overwrite the popup attribute.

[2015-11-27 16:50] #155 closed

[2015-11-27 16:52] BibMartin commented on #89
I guess it's possible. I have to build an example/test.

[2015-11-28 09:15] BibMartin commented on #89
Sorry, it's not possible for the moment. The 'hint' trick is for `ImageOverlay` not for `GeoJson`. We definitely have to do something for simplifying choropleth stuff.

[2015-11-28 17:37] ocefpaf commented on #89
:+1:

[2015-11-30 13:46] themiurgo commented on #259
We should strive to generalise this, while we're at it. You might want to have a popup also for Polylines, for example.

[2015-11-30 13:53] themiurgo commented on #263
Yes, this is crucial. I've already mentioned my opinion on how we should structure the API in #255 and #266.

[2015-11-30 13:57] #223 closed

[2015-12-01 18:11] foodstamps commented on #255
Is the intent to completely mirror the plugin? This would eliminate the option of specifying breakpoints. It would be preferable to have both options available - default breaks, as well as breaks set by the user.

Also, the current way to assign the value field used for coloring is a bit confusing. I'm still not 100 percent clear if I can use one of the geojson keys as the field input, or if it mu

[2015-12-01 22:05] stleon opened #268 "Control scale on map"
Hi, I want to add on map control scale, that shows km and miles.

In **js** I use:
[code]

But in **Folium** I can't find any parameter for map ([code](https://github.com/python-visualization/folium/blob/master/folium/map.py#L20)), that can build control scale.

Pull request needed)

[2015-12-02 03:29] jelmelk opened #269 "line and multiline deprecation warning"
[`line`](https://github.com/python-visualization/folium/blob/master/folium/folium.py#L129) and [`multiline`](https://github.com/python-visualization/folium/blob/master/folium/folium.py#L175) don't have the usual deprecation warning.

Can I pull a PR for that?

[2015-12-02 12:06] ocefpaf commented on #269
We missed that.

Please!

[2015-12-02 14:22] #269 closed

[2015-12-02 15:53] BibMartin opened #272 "A discussion about using `runipy` or something similar"
To continue discussion started in #271

@ocefpaf wrote:

We have two levels of validation :
* Ensure that python code works without error
* Ensure that the rendered HTML+JS has the desired output

Ensuring the second level is complicated because we have to test the Javascript and the HTML rendering (and your crazy idea is interesting BTW).

But what I mean is still in the first level. We run the e

[2015-12-02 15:57] BibMartin commented on #272
For that purpose, we may have a huge (single) notebook to generate and check before each PR.
A drawback : in every PR, we will have this NB committed with many changes to handle.

[2015-12-02 16:00] ocefpaf commented on #272
Note necessarily.  We can clone a "gallery" notebook repository, `runipy` on them, and get them publish as a `gh-pages`.  All automated in Travis. I will take a stab at this next weekend.

[2015-12-02 16:07] BibMartin commented on #272
Anyway, I guess we won't eye-check evrything in a *gallery* for every PR ; while scrolling in a notebook seems lighter to me.

An advantage of being ignorant : I see magics everywhere.

:+1:, please

[2015-12-02 16:09] ocefpaf commented on #272
Let's see the challenges to implement this first and then we can decide on a model.  I envision an index.html with links to each notebook.  The scrolling might be a convenience that we won't have in that model, but that way we can simply keep adding notebooks instead of editing the same one.

[2015-12-02 16:10] BibMartin commented on #272
:+1:

[2015-12-02 16:33] ocefpaf opened #273 "Broken _repr_html_"
I mentioned in #271 a problem with the `_repr_html_`.  NB this is not related to `line` and `multiline` as I mentioned in #271.  It is a problem introduce in the recent PRs :unamused:

@BibMartin This really urges for #272

See http://nbviewer.ipython.org/gist/ocefpaf/931066a4402320cf872b

[2015-12-02 16:53] BibMartin commented on #273
@ocefpaf
I can't reproduce the bug.
Can you post the commit nb, and the browser version you use, please ?

[2015-12-02 17:44] ocefpaf commented on #273
I see this in both `Firefox 42.0` and `Chromium 46.0.2490.86`.

A bisect shows that I introduced this in 11fc66d5e2d4b6ad484969335303a4cd8050178a

See http://nbviewer.ipython.org/gist/ocefpaf/a05c60ffa264126629b8

[2015-12-02 17:51] ocefpaf commented on #273
I believe I found the problem.  I will prepare a PR shortly.

[2015-12-02 19:57] BibMartin commented on #120
It can be done base on #266 discussion. See @ocefpaf 's idea.

[2015-12-02 20:11] #273 closed

[2015-12-03 20:00] ocefpaf opened #278 "Finish TileLayer implementation"
TODO:
- [X] Write the docstrings.
- [ ] Set the active property when adding multiple tile layers to avoid getting them all downloaded at once.
- [ ] Add all the options available in leaflet.

See: http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/master/test_add_tile_layer.ipynb

~~PS: We still need some docstrings for `v0.2.0`~~

[2015-12-03 20:03] ocefpaf commented on #263
See #266

[2015-12-03 20:05] ocefpaf commented on #255
Hi @foodstamps.  This issue is being addressed by #266.  We won't be using the plugin for now.

[2015-12-03 20:05] ocefpaf commented on #231
See #266

[2015-12-03 20:06] ocefpaf commented on #198
It won't be default, but a convince function for the simple-spec will be available.

See #266.

[2015-12-04 10:18] ocefpaf commented on #257
I am closing this and opening another issue.

[2015-12-04 10:18] #257 closed

[2015-12-04 10:19] ocefpaf opened #279 "Test if all features are accessible"
See #257

[2015-12-04 10:23] ocefpaf commented on #247
@BibMartin can you tag with `v0.2.0` or `v0.2.1` depending on the amount / importance.

[2015-12-04 10:25] ocefpaf commented on #252
@BibMartin do you think that the `\r`is easily addressed by a small change in the template, like for the quotes?  If not let's close this issue and open a new one tagged `v0.2.1`.

[2015-12-04 10:27] ocefpaf commented on #158
@andrewgiessel and @BibMartin I am pretty sure that this one can be closed.  Re-open it if I am mistaken.

[2015-12-04 10:27] #158 closed

[2015-12-04 10:28] ocefpaf commented on #245
It looks like this one was taken care of, right?

[2015-12-04 10:48] themiurgo commented on #171
I just did. :+1:

[2015-12-04 10:55] ocefpaf commented on #171
Thanks!

[2015-12-04 11:13] ocefpaf commented on #192
@BibMartin I am clueless when it comes to css and styling. Do you think this is easily fixed?  If not let's tag `v0.2.1` and start addressing this creating a test using @amitbend https://github.com/python-visualization/folium/issues/192#issuecomment-132736473

[2015-12-04 11:25] ocefpaf commented on #241
I have been thinking about this for a while and I guess we can keep folium light and use optional dependencies. However, I would like to change the current way we do this.

Instead of

[code]

and then,

[code]

Let's just import numpy inside the function that uses numpy.  I and leave the `ImportError`.  Less code lines to maintain and virtually the same information will be provided to the user.

[2015-12-04 11:33] BibMartin commented on #192
I guess this is resolved by `v0.2.0` because you can update yourself the version of bootstrap (or any other folium lib) in doing:

    folium_map = folium.Map()
    folium_figure = m.get_root()
    folium_figure.header._children['bootstrap'] = folium.element.JavascriptLink(
        '{{another url of your choice}}')

Note that I know few about Flask and Django. But if you want to ensure there's no

[2015-12-04 11:36] ocefpaf commented on #192
At least tagging them :grin:

[2015-12-04 12:03] ocefpaf commented on #241
Right now `vincent` is 100% external.  We don't even check if the instance is a vincent object! We check if it is a tuple and that is it.  So no need to change anything in there.

For the rest see #280.

PS: Maybe we should change the vincent popup to an HTML popup that could take Bokeh or MPLD3 plots too.

[2015-12-04 12:51] BibMartin commented on #241
Rethinking about it ; we may accept further dependencies,
but only in `plugins` so that the user don't face the surprise of an Error.

In that case, we can *just import numpy inside the function that uses numpy* and document that the plugins requires numpy.

[2015-12-04 12:53] ocefpaf commented on #241
OK!  Can we close this?

[2015-12-04 12:54] BibMartin commented on #241
If you're finished, I do an extra commit and wait for your feedback before re-squashing

[2015-12-04 12:56] ocefpaf commented on #241
I am done.

Sure, but I think this comment was for #266, right?

[2015-12-04 12:56] BibMartin commented on #241
right, I've removed it. We can close this

[2015-12-04 13:02] #241 closed

[2015-12-04 13:21] ocefpaf opened #281 "RegularPolygonMarker needs a docstring"
Things like  `opacity` and `fill_opacity`, `color` and `fill_color` requires better explanation.

[code]

Reference: https://github.com/humangeo/leaflet-dvf/wiki/6.-Markers

@jelmelk is this something you are willing to do?

[2015-12-04 13:24] ocefpaf commented on #281
Also, the mapping from the old to the new syntax might help to sort this out.

[code]

[2015-12-04 13:34] ocefpaf commented on #229
@BibMartin the map is properly re-sized, but the iframe is not.

Is this a Jupyter thing?  Should I tag `v0.2.1`?

[2015-12-04 15:09] timhowcroft commented on #6
I was wondering if this ever got implemented? It would be super useful for the project I'm working on.

[2015-12-04 15:20] BibMartin commented on #229
This is because you change the `Map`'s size, instead of changing the `Figure` size.

Try

    f = folium.element.Figure(width=width, height=height)
    folium.Map(location=[lat, lon], tiles="OpenStreetMap",
               zoom_start=zoom_start).add_to(f)
    f

I guess this needs to be changed, but my idea when coding this was to separate the `Map` object and the `Figure`, so that you can put seve

[2015-12-04 15:21] ocefpaf commented on #6
Folium underwent a major re-factor and we are re-visiting old issues.  That is some we all want to see implemented, but time is scarce.

With that said we need to generalize `onEachFeature` to take external Popups or to read data from the GeoJSON itself.

@BibMartin `onEachFeature` was removed on the re-factor.  Do you have any plans?

[2015-12-04 15:25] ocefpaf commented on #229
Now I realize where the width and height is coming from in the iframe.

I am on the fence.  On one side I think most people will only create maps and want to display them in the notebook.  However, the current implementation is more generic and [very powerful](http://nbviewer.ipython.org/github/bibmartin/folium/blob/crossfilter/examples/Crossfilter%20example.ipynb).

Not sure if we should leave th

[2015-12-04 15:26] BibMartin commented on #6
I guess this is part of the `simple-style` move we discussed in #198 and #266.
The Popup and Icons will have to be read from the GeoJson.

I'd suggest to keep all that in #198 to have centralized tracking.

[2015-12-04 15:28] BibMartin commented on #229
Yes, I'd be in favor of keeping things *structured* ; but provided

, maybe we can do an exception for this and add a `figsize` parameter in the `Map` object.
(and a `set_figsize` method)

[2015-12-04 15:30] ocefpaf commented on #198
We should also implement a way to add `onEachFeature`.

(See https://github.com/python-visualization/folium/issues/6#issuecomment-161994518)

[2015-12-04 15:30] ocefpaf commented on #6
Referenced [here](https://github.com/python-visualization/folium/issues/198#issuecomment-161996012).  closing this to avoid duplication.

[2015-12-04 15:30] #6 closed

[2015-12-04 15:31] ocefpaf commented on #229
(and a set_figsize method)

Nope.  Let's avoid adding complexity.  People who wants to show different sized maps should know what they are doing and dive in the `Figure`.

Let's keep it as is.

[2015-12-04 15:31] #229 closed

[2015-12-04 15:32] ocefpaf commented on #229
Thanks for the clarifications @BibMartin!

[2015-12-04 15:33] BibMartin commented on #229
I think we may keep in mind this issue's nb ; we'll have to link to it from duplicates.

[2015-12-04 15:45] ocefpaf commented on #229
This notebook, http://nbviewer.ipython.org/gist/ocefpaf/99a390dbe5a1cb8cf4a6, describes the current state of the Figure/Map size.  We can address some of those points later in `v0.2.1`.

[2015-12-04 16:24] ocefpaf commented on #229
For future reference here is how to get the previous behavior:

[code]

[2015-12-04 16:55] ocefpaf opened #284 "Simplify the GeoJSON parsing"
We have this in the choropleth:

[code]

However, `geo_path` no longer makes sense since we are always embedding the data.

[2015-12-04 18:28] ocefpaf opened #285 "Loading data for the GeoJson"
The [`GeoJson()`](https://github.com/python-visualization/folium/blob/master/folium/features.py#L228-L234) can be instantiated with a `file-object`, a JSON string, or a JSON-like python dict.

[code]

However, we lost the ability to load it by passing a path string and to not embed the data in the HTML. The former can be addressed by adding an extra logic there. The latter needs some thinking:

-

[2015-12-04 19:43] foodstamps commented on #255
Thanks @ocefpaf!

[2015-12-04 19:55] ocefpaf opened #287 "Fix Marker docstring example"
See https://github.com/python-visualization/folium/blob/master/folium/map.py#L357-L381

[2015-12-04 20:17] ocefpaf opened #288 "Advanced HTML popups"
We can use the `Vega` class to add vincent popups (see cell [6] of the notebookbelow), but we lost the auto padding

[code]

We also lost the ability to pass arbitrary HTML as a popup.  (Cells [5] and [7].)

@BibMartin vincent is not that healthy, so I am thinking that we can substitute the Vega class for something more generic.  Does this make sense to you?  Or or you have a different idea?

Note

[2015-12-04 21:17] ocefpaf opened #289 "New split_six is not working as expected"
When using `folium.utilities.split_six` to get the old behavior we are getting a different scale than before:

`split_six`:
![wrong](https://cloud.githubusercontent.com/assets/950575/11601551/b693771e-9ab2-11e5-838e-22efde8e4006.png)

old behavior:
![correct](https://cloud.githubusercontent.com/assets/950575/11601554/b852acbe-9ab2-11e5-9bad-c7099287eab0.png)

Note0: We also want integer number whe

[2015-12-05 17:34] BibMartin commented on #231
@ocefpaf
Can we close this, as #266 is merged ?

[2015-12-05 17:35] BibMartin commented on #89
@ocefpaf
Can we close this based on #266 merge, or do you want to wait for an example in the docs ?

[2015-12-05 18:16] BibMartin commented on #80
Can we close this ? it's solved by #242

[2015-12-05 19:06] ocefpaf commented on #80
@BibMartin yep.  We missed this one.  Closing this.

[2015-12-05 19:06] #80 closed

[2015-12-05 19:07] ocefpaf commented on #89
Let's write an example first.  @psychemedia if you beat us to it please share here :wink:

[2015-12-05 19:08] ocefpaf commented on #231
Yep!  #266 was an issue killer :stuck_out_tongue_winking_eye:

[2015-12-05 19:08] #231 closed

[2015-12-05 22:20] ocefpaf opened #291 "We have a bug in `mercator_transform`"
See cell [5]: http://nbviewer.ipython.org/gist/ocefpaf/2c35a679f333c57ecd1d

[2015-12-06 00:14] andrewgiessel commented on #291
Not sure what is going on here, because the nbviewer link isn't working well.  When I go to the gist and run it locally, the "bad" cell looks right and the "good" cell looks wrong.  I'll dig into it more

[2015-12-06 09:19] BibMartin commented on #285
Fixed by #290. Closing this

[2015-12-06 09:19] #285 closed

[2015-12-06 09:22] BibMartin commented on #284
@ocefpaf
I would keep it like this in `v0.2.0` to keep backward compatibility with `geo_json` method.
And when we kill `geo_json` in `v0.2.1`, we can change `choropleth` API then, don't you think so ?

[2015-12-06 09:23] BibMartin commented on #259
Fixed by #283. Closing this.

[2015-12-06 09:23] #259 closed

[2015-12-06 23:01] ocefpaf commented on #284
:+1:

[2015-12-06 23:06] ocefpaf commented on #291
@andrewgiessel nbviewer is back online.

The **Bad** (`cell [4]`) you can see the wave north of the US (wrong).

The **Good** (`cell [5]`) shows the bug, but the results should be like those from `cell [6]` (compare with the image on `cell [7]`).

[2015-12-07 00:55] themiurgo commented on #120
When this is ready I'd make it default, as I can see only advantages and no drawbacks. What do you think?

[2015-12-07 08:34] BibMartin commented on #89
To keep track of things, we need to review #292 before closing this issue.
@ocefpaf can you assign yourself to this please ? (I cannot review myself)

[2015-12-07 08:38] BibMartin commented on #281
Fixed by #282. Closing this.

[2015-12-07 08:38] #281 closed

[2015-12-07 17:33] psychemedia commented on #89
@ocefpaf
Exciting:-) I will try to have a look at this - but it probably won't be before the end of this week.

[2015-12-09 15:22] ocefpaf commented on #288
Closed by #294

[2015-12-09 15:22] #288 closed

[2015-12-10 08:37] BibMartin commented on #263
#266 merged.

[2015-12-10 08:37] #263 closed

[2015-12-10 12:35] BibMartin opened #295 "Scan the code for `Layer`s and `control`"
In PR #293 , we introduce a `Layer` object that enables to define whether a Feature shall appear in layer_controls (with the optional argument `control`).

This needs to be generalized to all features (`Marker`, ...)

[2015-12-10 14:54] BibMartin commented on #255
@ocefpaf
Can we close this, or do we want to keep track of the plugin ?

[2015-12-10 15:00] ocefpaf commented on #255
Safe to close.  I guess the plugin bring no advantage to our current implementation.

[2015-12-10 15:00] #255 closed

[2015-12-10 16:44] netchose opened #298 "1.6 pb in geojson_style.js"
hi,

when i replace : ```function {{ style }}(feature) { ```# js error

by :```` function {{ style }}(features) { ```` # it works

my test ( geojson file from https://github.com/gregoiredavid/france-geojson ) :
import folium
import pandas as pd

d = {'region' : pd.Series(["Corse","Champagne-Ardenne","Picardie"]), 'valeur': pd.Series([10,50,30])}

df=pd.DataFrame(d)

map= folium.Map(location=[47.70

[2015-12-10 16:54] BibMartin commented on #298
What if you replace `key_on="features.properties.nom",` by `key_on="feature.properties.nom",` in your test ?
 I think there have been a typo in the documentation and `feature` is the good syntax.

[2015-12-10 17:46] netchose commented on #298
Indeed, it works. thank you for these clarifications.
Bravo for this beautiful project

[2015-12-10 22:22] baobobs opened #299 "Choropleth without bindings"
Is it possible to create a choropleth without binding? The data I intend to use for the choropleth is among the geojson keys (HIMEDCY).

I have the following code:

m.choropleth(geo_path="sqlexport9658.json",
                   columns=['BG10', 'HIMEDCY'],
                   fill_color='PuBu',
                   threshold_scale=[10000, 50000, 100000, 150000])

Both BG10 and HIMEDCY are keys within

[2015-12-11 12:26] BibMartin commented on #299
If I understand well, you have a GeoJSON named `sqlexport9658` of the form :

    {"type" : "FeatureCollection",
    "features" : [
        {
            "geomety" : ...
            "properties" : {"BG10" : ... , "HIDEMCY" : ... },
           ...
            },
        ...
        ]
    }

and you would like to use colors based on "HIDEMCY" values.

Is that right ? Otherwise, can you provide a sam

[2015-12-11 15:56] baobobs commented on #299
Apologies for not including that in the prior message.

Attached is the json file, changed to txt per Github requirements.

Here's a snippet (starting from the top):

{
"type": "FeatureCollection",
"crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },

"features": [
{ "type": "Feature", "properties": { "BG10": "270370601011", "HIMEDCY": 65694.000000 }, "geometry": {

[2015-12-12 09:12] BibMartin commented on #299
If you're using `v0.1.6` or before, you have to create a DataFrame that binds explicitely `BG10` to `HIMEDCY`. Something like this sould work :

    # Open and load the data
    d = json.load(open('/home/journois/Téléchargements/sqlexport9658.txt'))

    # Create a DataFrame binding BG10->HIMEDCY for each feature
    data = pd.DataFrame([[feature['properties']['BG10'],feature['properties']['HIMEDC

[2015-12-14 16:07] baobobs commented on #299
That's great, thanks @BibMartin!

[2015-12-14 16:07] #299 closed

[2015-12-14 18:31] mhassell opened #301 "Unable to display more than 708 markers with clustering"
I've found that if I used simple markers and set clustered_marker=True, I can display up to 708 markers.  If I take more than 708 markers, no markers appear anywhere on the map.  I'm using Philadelphia crime statistics for 2015.  Here's a working example

import pandas as pd
import folium

table = pd.read_csv('police_inct.csv')
crime_map = folium.Map(location=[39.9522, -75.1639], zoom_start=12)
fo

[2015-12-14 18:41] ocefpaf commented on #301
It might be.  Let's check it out.

That is the right way :wink:

Thanks for the report!

In this [1] example I use 1000 markers and they are displayed just fine. Can you share your data so we can take a look?  I am guessing you might have a problem at your 708th point.

http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/master/test_clustered_markes.ipynb

[2015-12-14 19:07] #301 closed

[2015-12-14 19:08] mhassell commented on #301
Thanks for the reply!  I wasn't scrubbing NaNs from my data, and that was messing it up.  I just closed the issue.  Is there anything else I need to do?

[2015-12-14 19:17] ocefpaf commented on #301
Nope.  Thanks for the report!

[2015-12-14 19:38] andrewgiessel commented on #301
Just a suggestion:  make sure you don't have any NaNs in your data!

On Mon, Dec 14, 2015 at 2:18 PM Filipe <notifications@github.com> wrote:

[2015-12-15 14:42] psychemedia commented on #35
I've just come up with a recipe for doing this using selenium. For a folium map, `m`:

    import os
    import time
    from selenium import webdriver

    delay=5
    fn='testmap.html'
    tmpurl='file://{path}/{mapfile}'.format(path=os.getcwd(),mapfile=fn)
    m.save(fn)

    browser = webdriver.Firefox()
    browser.get(tmpurl)
    #Give the map tiles some time to load
    time.sleep(delay)

[2015-12-15 15:17] ocefpaf commented on #35
@psychemedia that is very cool.  It is also giving me some crazy ideas about continuous integration testing of maps.

[2015-12-15 18:09] baobobs commented on #198
It would be great to have popup capability added to geojson / choropleth layers. Eager to see `onEachFeature` added. Thanks guys!

[2015-12-15 19:58] psychemedia opened #302 "Centering and Auto-zooming Choropleth maps"
Is there a recognised way of centering a choropleth map based on a bounding box around the extent of boundaries included in a geoJSON file?

I didn't have time to look around to see if there is a polished boundary box detector routine anywhere, so I used the following quick script:

    import json
    jf=open(GEOJSON_FILE,'r').read()
    jj=json.loads(jf)

    acc={'minlat':999,'maxlat':-999,'min

[2015-12-15 21:20] ocefpaf commented on #302
We [had](https://github.com/python-visualization/folium/issues/244) the [fit_bounds](http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/5deac48727f7f695817061d7de3f0d58665a9677/test_fit_bounds.ipynb) and we should implement it back as soon as possible.

Getting the bounds from the features was never implemented though (as far as I can remember).

PS: If you read you GeoJSON with shap

[2015-12-16 00:57] psychemedia commented on #302
@ocefpaf great - thanks...

[2015-12-16 01:18] #302 closed

[2015-12-16 08:10] BibMartin commented on #225
Just a question of organisation : where should be stored each plugin components (code, test code, template, eventual data files) ?

An approach would be to host everything in the plugin folder with something like this:

    folium/plugins
        ./image_overlay
            ./__init__.py
            ./somecode.py
            ./test.py
            ./image_overlay.template
            ./some_data.js

[2015-12-16 08:11] BibMartin commented on #34
Can we close this one ?

[2015-12-16 08:11] BibMartin commented on #291
Can we close this one ?

[2015-12-16 10:55] ocefpaf commented on #291
Yep.

[2015-12-16 10:55] #291 closed

[2015-12-16 10:57] ocefpaf commented on #34
Yes.  We have some integration with GeoPandas now.  any additional functionality deserves a new issue.

[2015-12-16 10:57] #34 closed

[2015-12-16 11:00] ocefpaf commented on #225
I am not OK with that pattern.  Mainly because it is uncommon and not because I see a problem right away.  I'd rather have the code for the tests inside a `test/plugin` folder.  We can do a file for each plugin.

[2015-12-16 11:02] ocefpaf commented on #302
Oh yes.  I forgot about that.

[2015-12-16 11:44] BibMartin commented on #225
ok. To sum up :

* The code is in `folium/plugins/image_overlay.py` (or a submodule)
* The test code is in `tests/plugins/test_image_overlay.py`
* The test data are in `tests/plugins`
* The test templates are inline, or in `tests/plugins`

[2015-12-16 13:55] ocefpaf commented on #225
I like that.  We can put the test data and templates in `tests/plugins/{data,templates}` if you think it will be better organized that way.  Ideally we could try to make the data and template light enough to be inside the `test_{plugin}.py` file to make each test file self-contained.

[2015-12-16 13:57] BibMartin commented on #225
pre {display: block;font-family: Helvetica Neue, Helvetica, Arial, sans-serif;white-space: pre-wrap;margin: 1em 0;}> we could try to make the data and template light enough to be inside thetest_{plugin}.py file to make each test file self-contained.

:+1:

Envoyé depuis AndroidFilipe --- [Marketing Mail] Re: [folium] Improve plugin tests (#225) --- De :"Filipe" <notifications@github.com>A :"python

[2015-12-17 21:09] ocefpaf opened #303 "Add popups to ImageOverlays"
It would be nice to have a clickable image.

[2015-12-21 08:47] BibMartin commented on #225
See #304

[2015-12-21 14:16] BibMartin commented on #287
@ocefpaf Isn't that fixed by 50ac6c95fba7acc97cb8ca516a19c3fb0e9acedf ?

[2015-12-22 11:03] ocefpaf commented on #287
I guess so.  The link above points to `master`, so it no longer makes sense anyway.

[2015-12-22 11:03] #287 closed

[2015-12-23 20:12] pannous opened #306 "'module' object has no attribute 'Map'"
whY?

[2015-12-23 20:19] ocefpaf commented on #306
Can you be a little bit more specific?  Version, what 'module' are you talking about?  Maybe even provide a [SSCCE](http://sscce.org/)?

[2015-12-23 20:22] pannous commented on #306
solution:
mv folium.py test_folium.py

[2015-12-23 20:22] #306 closed

[2015-12-24 00:47] zalew opened #307 "pip installing from pypi doesn't install jinja"
Hi

    ╰─$ pip install folium
    Collecting folium
    Installing collected packages: folium
    Running setup.py install for folium
    Successfully installed folium-0.1.6

    ╰─$ python -c 'import folium'
    Traceback (most recent call last):
    File "<string>", line 1, in <module>
    File "/home/zalew/.virtualenvs/playground3/local/lib/python2.7/site-packages/folium/__init__.py", line 6,

[2015-12-24 01:36] jthornbrue commented on #235
I'm also having issues with the data_out path.  The problem with the current implementation is that I need to run the webserver and the python script from the same directory so that they both use the same relative path.  This is not how I have my project set up, so it's restrictive.

I recommend solving this problem by eliminating the json data file and embedding the data in the html file.  In con

[2015-12-24 08:03] BibMartin commented on #235
@jthornbrue Thank you for you comment.

This is what we've been doing in the coming `v0.2`, while keeping the possibility not to embed the data. Here's a copy of `GeoJson` dcostring:

        Creates a GeoJson plugin to append into a map with
        Map.add_plugin.
        Parameters
        ----------
        data: file, dict or str.
            The GeoJSON data you want to plot.
            * I

[2015-12-24 14:00] ocefpaf commented on #307
This is fixed in master.  In the past we did not specified the dependencies.

[2015-12-24 14:00] #307 closed

[2015-12-24 16:01] ocefpaf opened #309 "Use __geo_interface__ on GeoJson"
We can check if the object has `__geo_interface__` and just use that.  This would make `folium` more friendly to many objects that follow: https://gist.github.com/sgillies/2217756

[2015-12-26 06:08] BibMartin commented on #309
That's a nice idea ; and nice to have that common attribute.
But this protocol does not guarantee that data are in the good EPSG projection. We need to know the projection to plot data in folium. For example, see how we handle `geopandas` in https://github.com/python-visualization/folium/blob/master/folium/features.py#L243-L245

I don't know how we can handle it. We can use `__geo_interface__` and

[2015-12-26 13:42] ocefpaf commented on #309
It was your `geopandas` implementation that inspired this idea :wink:

I'd rather leave it for the user.  (We could add a `kw` and convert if an optional dependency, `pyproj`, is available... But I think that would add an extra complexity layer.)

[2015-12-27 13:37] BibMartin commented on #202
See #310

[2015-12-29 11:30] #202 closed

[2015-12-30 15:09] ocefpaf commented on #244
See #305

[2015-12-30 15:09] #244 closed

[2015-12-30 15:09] ocefpaf commented on #139
See #305

[2015-12-30 15:09] #139 closed

[2015-12-30 15:45] baobobs opened #311 "GeoJSON / choropleth popups"
Just to be clear, popups for GeoJSON / choropleth layers are not currently supported, correct? Is there a time frame as to when this may be implemented?

[2015-12-30 15:58] ocefpaf commented on #311
Hi @baobobs,

You can add popups on GeoJSON in a very flexible way using [latest master](http://nbviewer.ipython.org/github/python-visualization/folium/blob/master/examples/Popups.ipynb).  Note also that [`onEachFeature`](http://nbviewer.ipython.org/github/ocefpaf/folium_notebooks/blob/618e31754aa9325cae6c315b687bea95f3f92ae4/test_geojson_popup.ipynb) is present since [`v0.1.5`](https://github.com

[2015-12-30 15:58] #311 closed

[2015-12-31 17:41] ocefpaf opened #314 "See if we can create docs (and implement the visual tests) with nbsphinx"
http://nbsphinx.readthedocs.org/en/latest/

[2016-01-04 17:29] alexandercbooth opened #316 "Data not binding to choropleth in latest folium 0.2.0.dev (but worked in 0.1.6)"
Hi @ocefpaf & @BibMartin et al.,

First, thank you all for making such a wonderful tool!

I recently updated from the folium version currently on pip (0.1.6) to the current master (0.2.0.dev). A choropleth bound with data in 0.1.6 is no longer rendering in 0.2.0.dev. My code and images are displayed below.

# In folium 0.1.6
[code]

### This produces the following map:

![screen shot 2016-01-04 at

[2016-01-04 18:07] ocefpaf commented on #316
It seems OK to me.  Can you share your data so we can investigate this further?

[2016-01-04 18:42] alexandercbooth commented on #316
Hi @ocefpaf,

Thanks very much for looking into this for me. Sure, I will attach the topojson zip code file and the data (which is just fabricated for testing) as a csv in a zip file. The topojson file is the 3 digit us zip code tabulation area that I converted from a shape file.

Thanks!
[foldata.zip](https://github.com/python-visualization/folium/files/77541/foldata.zip)

[2016-01-04 18:46] BibMartin commented on #316
Hi @alexandercbooth
Thanks for issuing that point.

You're true, the binding has disapeared for TopoJson since #266 and it's my fault.
I'll try to tackle this soon, unless you feel like making a PR.

[2016-01-04 20:33] alexandercbooth commented on #316
Thanks so much Martin!! I very much appreciate you and @ocefpaf looking into it and finding a fix.

[2016-01-04 20:33] #316 closed

[2016-01-04 22:21] ocefpaf commented on #316
Well... @BibMartin did all the work  :wink:

And he already has a fix #317.

Thanks @BibMartin!

[2016-01-05 00:42] alexandercbooth commented on #316
Haha, well, appreciated all the same. Works great, thanks!

[2016-01-07 17:58] ocefpaf opened #318 "Using only the last style_function params when adding a sequence of GeoJSONs"
@BibMartin I might be misusing the new `style_function` syntax, but I am not sure what is going on.

I am adding a series of 4 features (LineStrings), reading the color from the GeoJSON, creating the `style_function`, and adding them to the map.

The color in the `style_data` seems correct, but the last color seems to propagate back to all the features.

See: http://nbviewer.ipython.org/urls/gist.

[2016-01-07 19:39] BibMartin commented on #318
As far as I understand, this is a python phenomenon that happens when using global variables in function.
When you write

    style_function = lambda feature: dict(color=color, weight=2, opacity=0.6)

the `color` value is a global/external variable.

In that case, python uses the value of `color` **at the moment when the function is evaluated** (not when the function is created).
An illustration:

[2016-01-07 19:47] ocefpaf commented on #318
You are right.  (I actually was just reading about that when your answer arrived ;-)

I will add a note on the docs.  Users that, like myself are so used to style things via `kargs` created in a loop, will be confused often.

Thanks!

[2016-01-07 19:47] #318 closed

[2016-01-07 19:58] BibMartin commented on #318
BTW, I had never understood this python phenomenon before.

I guess this article can be useful:

https://en.wikipedia.org/wiki/Evaluation_strategy#Call_by_sharing

[2016-01-07 20:02] ocefpaf commented on #318
Thanks!  I don't get it either, but I should've know.  I have been bitten by that before.

[2016-01-08 20:25] ocefpaf opened #319 "Add PNG/SVG images/legend using Leaflet's L.control"
We could try to implement adding objects using relative map positions like this:

![map_rose](https://cloud.githubusercontent.com/assets/950575/12208569/55c11956-b62c-11e5-92dc-4092fc0e66e9.png)

Here is the full notebook:

http://nbviewer.ipython.org/urls/gist.githubusercontent.com/ocefpaf/3c03e06a2d5347934699/raw/948d4ebbc5e2354df4ce9d3c6f68035f3032e90d/map_legend.ipynb

Note that the rose will

[2016-01-10 16:48] BibMartin opened #320 "Factor out of folium what's not map specific."
Based on the discussion we've had with @ocefpaf @themiurgo @andrewgiessel in #300, it worth factoring a piece of the code out of folium, because it's not map-specific.

2 questions remain open then:

* What has to be externalized ? At least a bit of `colormap.py` but maybe also `element.py` and so on.

* Who / where will it be maintained ? In *python-visualization* organization, or another repo ?

[2016-01-10 16:59] ocefpaf commented on #320
Yes to the former and a very coward maybe to the latter.

Where: I would prefer if that could stay in *python-visualization*, but you are the sole author of virtually all that.  So... You are the boss of that!

Who: Not me :stuck_out_tongue_closed_eyes:

[2016-01-10 17:00] ocefpaf commented on #289
Need to test it against #300 before closing.

[2016-01-10 17:03] ocefpaf commented on #195
@koldunovn's https://github.com/python-visualization/folium/issues/195#issuecomment-133105426 deserves another issue, but I think we should avoid adding non-standard ((simple-spec) ) geojson features by default.

[2016-01-10 17:03] #195 closed

[2016-01-10 17:04] ocefpaf commented on #89
I think #300 covered all that.

[2016-01-10 17:04] #89 closed

[2016-01-10 17:49] BibMartin commented on #225
@ocefpaf
Can we close this ?

[2016-01-10 18:08] ocefpaf commented on #225
Yep.

[2016-01-10 18:08] #225 closed

[2016-01-14 14:26] ocefpaf opened #324 "_repr_html_ seems to be broken in latest jupyter notebook"
Displaying maps on the notebook is an essential feature of folium making this issue is a blocker for `v0.2.0` :unamused:

[2016-01-14 16:37] ocefpaf opened #325 "Add the period option to TimestampedGeoJson (and/or fix the timestamps?)"
Even when providing an array of times (in milliseconds) it seems that TimestampedGeoJson is defaulting to show the data daily. (I believe that the default is `period: "P1D"`).

I thought the `period` would be used only if `times` was `null`.  So maybe this is the sign of a deeper problem.

[2016-01-14 16:50] BibMartin commented on #325
Hi @ocefpaf
See #326

[2016-01-14 18:31] #325 closed

[2016-01-14 18:38] ocefpaf opened #327 "Colors"
Right now we cannot pass RGB(A)s  (int or float) to the color arguments, like CircleMarker for example.  Most arguments expects HTML color codes only. (And they are failing silently :scream:)

With the new colormap stuff that @BibMartin created we can be more permissive with colors.
See my hack on cells [8] and [9], where I stole part of @BibMartin colormap machinery, here:

http://nbviewer.ipytho

[2016-01-14 20:21] ocefpaf commented on #324
Looking closer I am able to run most of the test notebooks I have.  The only failure so far was the TimeStampedGeoJSON.  I will keep looking into this...

[2016-01-14 20:21] #324 closed

[2016-01-14 20:29] #8 closed

[2016-01-14 20:29] ocefpaf commented on #8
Implemented in #297

[2016-01-14 21:15] ocefpaf commented on #289
I am not sure if we can handle the previous behavior in an elegant form.  `split_six` is working properly, but we are constructing the legend in a different way:

Before

[code]

Now

[code]

Note that we can just add a zero at the beginning of tge  `threshold_scale` returned from `split_six` to get something similar to the old behavior. But we would still have an extra color entry in the range sh

[2016-01-14 21:15] #289 closed

[2016-01-14 21:58] ocefpaf opened #328 "Leaflet timeDimension WMS"
We are using Leaflet timeDimension for `TimestampedGeoJson` plugin, but we could also add the WMS functionality:

[code]

I am just not sure if we should overload the standard WMS functionality with these options or create a separate plugin.

[2016-01-15 12:11] ocefpaf commented on #232
@BibMartin any idea on how to proper implement this?

In the old days of folium I would probably overload the `Map()` object to take a second `synced_tiles` `kwarg`.  However, I am sure that the new concept of Figures and Elements allow some flexibility to implement this properly.

[2016-01-15 12:33] ocefpaf commented on #245
@BibMartin  and @themiurgo can we close this one?

[2016-01-15 12:54] ocefpaf commented on #249
It turns out that implement this was relatively easy.  See #330

http://nbviewer.ipython.org/gist/ocefpaf/a502162cf7a472577033

[2016-01-15 12:54] ocefpaf commented on #249
@methodds I am guessing #210 is also a low hanging fruit.  Want to try :wink:

[2016-01-15 13:08] BibMartin commented on #232
Yes, it can either be an attribute in the Map object. I would think of something like

[code]
yielding

[code]

Or it can be a plugin.

[code]

In both cases, I guess a function creating back-and-forth sync would be useful.

[code]

I'd be glad to do this as soon as `v0.2` is out :wink:

[2016-01-15 13:08] #249 closed

[2016-01-15 13:14] ocefpaf commented on #232
Indeed!  Let's put out efforts on getting `v0.2` out of the door.  (Says the guy who got distracted by #330 :stuck_out_tongue_winking_eye:)

[2016-01-15 13:26] BibMartin commented on #232
And by https://github.com/jwass/mplleaflet/issues/35#issuecomment-171944932 :ghost:

[2016-01-15 13:28] ocefpaf commented on #232
Guilty :flushed:

[2016-01-15 14:03] ocefpaf commented on #298
Yep.  Closing this one too.

[2016-01-15 14:03] #298 closed

[2016-01-15 14:32] alexandercbooth opened #331 "Layered Choropleths"
Hi All,
I apologize if this is not the appropriate channel to ask this, but how might one go about implementing layered choropleths (each with data bound to them) on the same map in folium? For example, having something like a state choropleth layer, zip choropleth layer and county choropleth layer all in one map, instead of having three separate maps.
Thanks!

[2016-01-15 15:03] ocefpaf commented on #252
Let's close this issue and open a new one for the escape sequences.

[2016-01-15 15:03] #252 closed

[2016-01-15 15:10] BibMartin commented on #331
@alexandercbooth

This is alright. We are about to release `v0.2` and I took the occasion to add this feature (it's not possible yet).

You can see http://nbviewer.ipython.org/gist/BibMartin/affe53e6e577167d8de2 to see how it would work if PR #329 is accepted.

@ocefpaf
Sorry for the mess I doing here, but it seems to be a useful enhancement.

[2016-01-15 15:14] ocefpaf commented on #331
No problem.  I was going to suggest `folium.FeatureGroup`, but it would require more boilerplate code and I like this way better.

However, both ways suffer from the same issue (I think I reported somewhere)  All layers are active by default.  That will lead to an ugly visualization in the case above or unnecessary downloads when adding many optional tiles.

[2016-01-15 15:17] ocefpaf opened #332 "Popup text with escape sequences"
Do we want to support escape sequences like new line ('\n') and carriage return ('\r')?

It would be nice to get all python text as is into the popup, but maybe some workarounds are not worth pursuing.  What do you say @BibMartin?

We can workaround this issue by creating IFrames (see below), but manually choosing the width and height is a bummer.

http://nbviewer.ipython.org/gist/ocefpaf/154a9ded

[2016-01-15 15:38] alexandercbooth commented on #331
Hi @BibMartin,
That looks great (and in so few lines!), but is it possible to also bind external data to those geojson and topojson instances, like with the Map.choropleth?
Thanks again!

[2016-01-15 15:41] BibMartin commented on #331
Sure. I did not play on the styling in the example above.

All about new styling stuff is described in http://nbviewer.ipython.org/github/python-visualization/folium/blob/master/examples/GeoJSON%20and%20choropleth.ipynb

[2016-01-15 15:45] alexandercbooth commented on #331
Perfect, this was exactly what I was looking for.
Thanks so much!!

[2016-01-15 15:45] #331 closed

[2016-01-17 05:35] rrshaban opened #333 "Docs are outdated (currently 1.2)"
The [latest docs](http://folium.readthedocs.org/en/latest/) encourage use of `.simple_marker`, which results in a deprecation notice. Similar code is on the Readme for the Github page. There doesn't seem to be any mention of `add_children` in the docs or the Readme.

I've run into a couple other differences between the online docs and the code, which have presented a series of hurdles trying to us

[2016-01-17 12:03] ocefpaf commented on #333
Thanks for the report @rrshaban.  If you are using the latest release the docs should be outdated but OK.  If you are using master you'll have to wait until the bread is out of the oven :wink:

(Closing this.  Duplicated of #140)

[2016-01-17 12:03] #333 closed

[2016-01-18 08:04] BibMartin commented on #247
Fixed in #329

[2016-01-18 08:04] #247 closed

[2016-01-18 08:19] themiurgo commented on #247
Well done!

[2016-01-18 11:49] sgvandijk opened #335 "Support Leaflet Global Switches"
Leaflet provides a few global switches that can be set before including it on the page:

http://leafletjs.com/reference.html#global

It would be great if those are supported by Folium. For instance, `L_PREFER_CANVAS` can make a big difference when rendering many items, especially in Firefox.

[2016-01-18 15:12] BibMartin commented on #335
@sgvandijk
Thanks for the idea ; it's quite easy to plug on today's `master` and would be of great benefit.

If you feel like doing a PR for that... you'd be welcome.

[2016-01-24 18:35] themiurgo commented on #245
I don't think so, the codebase is still full of `add_children` rather than `add_child`.

[2016-01-24 19:23] ocefpaf commented on #245
This was partially addressed in https://github.com/BibMartin/folium/commit/2d6590dbe9b30b0fcfb256db1ccb16684152db54.

(We could use a hand to get `v0.2.0` out of the door.)

[2016-01-24 19:25] themiurgo commented on #245
(would love to help, but busy "as if there's no tomorrow" until February, thesis submission time!)

[2016-01-24 19:27] ocefpaf commented on #245
:scream: I am thankful that I am out of the university door :wink:

Good luck with your thesis!

[2016-01-24 19:36] themiurgo commented on #245
Thanks, can't wait to be done! :wink:

[2016-01-24 19:54] BibMartin commented on #245
:+1:

Good luck with your thesis!

:+1:

[2016-01-25 14:07] sgvandijk commented on #335
OK happy to work on that, not sure how soon I'll be able to, so don't have to block 0.2 for it ;)

[2016-01-26 21:57] keltonhalbert opened #338 "Polar Projections"
Does folium support polar projections, such as EPSG:3573? In fact, nearly any polar projection would be fine...